<a href="https://colab.research.google.com/github/sof1a03/DSS_groupproject/blob/main/RDW/RDW_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [183]:
import pandas as pd
import re
import unicodedata

In [184]:
# === Image enrichment config (add once) ===
import os, re, time, urllib.parse
import requests
from typing import List, Dict, Optional
from google.colab import files

GIMG_API_KEY = os.getenv("GOOGLE_API_KEY", "AIzaSyCsGoDVcx99QBb5Xd50BPCUFSEk0mN2XGA")
GIMG_CSE_ID   = os.getenv("GOOGLE_CSE_ID",  "26a5701f7452744ed")

GIMG_SLEEP_S = float(os.getenv("CSE_SLEEP_SECONDS", "0.25"))

In [185]:
df = pd.read_csv("/content/brand_model_peryear_with_images_2023_2025.csv", encoding="latin1")
print("Before cleaning:", df.shape)

Before cleaning: (13326, 20)

In [186]:
# 2Ô∏è‚É£ Create the list of brands to drop, CLEANING ALSO THE DATA WITH <4 MODEL FOR BRAND
brands_to_remove = [
    # üîß Coachbuilders / RV
    "AUTO-SLEEPERS", "AUTOSTAR", "BENIMAR", "BUNKERVAN", "BURSTNER", "CAMPEREVE", "CARTHAGO", "CHAUSSON",
    "CONCORDE", "CROSSCAMP", "DETHLEFFS", "DREAMER", "ETRUSCO", "EURA MOBIL", "FORSTER", "FRANKIA",
    "GLOBECAR", "GLOBE-TRAVELLER", "HOBBY", "HYMER", "ILUSION", "INDUSAUTO", "INNOVAN", "ITINEO",
    "KARMANN MOBIL", "KNAUS", "LAIKA", "LMC", "MCLOUIS", "MEGA MOBIL", "MOBILIZE", "MOBILVETTA",
    "MOOVEO", "MORELO", "NIESMANN+BISCHOFF", "NOTIN", "PILOTE", "POESSL", "RAPIDO", "RIMOR", "ROBETA",
    "ROLLER TEAM", "SEA / MC LOUIS", "SUN LIVING", "TRIGANO", "VANSTER", "VANTOURER", "WEINSBERG",
    "WESTFALIA", "WINGAMM", "WINNEBAGO", "ALFA", "ALPINE", "ALRENDO", "AMC JEEP", "ANDES", "API CZ", "ARCA",
    "ARCTIC CAT", "ARCTIC LEOPARD", "ARIEL", "BAIC", "BAJAJ", "BASHAN", "BEDFORD", "BENDA", "BOMBARDIER", "BOMBARDIER RECR.PROD.INC",
    "BOOM", "BORILE", "BARABUS", "BRAVIA", "BRP", "BSA", "BUELL", "BUICK", "BULLIT", "BURSTNER S.A.",
    "C.I.", "CACCIAMALI", "CAGIVA", "CAKE", "CAN-AM", "CAOFEN", "CAPCIR", "CARROCERIA AMELINE", "CATERHAM CARS LTD", "CCM", "CELA",
    "CHANGAN", "CHANGJIANG", "CLEVER", "COXX", "D.A.C.", "DAELIM", "DAEWOO", "DAYI MOTOR", "DENZA", "DERBI", "ELNAGH",
    "JAGUAR LAND ROVER", "LAIKA CARAVANS S.P.A.", "G.M.C.",

    # üõ†Ô∏è Upfitters / body builders
    "ABT E-LINE", "AL-KO KOBER SE", "ALLIED VEHICLES LTD", "AUTO GALERIA", "BAVARIA", "BINZ", "BLOOMFIELDS",
    "BRIERMAN", "CAPRON", "CARPOL", "CARROCERIAS MINDA", "CTE", "DANGEL", "DIGICROSS", "IGLOOCAR",
    "IZOTERMY TIM", "JEGGER", "KEGGER", "LAMAR", "MOTOWEKTOR", "MRAUTO", "PARTNER", "PEZETMOT", "PLANDEX",
    "POLMAR", "PRENTKI", "TENSA", "VOLTIA", "CITROEN FLEURETTE", "CITROEN/IZOTERMY TIM", "CITROEN-DS",
    "DACIA-ROMTURINGIA", "DAIMLERCHRYSLER", "DAIMLERCHRYSLER (USA)", "DECARAD/VW",
    # üõª Upfitted combos
    "FORD/AUTO GALERIA", "IVECO/JEGGER", "MERCEDES-BENZ/MC", "PEUGEOT/IZOTERMY TIM", "RENAULT/GRUAU", "VOLKSWAGEN/PLANDEX",
    "BMW/ALPINA", "BMW-GLAS",

    # üèóÔ∏è Platforms / internal codes
    "AUTOMOTIVE", "AUTOMOBILI LAMBORGHINI S.", "BRAND", "CC", "CS", "CI", "ATM", "AT.M", "CO.ME.AR.", "CRTRX",
    "DCL", "E.GO", "ITS SYSTEM", "MC", "MR", "SMNTH", "STX", "TEC", "TRMOTOR", "ZEFIR",

    # ‚ùó Likely typos or non-existent
    "3A3", "ACORD", "ACORD / IVECO", "ACROSS", "ARCHIVE MOTORCYCLE", "BIERMAN", "CARGOLEV", "CARICE", "CINECO",
    "CUSTOM TWINS", "DE LOOMAN", "DOBO", "E-TON", "EXCAR", "GOUPIL", "HANCON", "HENREY", "HVM", "IAV", "IIC",
    "JIAJUE", "JIAYUAN", "JIMING", "JINCHENG", "JINLING", "JINMA", "JONWAY", "JUNGE FAHRZEUGBAU",
    "KAMIL NADWOZIA", "KONINGS", "MAESSS", "MC LAREN", "MEV", "MIA", "MOBIL PARTNER", "MOTORBIKE", "MOTRAC",
    "NEWBOT", "NOSMOKE", "OKLA", "OMARS", "OVRIGA", "P.L.A.", "PGO", "QUADDY", "QUATTRO", "REGARD", "RELIVE",
    "RETELLI", "RUNHORSE", "SCATTOLINI", "SCUTUM", "SHINERAY", "SIERRA", "SOLOMON", "SOMMER GMBH",
    "SPY RACING", "SPYRACING", "STANDARD MOTOR CORP.", "STANFORD", "SWAPPER", "SWIFT GROUP LIMITED",
    "TODAY SUNSHINE", "TOTH ES FIAI", "TRANSPOL", "TREVOR MOTORCYCLES", "UM", "UP S.R.L.", "VAN BLITTERSWIJK",
    "VECTRIX", "VFS", "VMRACING", "VOGEPRO", "VOLTAMP", "WAYSCRAL", "WESTFALEN MOBIL", "WM MOTOR", "XDAO",
    "XEV", "XGO", "XINGYUE", "XINYANG", "YUCON", "YUEDA-HUMAN HORIZONS", "ZAZ", "ZEEHO", "ZENOS", "ZHEN",
    "ZHENHUA", "ZNEN"
]
df_cleaned = df[~df["brand"].isin(brands_to_remove)].copy()

brand_counts = df_cleaned["brand"].value_counts()
small_brands = brand_counts[brand_counts <= 10].index
df_cleaned = df_cleaned[~df_cleaned["brand"].isin(small_brands)]

print(f"‚úÖ Removed {len(small_brands)} brands with fewer than 8 models.")

# 3.2 ‚Äî Drop brands that contain '/' in the name
mask_slash = df_cleaned["brand"].str.contains("/", regex=False)
slash_brands = df_cleaned.loc[mask_slash, "brand"].unique()
df_cleaned = df_cleaned[~mask_slash]

print(f"‚úÖ Removed {len(slash_brands)} brands that contained '/' in the name.")

# Final check
print("‚úÖ Final cleaned dataset shape:", df_cleaned.shape)
print("‚úÖ Remaining brands:", df_cleaned['brand'].nunique())
print("After cleaning:", df_cleaned.shape)

‚úÖ Removed 426 brands with fewer than 8 models.
‚úÖ Removed 0 brands that contained '/' in the name.
‚úÖ Final cleaned dataset shape: (9657, 20)
‚úÖ Remaining brands: 100
After cleaning: (9657, 20)

In [187]:
def _u(s: str) -> str:
    s = unicodedata.normalize("NFKC", str(s))
    s = s.replace("√Ø¬ø¬Ω", "√©").replace("√É¬©", "√©").replace("√É", "").replace("√Ç", "")
    s = re.sub(r"\s+", " ", s).strip()
    return s

In [188]:
def _empty(u: str) -> bool:
    return not u or u in {"-", "NAN", "N/A", "NULL"}

In [189]:
def _report(df, brand_label):
    m = df["brand"].str.fullmatch(brand_label, case=False, na=False)
    before_rows = m.sum()
    before_models = df.loc[m, "model"].nunique(dropna=True)
    print(f"[{brand_label}] BEFORE: rows={before_rows}, unique_models={before_models}")
    return m, before_rows, before_models

def _after_report(df, brand_label, before_rows, before_models):
    m2 = df["brand"].str.fullmatch(brand_label, case=False, na=False)
    after_rows = m2.sum()
    after_models = df.loc[m2, "model"].nunique(dropna=True)
    print(f"[{brand_label}] AFTER:  rows={after_rows}, unique_models={after_models}  (Œîrows={after_rows-before_rows}, Œîmodels={after_models-before_models})\n")

In [190]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9657 entries, 0 to 13322
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   brand                        9657 non-null   object
 1   model                        9647 non-null   object
 2   fuel_types_primary           9657 non-null   object
 3   economy_rate                 894 non-null    object
 4   resold_flag                  9657 non-null   int64
 5   inrichting_std               9657 non-null   object
 6   seats_median                 9657 non-null   float64
 7   mass_empty_median            9655 non-null   float64
 8   length_median                6688 non-null   float64
 9   width_median                 7148 non-null   float64
 10  wheelbase_median             9657 non-null   float64
 11  pw_ratio_median              9656 non-null   float64
 12  datum_eerste_toelating_year  9657 non-null   int64
 13  count_2023                   9657 non-null   float64
 14  count_2024                   9657 non-null   float64
 15  count_2025                   9657 non-null   float64
 16  avg_2023                     6248 non-null   float64
 17  avg_2024                     6309 non-null   float64
 18  avg_2025                     5450 non-null   float64
 19  image_url                    9657 non-null   object
dtypes: float64(12), int64(2), object(6)
memory usage: 1.5+ MB

## Audi

In [191]:
def _normalize_audi_model(s: str) -> str:
    s = _u(s)
    s = s.title()
    s = s.replace("√Ø¬ø1‚ÅÑ2", "√©")
    s = s.replace("√Ø¬ø¬Ω", "√©")                                 # e.g., A3 Sportback
    s = re.sub(r"\bE-Tron\b", "e-tron", s)
    s = re.sub(r"\bQuattro\b", "quattro", s)
    s = re.sub(r"\bTfsi\b", "TFSI", s)
    s = re.sub(r"\bTdi\b", "TDI", s)
    s = re.sub(r"\bGte\b", "GTE", s)
    s = re.sub(r"\bGtd\b", "GTD", s)
    s = re.sub(r"\bG-Tron\b", "g-tron", s)
    s = re.sub(r"\bSb\b", "Sportback", s)           # SB ‚Üí Sportback
    s = re.sub(r"\bAv\b", "Avant", s)               # AV ‚Üí Avant
    s = re.sub(r"\bCoupe\b", "Coup√©", s)
    s = re.sub(r"\bCoup[e√©]\b", "Coup√©", s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

# mask for Audi rows
_mask_audi = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("AUDI")

# apply normalization ONLY to Audi rows, in-place on the model column
df_cleaned.loc[_mask_audi, "model"] = (
    df_cleaned.loc[_mask_audi, "model"].astype(str).map(_normalize_audi_model)
)

print("‚úÖ Audi models cleaned in-place. Rows affected:", _mask_audi.sum())

‚úÖ Audi models cleaned in-place. Rows affected: 448

## Adria

In [192]:
def _normalize_adria_model(s: str) -> str:
    """
    Canonicalize ADRIA model names:
    - Uppercase tokens (TWIN, CORAL, MATRIX, SONIC, COMPACT, SUPERSONIC, S-SERIES, etc.)
    - Insert spaces between letter‚Üîdigit boundaries: 640SLB ‚Üí 640 SLB, I600SC ‚Üí I 600 SC, A670 ‚Üí A 670
    - Normalize frequent variants: SUPER SONIC ‚Üí SUPERSONIC, XL/A ‚Üí XL A
    - Collapse/standardize code tokens (SL, SLB, SLX, SC, SCT, DL, DC, DK, SGX, SPB, SPT, SPX, SHX, SLT, SBC, SLG, etc.)
    """
    s = _u(s).upper()

    # normalize obvious variants
    s = s.replace("SUPER SONIC", "SUPERSONIC")
    s = re.sub(r"\bI600", "I 600", s)          # SONIC I600SC ‚Üí SONIC I 600 SC
    s = re.sub(r"\bI700", "I 700", s)
    s = re.sub(r"\bI810", "I 810", s)

    # ensure space between letter‚Üîdigit boundaries both directions
    s = re.sub(r"(?<=\d)(?=[A-Z])", " ", s)    # ...600SC ‚Üí 600 SC, 670DL ‚Üí 670 DL
    s = re.sub(r"(?<=[A-Z])(?=\d)", " ", s)    # A670 ‚Üí A 670, MB670 ‚Üí MB 670

    # collapse multiple spaces once more
    s = re.sub(r"\s+", " ", s).strip()

    # Normalize separators inside series groups (XL/A 670 SL etc.)
    # e.g., "XL A670 SL" -> "XL A 670 SL" is already handled by letter‚Üîdigit rules

    # Canonicalize known series keywords (keep them as ADRIA uses):
    # TWIN / CORAL / MATRIX / SONIC / SUPERSONIC / COMPACT / S-SERIES / VAN / ACTIVE / SPORT / SPORTS / LIDO / C-SERIES / AXESS / PLUS / SUPREME / MAX / MB / XL / S
    # Just make sure they are separated with single spaces already.

    # Normalize repeated spacing around single letters inside series tags: "M  670SLT" ‚Üí "M 670 SLT"
    s = re.sub(r"\b([MSAIVX]|MB|XL)\s+(?=\d)", r"\1 ", s)

    # Ensure code tokens are separated (if something weird slipped):
    code_tokens = r"SLX|SLB|SLT|SLG|SL|SC|SCT|SPB|SPT|SPX|SGX|SHX|DL|DC|DK|DT|DS|MB|XL|I|S|M|A|C|X"
    s = re.sub(rf"\b(\d{{2,4}})\s*({code_tokens})\b", r"\1 \2", s)

    # Final tidy
    s = re.sub(r"\s+", " ", s).strip()
    return s

# Mask ADRIA (also merge ADRIA MOBIL into ADRIA)
mask_adria = df_cleaned["brand"].astype(str).str.upper().str.strip().isin(["ADRIA", "ADRIA MOBIL"])
affected_before = mask_adria.sum()

# Unify brand name
df_cleaned.loc[df_cleaned["brand"].astype(str).str.upper().str.strip() == "ADRIA MOBIL", "brand"] = "ADRIA"

# Normalize models for ADRIA rows IN-PLACE
df_cleaned.loc[mask_adria, "model"] = df_cleaned.loc[mask_adria, "model"].astype(str).map(_normalize_adria_model)

# Drop ADRIA duplicates (brand+model) but keep other brands as-is
adria_df = df_cleaned[mask_adria].copy()
others_df = df_cleaned[~mask_adria].copy()

before_dupes = adria_df.shape[0]
adria_df = adria_df.drop_duplicates(subset=["brand", "model"]).reset_index(drop=True)
after_dupes = adria_df.shape[0]

# Recombine
df_cleaned = pd.concat([others_df, adria_df], ignore_index=True)

print(f"‚úÖ ADRIA rows normalized: {affected_before}")
print(f"üßπ ADRIA duplicates removed: {before_dupes - after_dupes}")

‚úÖ ADRIA rows normalized: 183
üßπ ADRIA duplicates removed: 44

## Alfa Romeo

In [193]:
# Merge 'ALFA' into 'ALFA ROMEO'
df_cleaned.loc[df_cleaned["brand"].astype(str).str.upper().str.strip() == "ALFA", "brand"] = "ALFA ROMEO"

# Mask for Alfa Romeo
_mask_alfa = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("ALFA ROMEO")
print("Alfa Romeo rows before:", _mask_alfa.sum())

def _normalize_alfa_model(s: str) -> str:
    s = _u(s).upper()

    # strip brand prefixes in model field
    s = re.sub(r"^\s*(ALFA\s+ROMEO|ALFA)\s+", "", s)

    # common typos / aliases
    s = s.replace("GUILIETTA", "GIULIETTA")
    s = s.replace("ALFA BRERA", "BRERA")
    s = s.replace("ALFA SPIDER", "SPIDER")
    s = s.replace("159SW", "159 SPORTWAGON")
    s = s.replace("AR8C SPIDER", "8C SPIDER")
    s = s.replace("QUADRIFOGLIO VERDE", "QUADRIFOGLIO")

    # normalize separators/spaces: digits<->letters spacing
    s = re.sub(r"(?<=\d)(?=[A-Z])", " ", s)   # 1.4TB -> 1.4 TB, 2.0Q4 -> 2.0 Q4
    s = re.sub(r"(?<=[A-Z])(?=\d)", " ", s)   # TI4 -> TI 4 (rare)

    # decimal comma to dot in engine sizes
    s = re.sub(r"(\d),(\d)", r"\1.\2", s)     # 1,4 -> 1.4

    # standardize tokens/cases we‚Äôll fix after titlecasing
    # (leave as upper now, then apply title-case with exceptions)
    s = re.sub(r"\bQ4\b", "Q4", s)
    s = re.sub(r"\bTI\b", "TI", s)
    s = re.sub(r"\bTB\b", "TB", s)

    # title case baseline
    s = s.title()

    # restore proper stylings
    s = re.sub(r"\bQ4\b", "Q4", s)
    s = re.sub(r"\bTi\b", "Ti", s)
    s = re.sub(r"\bTb\b", "TB", s)

    # model name canonicalizations
    s = s.replace("Mito", "MiTo")
    s = s.replace("Giulia Gtam", "Giulia GTAm")
    s = s.replace("4C Spider", "4C Spider")
    s = s.replace("8C Competizione", "8C Competizione")
    s = s.replace("Quadrifoglio", "Quadrifoglio")  # keep as is
    s = s.replace("Sportwagon", "Sportwagon")      # keep English form
    s = s.replace("Edizione Speciale", "Edizione Speciale")

    # collapse spaces again
    s = re.sub(r"\s+", " ", s).strip()
    return s

# Apply normalization to Alfa rows
df_cleaned.loc[_mask_alfa, "model"] = df_cleaned.loc[_mask_alfa, "model"].astype(str).map(_normalize_alfa_model)

# Drop exact duplicates for Alfa (brand+model) while keeping others intact
alfa_df   = df_cleaned[_mask_alfa].copy()
others_df = df_cleaned[~_mask_alfa].copy()
before = alfa_df.shape[0]
alfa_df = alfa_df.drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
after = alfa_df.shape[0]

df_cleaned = pd.concat([others_df, alfa_df], ignore_index=True)

print(f"‚úÖ Alfa Romeo normalized. Duplicates removed: {before - after}")
print("Dataset shape now:", df_cleaned.shape)

Alfa Romeo rows before: 33
‚úÖ Alfa Romeo normalized. Duplicates removed: 5
Dataset shape now: (9608, 20)

## Alpine

In [194]:
# ----- ALPINA -----
m_alpina = df_cleaned["brand"].str.upper().eq("ALPINA")
print("ALPINA rows before:", m_alpina.sum())

def _norm_alpina(s: str) -> str:
    su = _u(s).upper()
    # fix encoding & spelling
    su = su.replace("COUP√É‚Ä∞", "COUP√â").replace("COUP√É¬©", "COUP√â")
    su = su.replace("COUP√É∆í√Ç‚Ä∞", "COUP√â").replace("GRAN COUP√É‚Ä∞", "GRAN COUP√â")
    su = su.replace("BI-TURBO", "BITURBO").replace("BI TURBO", "BITURBO")
    su = su.replace("ALLRAD", "xDrive")
    su = su.replace("LIMOUSINE", "Limousine")
    su = su.replace("B7 BI-TURBO", "B7 Biturbo")
    su = re.sub(r"\bXB7\b", "XB7", su)
    su = re.sub(r"\bXD(\d)\b", r"XD\1", su)
    # tidy spacing like "B5 GT Touring xDrive"
    t = su.title()
    keep = [
        "B3","B3 Touring","B3 Limousine","B3 Biturbo","B3 Biturbo Touring","B3 S Biturbo Cabrio","B3 S Biturbo Touring","B3 S Biturbo Touring Xdrive",
        "B4","B4 Biturbo Cabrio","B4 Biturbo Coup√©","B4 Biturbo Coup√© Xdrive","B4 Gran Coup√©","B4 S Biturbo Coup√© Allrad Edition 99",
        "B5","B5 Biturbo","B5 Biturbo Allrad","B5 Biturbo Touring","B5 Touring Xdrive","B5 Allrad","B5 Gt","B5 Gt Touring Xdrive",
        "B6 Biturbo","B7 Biturbo Allrad","B8",
        "D3 Biturbo Touring","D3 Biturbo Touring Allrad","D3 S Touring",
        "D5 Biturbo","D5 S Allrad","D5 S Touring Allrad",
        "Xd3","Xd4","Xb7"
    ]
    # Re-apply exact tokens/casing
    for k in keep:
        t = re.sub(rf"\b{re.escape(k.title())}\b", k, t)
    # small cleanups
    t = t.replace("Xdrive", "xDrive").replace("Gt", "GT")
    return t.strip()

df_cleaned.loc[m_alpina, "model"] = df_cleaned.loc[m_alpina, "model"].map(_norm_alpina)

alp = df_cleaned[m_alpina].drop_duplicates(["brand","model"])
df_cleaned = pd.concat([df_cleaned[~m_alpina], alp], ignore_index=True)
print("‚úÖ ALPINA done. Kept:", alp.shape[0])

# ----- APRILIA -----
m_apr = df_cleaned["brand"].str.upper().eq("APRILIA")
print("APRILIA rows before:", m_apr.sum())

def _norm_aprilia(s: str) -> str:
    su = _u(s).upper()
    # drop obvious junk/placeholder
    if su in {"NAN","APRILIA","RA","RB","RC","RD","RM","RV","VB","VR","SM"}:
        return ""
    # common fixes
    su = su.replace("TUONNO", "TUONO")
    su = su.replace("RS660", "RS 660")
    su = su.replace("RSV 4", "RSV4")
    su = re.sub(r"\(.*?\)", "", su)  # drop power notes like (35 KW)
    t = su.title().replace("Rsv4", "RSV4").replace("Tuono", "Tuono").replace("Rs ", "RS ")
    t = t.replace("Sr-Motard", "SR Motard").replace("Sr Gt", "SR GT")
    return re.sub(r"\s+", " ", t).strip()

df_cleaned.loc[m_apr, "model"] = df_cleaned.loc[m_apr, "model"].map(_norm_aprilia)
apr = df_cleaned[m_apr]
apr = apr[apr["model"] != ""].drop_duplicates(["brand","model"])
df_cleaned = pd.concat([df_cleaned[~m_apr], apr], ignore_index=True)
print("‚úÖ APRILIA done. Kept:", apr.shape[0])

ALPINA rows before: 38
‚úÖ ALPINA done. Kept: 36
APRILIA rows before: 46
‚úÖ APRILIA done. Kept: 30

## Aston Martin

In [195]:
m_am = df_cleaned["brand"].str.upper().eq("ASTON MARTIN")
print("ASTON MARTIN rows before:", m_am.sum())

def _norm_aston(s: str) -> str:
    su = _u(s).upper()
    su = su.replace("ASTON MARTIN", "").strip()
    # standardize DB names/spaces
    su = su.replace("DB 9", "DB9").replace("DB 11", "DB11").replace("DB 12", "DB12")
    su = su.replace("DB VANQUISH V12", "VANQUISH")
    su = re.sub(r"\bDBS\s+770\s+ULTIMATE\s+VOLANTE\b", "DBS 770 Ultimate Volante", su, flags=re.I)
    # dedupe "VOLANTE" & trim variants
    t = su.title()
    # keep canonical tokens
    keep = [
        "DB12","Db12 Volante","Db11","Db11 Volante","Db11 Amr","Db9","Db9 Volante","Db12 Volante",
        "Dbx","Dbx707","DbS","Dbs 770 Ultimate Volante",
        "Vantage","Vantage Roadster","Vantage F1 Edition","Vantage Roadster F1 Edition","Vantage S","Vantage R",
        "V8 Vantage","V8 Vantage S","V8 Vantage Roadster","V8 Vantage Amr",
        "V12 Vantage","V12 Vantage S","V12 Vantage Amr","V12 Vantage Roadster","V12 Vantage S Roadster",
        "Vanquish","Vanquish Coupe","Vanquish Volante","Vanquish S Volante","Vanquish Zagato Shooting Brake",
        "Rapide","Rapide S","Cygnet","Speedster","Virage","V12 Zagato","Db12 Volante"
    ]
    for k in keep:
        t = re.sub(rf"\b{re.escape(k.title())}\b", k, t)
    t = t.replace("Db", "DB").replace("Dbs", "DBS")
    return re.sub(r"\s+", " ", t).strip()

df_cleaned.loc[m_am, "model"] = df_cleaned.loc[m_am, "model"].map(_norm_aston)
am = df_cleaned[m_am].drop_duplicates(["brand","model"])
df_cleaned = pd.concat([df_cleaned[~m_am], am], ignore_index=True)
print("‚úÖ ASTON MARTIN done. Kept:", am.shape[0])

ASTON MARTIN rows before: 49
‚úÖ ASTON MARTIN done. Kept: 42

## Benelli

In [196]:
_mask_benelli = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("BENELLI")
print("BENELLI rows before:", _mask_benelli.sum())
def _normalize_benelli(s: str) -> str:
    s = _u(s).upper()
    # remove brand prefix inside model field
    s = re.sub(r"^\s*BENELLI\s+", "", s)

    # normalize family names
    s = s.replace("LEONCINO", "Leoncino")
    s = s.replace("IMPERIALE", "Imperiale")
    s = s.replace("TORNADO", "Tornado")
    s = s.replace("TNT", "TNT")
    s = s.replace("BN", "BN")
    s = s.replace("TRK", "TRK")
    s = s.replace("RKX", "RKX")

    # normalize spacing between letters/digits/tokens (e.g., TRK502 ‚Üí TRK 502)
    s = re.sub(r"(?<=[A-Z])(?=\d)", " ", s)
    s = re.sub(r"(?<=\d)(?=[A-Z])", " ", s)
    s = re.sub(r"\s*X\b", " X", s)  # ensure ' X' suffix
    s = re.sub(r"\s+", " ", s).strip()

    # common canonical forms
    s = s.replace("TORNADO NAKED T 125", "Tornado Naked T 125")
    s = s.replace("502C CRUISER", "502C")
    s = s.replace("BN600I", "BN 600 I")
    s = s.replace("BN302", "BN 302")
    s = s.replace("BN125", "BN 125")
    s = s.replace("TRK502 X", "TRK 502 X")
    s = s.replace("TRK502", "TRK 502")

    # title case models but preserve known uppercase tokens
    t = s.title()
    for tok in ["TRK","TNT","BN","RKX","X","125","250","302","400","500","502","550","600","640","702","752","800"]:
        t = re.sub(rf"\b{tok.title()}\b", tok, t)
    # ensure 'X' is separated and upper
    t = re.sub(r"\b([0-9]{3})\s*x\b", r"\1 X", t, flags=re.I)

    return re.sub(r"\s+", " ", t).strip()

df_cleaned.loc[_mask_benelli, "model"] = df_cleaned.loc[_mask_benelli, "model"].astype(str).map(_normalize_benelli)

ben_df, others = df_cleaned[_mask_benelli].copy(), df_cleaned[~_mask_benelli].copy()
before = ben_df.shape[0]
ben_df = ben_df.drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, ben_df], ignore_index=True)
print(f"‚úÖ BENELLI normalized. Duplicates removed: {before - ben_df.shape[0]}")

BENELLI rows before: 28
‚úÖ BENELLI normalized. Duplicates removed: 6

## BENTLEY

In [197]:
_mask_bentley = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("BENTLEY")
print("BENTLEY rows before:", _mask_bentley.sum())

def _normalize_bentley(s: str) -> str:
    s = _u(s).upper()

    # strip brand prefix
    s = re.sub(r"^\s*BENTLEY\s+", "", s)

    # canonical model families
    families = [
        "CONTINENTAL GT","CONTINENTAL GTC","CONTINENTAL SUPERSPORTS",
        "FLYING SPUR","MULSANNE","BENTAYGA"
    ]
    # common typos
    s = s.replace("CONTINTENTAL", "CONTINENTAL")

    # normalize short forms
    s = s.replace("CONV.", "CONVERTIBLE")

    # ensure consistent tokens
    tokens_keep_up = ["V8","W12","S","SPEED","MULLINER","AZURE","HYBRID","CONVERTIBLE","EDITION 12",
                      "EXTENDED WHEELBASE","GT3-R","EWB","ODYSSEAN EDITION"]
    # space management
    s = re.sub(r"\s+", " ", s).strip()

    # title-case then restore tokens
    t = s.title()
    for fam in families:
        t = re.sub(rf"\b{fam.title()}\b", fam.title(), t)
    for tok in tokens_keep_up:
        t = re.sub(rf"\b{tok.title()}\b", tok, t)

    # normalize Bentayga EWB variants
    t = t.replace("Extended Wheelbase", "Extended Wheelbase")
    # put engine/trim tokens after family when scrambled
    t = re.sub(r"^(Continental Gt|Continental Gtc)\s+(V8 S|V8|Speed|Mulliner)(?:\s+Convertible)?$",
               r"\1 \2", t)
    # Keep Convertible at end when present
    t = re.sub(r"^(Continental Gt|Continental Gtc) (.*) Convertible$", r"\1 \2 Convertible", t)

    # de-dup repeated tokens (e.g., 'Azure V8' repeated)
    t = re.sub(r"\b(\w+)\b(?:\s+\1\b)+", r"\1", t, flags=re.I)

    return re.sub(r"\s+", " ", t).strip()

df_cleaned.loc[_mask_bentley, "model"] = df_cleaned.loc[_mask_bentley, "model"].astype(str).map(_normalize_bentley)

bent_df, others = df_cleaned[_mask_bentley].copy(), df_cleaned[~_mask_bentley].copy()
before = bent_df.shape[0]
bent_df = bent_df.drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, bent_df], ignore_index=True)
print(f"‚úÖ BENTLEY normalized. Duplicates removed: {before - bent_df.shape[0]}")

BENTLEY rows before: 80
‚úÖ BENTLEY normalized. Duplicates removed: 25

## BMW

In [198]:
# Fix stray "BMW I" brands
df_cleaned.loc[
    df_cleaned["brand"].astype(str).str.upper().str.strip().eq("BMW I"),
    "brand"
] = "BMW"

_mask_bmw = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("BMW")
print("BMW rows before:", _mask_bmw.sum())

def _normalize_bmw(s: str) -> str:
    s = _u(s).upper()

    # remove brand echoes ("BMW", "BMW I")
    s = re.sub(r"^\s*BMW(?:\s+I)?\s+", "", s)

    # robust typo/variant fixes
    fixes = {
        # Efficient Dynamics typos / variants
        "DYNAMICSRIVE": "DYNAMICS DRIVE",
        "EFFICIENTDYNAMICS": "EFFICIENT DYNAMICS",
        "EFFICIENT  DYNAMICS": "EFFICIENT DYNAMICS",

        # series / range wording
        "X RHEIHE": "X REIHE", "X REIHE": "X REIHE",
        "Z REIHE": "Z REIHE",
        "1ER REIHE": "1ER REIHE", "3ER REIHE": "3ER REIHE", "4ER REIHE": "4ER REIHE",
        "5ER REIHE": "5ER REIHE", "6ER REIHE": "6ER REIHE", "7ER REIHE": "7ER REIHE",
        "5ER GRAN TURISMO REIHE": "5ER GRAN TURISMO REIHE",
        "SERIE X": "X REIHE",

        # drivetrain / trims
        "S-DRIVE": "SDRIVE", "SDRIVE": "SDRIVE", "XDRIVE": "XDRIVE",
        "E DRIVE": "EDRIVE", "EDRIVE": "EDRIVE",
        "I PERFORMANCE": "IPERFORMANCE", "I-PERFORMANCE": "IPERFORMANCE",

        # model spellings
        "GRAN COUPE": "GRAN COUPE", "GRAND COUPE": "GRAN COUPE", "COUPE": "COUPE",
        "ACTIVE HYBRID": "ACTIVEHYBRID", "ACTIVEHYBRID": "ACTIVEHYBRID",

        # motorcycle spacings
        "R NINE T": "R NINE T", "R NINE-T": "R NINE T", "RNINE T": "R NINE T", "NINET": "NINE T",
        "R1200GS": "R 1200 GS", "R1250GS": "R 1250 GS",
        "F800GS": "F 800 GS", "F850GS": "F 850 GS",
        "R1200": "R 1200", "R1250": "R 1250",
        "K1600": "K 1600", "K1300": "K 1300",
        "CE04": "CE 04", "C400": "C 400", "C650": "C 650",

        # misc
        "M SPORT": "M SPORT"
    }
    for k, v in fixes.items():
        s = s.replace(k, v)

    # put spaces between letters and digits (and vice versa)
    s = re.sub(r"(?<=[A-Z])(?=\d)", " ", s)
    s = re.sub(r"(?<=\d)(?=[A-Z])", " ", s)
    s = re.sub(r"\s+", " ", s).strip()

    # title case baseline
    t = s.title()

    # enforce canonical casings
    # i-series (i4, i5, i7) and iX family
    t = re.sub(r"\bI\s*(\d)\b", r"i\1", t)           # "I 5" -> "i5"
    t = re.sub(r"\bIx\s*(\d)\b", r"iX \1", t)        # "Ix 1" -> "iX 1"
    t = re.sub(r"\bIx\b", "iX", t)                   # "Ix"   -> "iX"

    # xDrive / sDrive / eDrive / iPerformance
    t = re.sub(r"\bXdrive\b", "xDrive", t)
    t = re.sub(r"\bSdrive\b", "sDrive", t)
    t = re.sub(r"\bEdrive\b", "eDrive", t)
    t = re.sub(r"\bIperformance\b", "iPerformance", t)

    # Gran Coup√©
    t = t.replace("Gran Coupe", "Gran Coup√©")

    # Efficient Dynamics / Dynamics Drive (keep as info; comment next line to remove)
    # If you want to DROP the suffix entirely, uncomment the regex below.
    t = t.replace("Efficient Dynamics", "Efficient Dynamics")
    t = t.replace("Dynamics Drive", "Dynamics Drive")
    # t = re.sub(r"\s*Efficient Dynamics(?:\s*Drive)?\b", "", t).strip()

    # motorcycles final tweaks
    t = re.sub(r"\bR\s+Nine\s*T\b", "R nineT", t)  # proper camel-case for nineT
    t = re.sub(r"\bNine T\b", "nineT", t)

    # fix spacing variants again
    t = re.sub(r"\s+", " ", t).strip()

    return t

# Apply normalization
df_cleaned.loc[_mask_bmw, "model"] = (
    df_cleaned.loc[_mask_bmw, "model"].astype(str).map(_normalize_bmw)
)

# Dedupe BMW rows by (brand, model)
bmw_df  = df_cleaned[_mask_bmw].copy()
others  = df_cleaned[~_mask_bmw].copy()
before  = bmw_df.shape[0]
bmw_df  = bmw_df.drop_duplicates(subset=["brand", "model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, bmw_df], ignore_index=True)

print(f"‚úÖ BMW normalized. Duplicates removed: {before - bmw_df.shape[0]}")

BMW rows before: 876
‚úÖ BMW normalized. Duplicates removed: 312

##BUERSTNER

In [199]:
# Unify brand spellings
brand_upper = df_cleaned["brand"].astype(str).str.upper().str.strip()
mask_burstner = brand_upper.isin(["BUERSTNER", "BURSTNER", "BURSTNER GMBH", "BURSTNER GMBH.", "BURSTNER GMBH"])
df_cleaned.loc[mask_burstner, "brand"] = "BURSTNER"
print("BURSTNER rows before:", mask_burstner.sum())

# Canonicalize model codes
# Added "T" as possible prefix for T720-style codes
code_prefix = r"(?:BT|BI|BC|BA|BUA|BUI|BUT|T)"
named_lines = [
    "LYSEO", "IXEO", "ELEGANCE", "DELFIN", "TRAVEL VAN", "CITY CAR"
]

garbage_patterns = [
    r"^BT\.*\.*\.\.$", r"^BT\.\.\.\.,?\s*BC\.\.\.\.$", r"^BT\.\.\.\.,?BC\.\.\.\.$",
    r"^BT\.\.\.\.$", r"^BC\.\.\.\.$", r"^\d{3,4}$"
]

def _normalize_burstner_model(s: str) -> str:
    s = _u(s).upper()

    # Drop explicit garbage early
    for pat in garbage_patterns:
        if re.fullmatch(pat, s):
            return ""

    # üîπ Remove parenthetical junk like "(IXEO T , M2T19007/8)"
    s = re.sub(r"\(.*?\)", "", s)

    # üîπ Common variants like "BU I727" -> "BUI 727"
    s = re.sub(r"\bBU\s*I(\d+)\b", r"BUI \1", s)

    # üîπ Ensure space between prefix and digits: BT6905 -> BT 6905
    s = re.sub(rf"\b({code_prefix})\s*([0-9]{{3,4}})\b", r"\1 \2", s)

    # üîπ Handle codes with suffix letters (rare): BT7005A -> BT 7005 A
    s = re.sub(rf"\b({code_prefix})\s*([0-9]{{3,4}})([A-Z])\b", r"\1 \2 \3", s)

    # üîπ Normalize named lines (keep nice case)
    s = s.replace("IXEO I", "IXEO I ")
    s = s.replace("IXEO T", "IXEO T ")
    s = s.replace("LYSEO ID", "LYSEO ID ")
    s = s.replace("CITY CAR", "CITY CAR")

    # üîπ Title for readability but keep code prefixes uppercase
    t = s.title()
    for keep in ["BT", "BI", "BC", "BA", "BUA", "BUI", "BUT", "T", "IXEO", "LYSEO", "DELFIN", "Elegance", "Travel Van", "City Car", "ID"]:
        t = re.sub(rf"\b{keep.title()}\b", keep, t)

    # üîπ Tighten multiple spaces
    t = re.sub(r"\s+", " ", t).strip()
    return t

# normalization
df_cleaned.loc[mask_burstner, "model"] = df_cleaned.loc[mask_burstner, "model"].astype(str).map(_normalize_burstner_model)

# Remove blanks produced by garbage removal and deduplicate
burst_df = df_cleaned[mask_burstner].copy()
others   = df_cleaned[~mask_burstner].copy()
before   = burst_df.shape[0]
burst_df = burst_df[burst_df["model"] != ""].drop_duplicates(subset=["brand", "model"]).reset_index(drop=True)

df_cleaned = pd.concat([others, burst_df], ignore_index=True)
print(f"‚úÖ BURSTNER normalized. Duplicates/garbage removed: {before - burst_df.shape[0]}")

BURSTNER rows before: 287
‚úÖ BURSTNER normalized. Duplicates/garbage removed: 72

## BYD

In [200]:
# Route obvious DENZA models to brand "DENZA"
mask_byd_denza = (df_cleaned["brand"].astype(str).str.upper().str.strip().eq("BYD") &
                  df_cleaned["model"].astype(str).str.upper().str.contains(r"\bDENZA\b"))
df_cleaned.loc[mask_byd_denza, "brand"] = "DENZA"

# Work on remaining BYD
mask_byd = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("BYD")
print("BYD rows before:", mask_byd.sum())


def _normalize_byd_model(s: str) -> str:
    s = _u(s).upper()

    # strip redundant BYD prefix in model
    s = re.sub(r"^\s*BYD\s+", "", s)

    # unify families
    s = s.replace("ATTO 2", "ATTO 2")  # (concept/rumor) keep as is if present
    s = s.replace("ATTO 3", "ATTO 3")
    s = s.replace("DOLPHIN SURF", "DOLPHIN SURF")
    s = s.replace("DOLPHIN COMFORT", "DOLPHIN COMFORT")
    s = s.replace("DOLPHIN", "DOLPHIN")
    s = s.replace("SEAGULL", "SEAGULL")
    s = s.replace("SEALION 7", "SEALION 7")
    s = s.replace("SEAL 6 DM-I TOURING", "SEAL 6 DM-i Touring")
    s = s.replace("SEAL 6 DM-I", "SEAL 6 DM-i")
    s = s.replace("SEAL U DM-I", "SEAL U DM-i")
    s = s.replace("SEAL U DM", "SEAL U DM-i")
    s = s.replace("SEAL U", "SEAL U")
    s = s.replace("SEAL", "SEAL")
    s = s.replace("TANG EV", "TANG EV")
    s = s.replace("TANG", "TANG")
    s = s.replace("YUAN", "YUAN")
    s = s.replace("ETP3", "ETP3")
    s = s.replace("ET3", "ETP3")  # unify typo/variant ET3 -> ETP3
    s = s.replace("VB", "VB")     # unknown light van, keep token

    # Title case then restore tokens
    t = s.title()
    keep_upper = ["DM-i","EV","EWB","ATTO","ETP3","VB"]
    for tok in keep_upper:
        t = re.sub(rf"\b{re.escape(tok.title())}\b", tok, t)

    # Clean multiple spaces
    t = re.sub(r"\s+", " ", t).strip()
    return t

df_cleaned.loc[mask_byd, "model"] = df_cleaned.loc[mask_byd, "model"].astype(str).map(_normalize_byd_model)

byd_df = df_cleaned[mask_byd].copy()
others = df_cleaned[~mask_byd].copy()
before = byd_df.shape[0]
byd_df = byd_df.drop_duplicates(subset=["brand","model"]).reset_index(drop=True)

df_cleaned = pd.concat([others, byd_df], ignore_index=True)
print(f"‚úÖ BYD normalized. Duplicates removed: {before - byd_df.shape[0]}")

BYD rows before: 24
‚úÖ BYD normalized. Duplicates removed: 4

## Cadillac

In [201]:
mask_cad = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("CADILLAC")
print("CADILLAC rows before:", mask_cad.sum())
def _normalize_cadillac(s: str) -> str:
    s = _u(s).upper()

    # strip redundant brand in model
    s = re.sub(r"^\s*CADILLAC\s+", "", s)

    # drop coachbuilder / specialty bodies
    if re.search(r"EAGLE\s+SPECIALIT[Y|Y]\s+VEHICLE|EAGLE\s+SPECIALIT[Y|Y]\s+VEHICLES|HEARSE", s):
        return ""

    # common families/variants
    s = s.replace("ESCALADA", "ESCALADE")
    s = s.replace("ESCALADE ESV PREMIUM", "ESCALADE ESV")
    s = s.replace("XTS EAGLE SPECIALITY VEHICLES", "XTS")
    s = s.replace("XTS EAGLE SPECIALTY VEHICLE", "XTS")
    s = s.replace("CADILLAC BLS", "BLS")
    s = s.replace("CADILLAC XTS HEARSE", "XTS")

    # Title case and keep standard tokens upper
    t = s.title()
    for tok in ["ESV","V","CTS-V","ATS-V","EV","AWD"]:
        t = re.sub(rf"\b{tok.title()}\b", tok, t)

    # Final tidy
    t = re.sub(r"\s+", " ", t).strip()
    return t

df_cleaned.loc[mask_cad, "model"] = df_cleaned.loc[mask_cad, "model"].astype(str).map(_normalize_cadillac)

cad_df = df_cleaned[mask_cad].copy()
others = df_cleaned[~mask_cad].copy()
before = cad_df.shape[0]
# remove blanks (dropped coachbuilder items), then dedupe
cad_df = cad_df[cad_df["model"] != ""].drop_duplicates(subset=["brand","model"]).reset_index(drop=True)

df_cleaned = pd.concat([others, cad_df], ignore_index=True)
print(f"‚úÖ CADILLAC normalized. Removed/duplicates: {before - cad_df.shape[0]}")

CADILLAC rows before: 20
‚úÖ CADILLAC normalized. Removed/duplicates: 6

## CFMOTO

In [202]:
_mask_cfm = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("CFMOTO")
print("CFMOTO rows before:", _mask_cfm.sum())

def _normalize_cfmoto(s: str) -> str:
    s = _u(s).upper()
    # families: NK, SR, CL-X/CL-C, MT, GT; CFORCE (ATV), ZFORCE (SSV), UFORCE (UTV)
    # normalize hyphens & spacing
    s = s.replace("CFORCE", "CFORCE ")
    s = s.replace("ZFORCE", "ZFORCE ")
    s = s.replace("UFORCE", "UFORCE ")
    s = re.sub(r"\s+", " ", s).strip()

    # ensure number-family spacing: 450SR-S / 450 SR S ‚Üí 450SR S (canonical)
    s = s.replace("  SR", " SR").replace("  NK", " NK")
    s = re.sub(r"\b(\d{3})\s*SR-?S\b", r"\1SR S", s)
    s = re.sub(r"\b(\d{3})\s*SR\s*S\b", r"\1SR S", s)
    s = re.sub(r"\b(\d{3})\s*NK\b", r"\1NK", s)
    s = re.sub(r"\b(\d{3})\s*CL-?C\b", r"\1CL-C", s)
    s = re.sub(r"\b(\d{3})\s*CL-?X\b", r"\1CL-X", s)

    # MT/GT/NK/GT spacing
    s = re.sub(r"\b(\d{3})\s*MT\b", r"\1MT", s)
    s = re.sub(r"\b(\d{3})\s*GT\b", r"\1GT", s)

    # particular models
    s = s.replace("800MT-X", "800MT X")
    s = s.replace("700CL-X ADV", "700CL-X ADV")
    s = s.replace("700CL-X HERITAGE", "700CL-X Heritage")
    s = s.replace("700 SPORT", "700 Sport")
    s = s.replace("700SPORT", "700 Sport")
    s = s.replace("CF650NK", "650NK")
    s = s.replace("CF500-3", "CF500-3")
    s = s.replace("CF625-3", "CF625-3")

    # CFORCE/L variants normalization
    s = s.replace("CFORCE 520L", "CFORCE 520 L")
    s = s.replace("CFORCE520L", "CFORCE 520 L")
    s = s.replace("CFORCE 520S", "CFORCE 520 S")
    s = s.replace("CFORCE520S", "CFORCE 520 S")
    s = s.replace("CFORCE450L", "CFORCE 450 L")
    s = s.replace("CFORCE450S", "CFORCE 450 S")
    s = s.replace("CFORCE450", "CFORCE 450")
    s = s.replace("CFORCE550", "CFORCE 550")

    # ZFORCE
    s = s.replace("ZFORCE800EX", "ZFORCE 800 EX")
    s = s.replace("ZFORCE 800 SPORT", "ZFORCE 800 Sport")

    # UFORCE & EV
    s = s.replace("UFORCE U6 EV", "UFORCE U6 EV")
    # generic bare 'UFORCE' keep as is if no number
    # TERRALANDER / TERRACROSS legacy
    s = s.replace("TERRALANDER800", "TERRALANDER 800")
    s = s.replace("TERRACROSS 800", "TERRACROSS 800")

    # final titlecase with preserved tokens
    t = s.title()
    keep = ["NK","SR","SR S","CL-X","CL-C","MT","GT","CFORCE","ZFORCE","UFORCE","EV","EX","XC","LE",
            "CF500-3","CF625-3","X5","800MT X","ADV","Heritage","Sport"]
    for tok in keep:
        t = re.sub(rf"\b{re.escape(tok.title())}\b", tok, t)
    # numbers glued to families (650NK etc.) should stay glued
    t = re.sub(r"\b(\d{3})\s+(NK|SR|MT|GT)\b", r"\1\2", t)
    t = re.sub(r"\b(\d{3})\s+(CL\-X|CL\-C)\b", r"\1\2", t)
    return re.sub(r"\s+", " ", t).strip()

df_cleaned.loc[_mask_cfm, "model"] = df_cleaned.loc[_mask_cfm, "model"].astype(str).map(_normalize_cfmoto)

cfm_df, others = df_cleaned[_mask_cfm].copy(), df_cleaned[~_mask_cfm].copy()
before = cfm_df.shape[0]
cfm_df = cfm_df.drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, cfm_df], ignore_index=True)
print(f"‚úÖ CFMOTO normalized. Duplicates removed: {before - cfm_df.shape[0]}")

CFMOTO rows before: 62
‚úÖ CFMOTO normalized. Duplicates removed: 11

## CHALLENGER

In [203]:
_mask_chall = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("CHALLENGER")
print("CHALLENGER rows before:", _mask_chall.sum())

# tokens we keep: V114, V114S VIP, V217, "Graphite 358", "Mageo 114", "Genesis 54", "Sirius 3088", "Prium XL/XS" etc.
drop_if_exact = {"CHALLENGER","TRIGANO CHALLANGER"}  # garbage/brand echo

def _normalize_challenger(s: str) -> str:
    s = _u(s).upper()
    if s in drop_if_exact:
        return ""

    # fix known typos/joins
    s = s.replace("378XL", "378 XLB").replace("3048XLB", "3048 XLB").replace("3080", "3080")
    s = s.replace("GENESIS FIAT", "GENESIS").replace("MAGEO PRIUM", "PRIUM")
    s = s.replace("CHALLENGER SRT8", "")  # not an RV model ‚Üí drop
    s = s.replace("TRIGANO CHALLANGER", "")

    # unify families
    families = ["VANY START","VANY EXCLUSIVE","VANY ELEGANCE","VANY",
                "VANS","V-SERIES","V","GRAPHITE","MAGEO","GENESIS","SIRIUS","PRIUM","X150"]
    # ensure code spacing like 358EB -> 358 EB, 367GA -> 367 GA
    s = re.sub(r"\b(\d{3,4})([A-Z]{1,3})\b", r"\1 \2", s)

    # add spaces in complex tags (VIP, PREMIUM, ROAD EDITION, FORD M19 / FIAT M16 / M20)
    s = s.replace("VIP", "VIP").replace("PREMIUM", "PREMIUM").replace("ROAD EDITION", "ROAD EDITION")
    s = re.sub(r"\bM(\d{2})\b", r"M\1", s)

    # build nice case
    t = s.title()
    keep_upper = ["V114","V114 S","V114S","V217","V124","XLB","VIP","Premium","Road Edition","Ford M19","Fiat M16","M20",
                  "Genesis","Mageo","Graphite","Sirius","Prium","X150"]
    # normalize V-series hell
    t = re.sub(r"\bV\s*114\s*S\b", "V114 S", t)
    t = re.sub(r"\bV\s*114S\b", "V114 S", t)
    t = re.sub(r"\bV\s*217\b", "V217", t)
    # ensure 'Graphite 358' etc.
    t = re.sub(r"\bGraphite\s*([0-9]{2,4}\s*Xlb?)\b", lambda m: f"Graphite {m.group(1).upper()}", t)
    t = re.sub(r"\bMageo\s*([0-9]{2,4}\s*[A-Z]{0,3})\b", r"Mageo \1", t)
    t = re.sub(r"\bGenesis\s*([0-9]{1,3})\b", r"Genesis \1", t)
    t = re.sub(r"\bSirius\s*([0-9]{3,4}[A-Z]{0,2})\b", r"Sirius \1", t)
    t = re.sub(r"\bPrium\s*(Xl|Xs)\b", lambda m: f"Prium {m.group(1).upper()}", t)

    t = re.sub(r"\s+", " ", t).strip()
    return t

df_cleaned.loc[_mask_chall, "model"] = df_cleaned.loc[_mask_chall, "model"].astype(str).map(_normalize_challenger)

chall_df, others = df_cleaned[_mask_chall].copy(), df_cleaned[~_mask_chall].copy()
before = chall_df.shape[0]
chall_df = chall_df[chall_df["model"] != ""].drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, chall_df], ignore_index=True)
print(f"‚úÖ CHALLENGER normalized. Removed/duplicates: {before - chall_df.shape[0]}")

CHALLENGER rows before: 127
‚úÖ CHALLENGER normalized. Removed/duplicates: 5

## Chevrolet

In [204]:
_mask_chevy = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("CHEVROLET")
print("CHEVROLET rows before:", _mask_chevy.sum())

def _normalize_chevy(s: str) -> str:
    s = _u(s).upper()
    # strip leading brand echo
    s = re.sub(r"^\s*CHEV(?:ROLET)?\s+", "", s)

    # drop explicit non-Chevy / coachbuilder items
    if re.search(r"\bGMC\s+SAVANA\b", s):   return ""
    if re.search(r"\bEXPLORER\b|EXPLORE|EXPLORER\s+EXP\.", s):  return ""  # upfitter vans
    if re.fullmatch(r"-", s): return ""

    # fix Silverado typos
    s = s.replace("SILERADO", "SILVERADO").replace("SILCERADO", "SILVERADO").replace("SIKVERADO", "SILVERADO")
    s = s.replace("CHEV. CORVETTE", "CORVETTE")
    s = s.replace("CHEYENNE HIGH COUNTRY", "SILVERADO HIGH COUNTRY")  # market alias ‚Üí map to Silverado
    s = s.replace("CHEVROLET SILVERAD 1500", "SILVERADO 1500")
    s = s.replace("CHERVOLET SILVERADO 1500", "SILVERADO 1500")
    s = s.replace("CA MARO", "CAMARO")

    # normalize families
    # Camaro
    s = s.replace("CAMARO COUPE", "CAMARO")
    s = s.replace("CAMARO CONVERTIBLE", "CAMARO Convertible")
    # Corvette
    s = s.replace("CORVETTE STINGRAY", "CORVETTE Stingray")
    s = s.replace("CORVETTE C7 ZO6", "CORVETTE C7 Z06")
    s = s.replace("CORVETTE LT 3", "CORVETTE 3LT")
    s = s.replace("GRANDSPORT", "GRAND SPORT")
    # Express vans
    s = s.replace("EXPRESS VAN", "EXPRESS")
    s = s.replace("EXPRESS CARGO 2500", "EXPRESS 2500")
    # Bolt/Bolt EV/Volt
    s = s.replace("BOLT EV", "BOLT EV").replace("BOLT", "BOLT")
    s = s.replace("VOLT", "VOLT")

    # ensure trim spacing
    s = re.sub(r"\b(1500|2500|3500)\b", r"\1", s)
    s = re.sub(r"\bZR2\b", "ZR2", s)
    s = re.sub(r"\bLTZ\b", "LTZ", s)
    s = re.sub(r"\bRST\b", "RST", s)
    s = re.sub(r"\bLT1\b", "LT1", s)
    s = re.sub(r"\b2SS\b", "2SS", s)
    s = re.sub(r"\b1LT\b", "1LT", s)
    s = re.sub(r"\b3LT\b", "3LT", s)
    s = re.sub(r"\bHIGH COUNTRY\b", "High Country", s, flags=re.I)
    s = re.sub(r"\bTRAIL BOSS\b", "Trail Boss", s, flags=re.I)

    # Title case, then restore intended tokens
    t = s.title()

    # Families keep uppercase model code where standard:
    keep_as = {
        # pickups & SUVs
        "Silverado":"Silverado", "Silverado 1500":"Silverado 1500", "Silverado 2500":"Silverado 2500",
        "Trail Boss":"Trail Boss", "High Country":"High Country", "Rst":"RST", "Zr2":"ZR2", "Ltz":"LTZ",
        "Tahoe":"Tahoe", "Suburban":"Suburban", "Colorado":"Colorado",
        # vans
        "Express":"Express", "Express 2500":"Express 2500", "Express 3500":"Express 3500",
        # cars
        "Camaro":"Camaro", "Lt1":"LT1", "Ss":"SS", "Zl1":"ZL1", "2Ss":"2SS", "1Lt":"1LT", "3Lt":"3LT",
        # Corvette
        "Corvette":"Corvette", "Stingray":"Stingray", "Z06":"Z06", "Grand Sport":"Grand Sport", "C7":"C7", "C8":"C8",
        # EVs
        "Bolt Ev":"Bolt EV", "Volt":"Volt",
        # others
        "Avalanche":"Avalanche", "Blazer Premier":"Blazer Premier", "Orlando":"Orlando", "Trax":"Trax", "Malibu":"Malibu",
        "Matiz":"Matiz", "Lacetti 1.4":"Lacetti 1.4", "Spark":"Spark", "Spark Gpl":"Spark GPL"
    }
    for k,v in keep_as.items():
        t = re.sub(rf"\b{re.escape(k)}\b", v, t)

    # compress repeated spaces
    t = re.sub(r"\s+", " ", t).strip()

    # Final canonical reshapes for typical patterns
    # Silverado trims
    t = re.sub(r"^(Silverado(?: \d{4})?) (High Country|RST|LTZ|Trail Boss|ZR2)$", r"\1 \2", t)
    # Camaro trims
    t = re.sub(r"^Camaro (Ss|Lt1|Zl1|2Ss|1Lt)$", lambda m: f"Camaro {keep_as.get(m.group(1), m.group(1))}", t)
    # Corvette variants
    t = re.sub(r"^Corvette (C7|C8) (Z06)$", r"Corvette \1 \2", t)
    t = re.sub(r"^Corvette (Stingray)(?: Coupe)? (1Lt|2Lt|3Lt)$", lambda m: f"Corvette {m.group(1)} {keep_as.get(m.group(2), m.group(2))}", t)

    return t

df_cleaned.loc[_mask_chevy, "model"] = df_cleaned.loc[_mask_chevy, "model"].astype(str).map(_normalize_chevy)

chevy_df, others = df_cleaned[_mask_chevy].copy(), df_cleaned[~_mask_chevy].copy()
before = chevy_df.shape[0]
chevy_df = chevy_df[chevy_df["model"] != ""].drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, chevy_df], ignore_index=True)
print(f"‚úÖ CHEVROLET normalized. Removed/duplicates: {before - chevy_df.shape[0]}")

CHEVROLET rows before: 92
‚úÖ CHEVROLET normalized. Removed/duplicates: 27

## Chrysler

In [205]:
_mask_chrysler = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("CHRYSLER")
print("CHRYSLER rows before:", _mask_chrysler.sum())

def _normalize_chrysler(s: str) -> str:
    s = _u(s).upper()
    # strip brand echo
    s = re.sub(r"^\s*CHRYSLER\s+", "", s)

    # drop non-Chrysler models accidentally tagged as Chrysler
    if re.search(r"\bWRANGLER\b|\bRENEGADE\b|\bDODGE\s+CHARGER\b|\bCHALLENGER\b", s):
        return ""

    # typos / variants
    s = s.replace("PASIFICA", "PACIFICA")
    s = s.replace("TOWN EN COUNTRY", "TOWN & COUNTRY")
    s = s.replace("TOWN AN COUNTRY", "TOWN & COUNTRY")
    s = s.replace("TOWN AND COUNTRY", "TOWN & COUNTRY")
    s = s.replace("TOWN, COUNTRY", "TOWN & COUNTRY")
    s = s.replace("TOWN COUNTRY", "TOWN & COUNTRY")
    s = s.replace("TOURING L", "TOURING L").replace("TOURING-L", "TOURING L")
    s = s.replace("TOUR PLUS", "TOURING PLUS")

    # core families
    # Pacifica (+ Hybrid + trims)
    s = re.sub(r"^PACIFICA\s+HYBRID\s+LIMITED$", "PACIFICA HYBRID Limited", s)
    s = re.sub(r"^PACIFICA\s+HYBRID\s+TOUR(?:ING)?\s+L$", "PACIFICA HYBRID Touring L", s)
    s = re.sub(r"^PACIFICA\s+HYBRID\s+TOUR(?:ING)?\s+PLUS$", "PACIFICA HYBRID Touring Plus", s)
    s = re.sub(r"^PACIFICA\s+TOUR(?:ING)?\s+L$", "PACIFICA Touring L", s)
    s = re.sub(r"^PACIFICA\s+TOUR(?:ING)?\s+PLUS$", "PACIFICA Touring Plus", s)
    s = s.replace("PACIFICA HYBRID", "PACIFICA HYBRID")
    s = s.replace("PACIFICA TOURING", "PACIFICA Touring")

    # Town & Country (+ Touring/ Limited)
    s = re.sub(r"^TOWN\s*&\s*COUNTRY\s+TOURING\s*ED$", "TOWN & COUNTRY Touring", s)
    s = re.sub(r"^TOWN\s*&\s*COUNTRY\s+TOURING\s*L$", "TOWN & COUNTRY Touring L", s)
    s = re.sub(r"^TOWN\s*&\s*COUNTRY\s*$", "TOWN & COUNTRY", s)
    s = re.sub(r"^TOWN\s*&\s*COUNTRY\s+LIMITED$", "TOWN & COUNTRY Limited", s)

    # Voyager / Grand Voyager
    s = s.replace("CHRYSLER VOYAGER", "VOYAGER")
    s = s.replace("GRAND VOYAGER", "Grand Voyager")
    s = s.replace("VOYAGER", "Voyager")

    # cars
    s = s.replace("300C", "300C").replace("300 S", "300S").replace("300S", "300S")
    s = s.replace("200C", "200C").replace("200 S", "200S").replace("200", "200")

    # title case nicely
    t = s.title()
    # keep intended uppercase tokens
    for tok in ["Hybrid","Touring","Touring L","Touring Plus","300C","300S","200C","200S"]:
        t = re.sub(rf"\b{re.escape(tok.title())}\b", tok, t)
    t = t.replace("Town & Country", "Town & Country")
    return re.sub(r"\s+", " ", t).strip()

df_cleaned.loc[_mask_chrysler, "model"] = df_cleaned.loc[_mask_chrysler, "model"].astype(str).map(_normalize_chrysler)

chry_df, others = df_cleaned[_mask_chrysler].copy(), df_cleaned[~_mask_chrysler].copy()
before = chry_df.shape[0]
chry_df = chry_df[chry_df["model"] != ""].drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, chry_df], ignore_index=True)
print(f"‚úÖ CHRYSLER normalized. Removed/duplicates: {before - chry_df.shape[0]}")

CHRYSLER rows before: 37
‚úÖ CHRYSLER normalized. Removed/duplicates: 17

## Citroen

In [206]:
_mask_cit = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("CITROEN")
print("CITROEN rows before:", _mask_cit.sum())

drop_contains = [
    "POSSL", "P√ñSSL", "P√É", "GIOTTILINE", "CAMPER", "AMF-BRUNS", "CREW CAB",
    "MULTICAB", "CABINE APPROFONDIE", "BUSINESSVAN", "CARGO", "SUMMIT", "TWIN 640", "CORAL S",
    "CLEVER"  # converter brand
]

def _normalize_citroen(s: str) -> str:
    s = _u(s).upper()
    # strip brand echo
    s = re.sub(r"^\s*CITROEN\s+", "", s)

    # drop camper/upfitter lines
    if any(tok in s for tok in drop_contains):
        return ""

    # Dispatch/Relay synonyms (UK names) ‚Üí unify to Jumpy/Jumper
    s = s.replace("DISPATCH", "JUMPY")
    s = s.replace("RELAY", "JUMPER")
    s = s.replace("E.JUMPER", "E-JUMPER")
    s = s.replace("JUMPER ODER RELAY", "JUMPER")

    # core families and EVs
    s = s.replace("E-C3 AIRCROSS", "√ã-C3 AIRCROSS")
    s = s.replace("E-C3 VAN", "√ã-C3 VAN")
    s = s.replace("E-C3", "√ã-C3")
    s = s.replace("E-C4 X", "√ã-C4 X")
    s = s.replace("E-C4 , 100KW", "√ã-C4")
    s = s.replace("E-C4 SHINE", "√ã-C4")
    s = s.replace("E-C4", "√ã-C4")
    s = s.replace("E-BERLINGO VAN", "√ã-BERLINGO VAN")
    s = s.replace("E-BERLINGO", "√ã-BERLINGO")
    s = s.replace("E-MEHARI", "√ã-MEHARI")
    s = s.replace("C3 AIR CROSS", "C3 AIRCROSS")
    s = s.replace("C4X", "C4 X")
    s = s.replace("C4  SPACETOURER", "C4 SPACETOURER")

    # DS models historically under Citro√´n (keep but standardize)
    s = s.replace("DS 3", "DS3").replace("DS 4", "DS4").replace("DS 5", "DS5")

    # clean odd numeric/engine suffixes we don't want as separate models
    s = re.sub(r"\b1[.,]\d\s*[A-Z0-9]+\b", "", s)       # e.g., 1.2 PureTech, 1,6I
    s = re.sub(r"\b2\.0\s*[A-Z].*$", "", s)             # engine lines on Jumpy
    s = re.sub(r"\b(16V|VTI|E-VTI|STT2|STT)\b", "", s)

    # title case, then restore tokens
    t = s.title()
    keep = ["√ã-C3","√ã-C4","√ã-C4 X","√ã-BERLINGO","√ã-BERLINGO Van","√ã-Mehari","C1","C2","C3","C3 Aircross","C3 Picasso",
            "C4","C4 Cactus","C4 Picasso","C4 Spacetourer","C4 X","C5","C5 X","C6","C8","Nemo",
            "Berlingo","Jumpy","Jumper","Spacetourer","Grand C4 Picasso","Grand C4 Spacetourer"]
    for k in keep:
        t = re.sub(rf"\b{re.escape(k.title())}\b", k, t)
    t = re.sub(r"\s+", " ", t).strip()
    return t

df_cleaned.loc[_mask_cit, "model"] = df_cleaned.loc[_mask_cit, "model"].astype(str).map(_normalize_citroen)

cit_df, others = df_cleaned[_mask_cit].copy(), df_cleaned[~_mask_cit].copy()
before = cit_df.shape[0]
cit_df = cit_df[cit_df["model"] != ""].drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, cit_df], ignore_index=True)
print(f"‚úÖ CITROEN normalized. Removed/duplicates: {before - cit_df.shape[0]}")

CITROEN rows before: 102
‚úÖ CITROEN normalized. Removed/duplicates: 49

## Cupra

In [207]:
_mask_cupra = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("CUPRA")
print("CUPRA rows before:", _mask_cupra.sum())

def _normalize_cupra(s: str) -> str:
    s = _u(s).upper()
    # strip brand echo
    s = re.sub(r"^\s*CUPRA\s+", "", s)

    # normalize Born power/battery format: "BORN 170 KW 60/63 KWH" ‚Üí "Born (170 kW, 60/63 kWh)"
    m = re.match(r"^BORN\s+(\d{3})\s*KW\s*([0-9]{2,3}\s*/\s*[0-9]{2,3})\s*KWH$", s)
    if m:
        return f"Born ({m.group(1)} kW, {m.group(2).replace(' ', '')} kWh)"

    # Born plain
    if s == "BORN":
        return "Born"

    # Formentor / Terramar (+ e-HYBRID)
    s = s.replace("E-HYBRID", "e-HYBRID")
    if s.startswith("FORMENTOR"):
        return s.title().replace("E-Hybrid", "e-HYBRID")
    if s.startswith("TERRAMAR"):
        return s.title().replace("E-Hybrid", "e-HYBRID")

    # Leon (SP) e-HYBRID with power
    s = s.replace("LEON SP", "Leon SP")
    s = s.replace("LEON", "Leon")
    s = s.replace("E-HYBRID", "e-HYBRID")
    s = re.sub(r"^(Leon(?: SP)?)\s+E-HYBRID(\d{3})$", r"\1 e-HYBRID \2", s)
    s = re.sub(r"^(Leon(?: SP)?)\s+E-HYBRID\s*(\d{3})$", r"\1 e-HYBRID \2", s)

    # Ateca & Tavascan
    if s in {"ATECA","CUPRA ATECA"}:
        return "Ateca"
    if s == "TAVASCAN":
        return "Tavascan"

    # default title
    t = s.title()
    t = t.replace("E-Hybrid", "e-HYBRID")
    return re.sub(r"\s+", " ", t).strip()

df_cleaned.loc[_mask_cupra, "model"] = df_cleaned.loc[_mask_cupra, "model"].astype(str).map(_normalize_cupra)

cupra_df, others = df_cleaned[_mask_cupra].copy(), df_cleaned[~_mask_cupra].copy()
before = cupra_df.shape[0]
cupra_df = cupra_df.drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, cupra_df], ignore_index=True)
print(f"‚úÖ CUPRA normalized. Duplicates removed: {before - cupra_df.shape[0]}")

CUPRA rows before: 28
‚úÖ CUPRA normalized. Duplicates removed: 4

## Dacia

In [208]:
_mask_dacia = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("DACIA")
print("DACIA rows before:", _mask_dacia.sum())

def _normalize_dacia(s: str) -> str:
    s = _u(s).upper()
    # strip brand echo
    s = re.sub(r"^\s*DACIA\s+", "", s)

    # collapse engine/drive extras to base model families
    # Logan derivatives
    s = s.replace("LOGAN MCV STEPWAY", "LOGAN MCV STEPWAY")
    s = s.replace("LOGAN MCV, TCE 90", "LOGAN MCV")
    s = s.replace("LOGAN BREAK", "LOGAN MCV")
    s = s.replace("LOGAN PICK UP", "LOGAN PICK-UP")
    s = s.replace("LOGAN VAN", "LOGAN VAN")

    # Duster/Sandero noise -> base
    s = re.sub(r"^DUSTER\b.*", "DUSTER", s)
    s = re.sub(r"^SANDERO STEPWAY\b.*", "SANDERO STEPWAY", s)
    s = re.sub(r"^SANDERO\b.*", "SANDERO", s)

    # Drop trailing engine/gear codes
    s = re.sub(r"\b(\d\.\d|\d,\d)\b.*$", "", s)             # 1.2 / 1,2 ‚Ä¶
    s = re.sub(r"\bTC[E|I]\b.*$", "", s)                    # TCe/TCI tail
    s = re.sub(r"\b4X4\b.*$", "", s)

    # keep core range as-is
    keep = {
        "SANDERO":"Sandero",
        "SANDERO STEPWAY":"Sandero Stepway",
        "DUSTER":"Duster",
        "JOGGER":"Jogger",
        "BIGSTER":"Bigster",
        "SPRING":"Spring",
        "DOKKER":"Dokker",
        "LODGY":"Lodgy",
        "LOGAN":"Logan",
        "LOGAN MCV":"Logan MCV",
        "LOGAN MCV STEPWAY":"Logan MCV Stepway",
        "LOGAN VAN":"Logan Van",
        "LOGAN PICK-UP":"Logan Pick-Up"
    }
    key = s.strip()
    t = keep.get(key, key.title())
    return t

df_cleaned.loc[_mask_dacia, "model"] = df_cleaned.loc[_mask_dacia, "model"].astype(str).map(_normalize_dacia)

dacia_df, others = df_cleaned[_mask_dacia].copy(), df_cleaned[~_mask_dacia].copy()
before = dacia_df.shape[0]
dacia_df = dacia_df.drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, dacia_df], ignore_index=True)
print(f"‚úÖ DACIA normalized. Duplicates removed: {before - dacia_df.shape[0]}")

DACIA rows before: 19
‚úÖ DACIA normalized. Duplicates removed: 6

## Dodge

In [209]:
m_dodge = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("DODGE")
print("DODGE rows before:", m_dodge.sum())

def _norm_dodge(s: str) -> str:
    s = _u(s).upper()
    # strip brand echoes
    s = re.sub(r"^DODGE\s+", "", s)
    # RAM ‚Üí normalize base & trims
    s = s.replace("RAAM", "RAM").replace("DOGDE", "DODGE").replace("DOGE", "DODGE").replace("CHARCHER", "CHARGER")
    s = s.replace("RAMRAM", "RAM").replace("RAM RAM", "RAM")
    # eTorque typos
    s = re.sub(r"E[- ]?T(?:O|0)R?Q(?:U|UE)E?", "eTorque", s)
    # big horn variations
    s = s.replace("BIG HORN", "BIGHORN").replace("BIGHORN", "Big Horn")
    # trims
    s = s.replace("SCAT PACK", "Scat Pack").replace("SRT HELLCAT", "SRT Hellcat").replace("HELLCAT REDEYE", "Hellcat Redeye")
    s = s.replace("SRT-8", "SRT8").replace("SRT 8", "SRT8").replace("PREM.", "Premium")
    # normalize RAM 1500 variants
    s = re.sub(r"^1500\b", "RAM 1500", s)
    s = re.sub(r"^RAM\s*1500\b", "RAM 1500", s)
    s = re.sub(r"^RAM\s*2500\b", "RAM 2500", s)
    # clean stray powertrain notes we don't want as distinct models
    s = re.sub(r"\b3\.0\s*ECODIESEL\b", "3.0 EcoDiesel", s)
    # vehicles not models? keep Durango/Journey/Grand Caravan
    # remove pure 'DODGE'/'FCA'
    if s in {"", "DODGE", "FCA", "CHRYSLER (CDN)"}:
        return ""
    t = s.title()
    # keep intended tokens
    for tok in ["RAM 1500","RAM 2500","TRX","Big Horn","Longhorn","Rebel","Laramie","Limited","Sport",
                "Scat Pack","Srt","Srt8","Hellcat","Hellcat Redeye","Etorque","4X4","EcoDiesel",
                "Challenger","Charger","Durango","Journey","Grand Caravan"]:
        t = re.sub(rf"\b{re.escape(tok.title())}\b", tok, t)
    # tidy RAM compound trims ordering (keep as-is; already fine)
    return re.sub(r"\s+", " ", t).strip()

df_cleaned.loc[m_dodge, "model"] = df_cleaned.loc[m_dodge, "model"].astype(str).map(_norm_dodge)

dodge_df, others = df_cleaned[m_dodge].copy(), df_cleaned[~m_dodge].copy()
before = dodge_df.shape[0]
dodge_df = dodge_df[dodge_df["model"] != ""].drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, dodge_df], ignore_index=True)
print(f"‚úÖ DODGE normalized. Removed/duplicates: {before - dodge_df.shape[0]}")

DODGE rows before: 123
‚úÖ DODGE normalized. Removed/duplicates: 42

## DS

In [210]:
m_ds = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("DS")
print("DS rows before:", m_ds.sum())

def _norm_ds(s: str) -> str:
    s = _u(s).upper()
    # drop obvious non-DS
    if "CORSA" in s:
        return ""
    # Unify spacing & Crossback/e-Tense
    s = s.replace("CROSSBACK", "Crossback")
    s = s.replace("E-TENSE", "E-Tense")
    s = re.sub(r"^DS\s+", "DS ", s)     # ensure prefix "DS "
    s = re.sub(r"^DS\s*([3-9])\b", r"DS \1", s)
    t = s.title()
    # preserve intended tokens
    for tok in ["DS 3","DS 4","DS 5","DS 7","DS 9","Crossback","E-Tense"]:
        t = t.replace(tok.title(), tok)
    # examples: "DS 7 Crossback 2.0 BlueHDi" -> "DS 7 Crossback"
    t = re.sub(r"(DS\s+[3-9]\s+Crossback).*", r"\1", t)
    return t.strip()

df_cleaned.loc[m_ds, "model"] = df_cleaned.loc[m_ds, "model"].astype(str).map(_norm_ds)

ds_df, others = df_cleaned[m_ds].copy(), df_cleaned[~m_ds].copy()
before = ds_df.shape[0]
ds_df = ds_df[ds_df["model"] != ""].drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, ds_df], ignore_index=True)
print(f"‚úÖ DS normalized. Removed/duplicates: {before - ds_df.shape[0]}")

DS rows before: 16
‚úÖ DS normalized. Removed/duplicates: 8

## Ducati

In [211]:
m_ducati = df_cleaned["brand"].astype(str).str.upper().str.strip().eq("DUCATI")
print("DUCATI rows before:", m_ducati.sum())

_drop_if_contains = [
    "/", ",",  # multi-model list entries ‚Üí too noisy; skip
    "WORLD CHAMPION REPLICA", "REPLICA", "FRANCIA", "100 CV"
]
def _norm_ducati(s: str) -> str:
    s = _u(s)
    su = s.upper()
    if any(tok in su for tok in _drop_if_contains):
        return ""  # drop combined or marketing entries

    # strip brand echoes
    su = re.sub(r"^DUCATI\s+", "", su)

    # unify key families & variants
    # DesertX
    su = su.replace("DESERT X", "DESERTX").replace("DESERTX RALLY", "DESERTX Rally")
    # Multistrada
    su = su.replace("MULTISRADA", "MULTISTRADA").replace("MTS", "MULTISTRADA")
    su = su.replace("MULTISTRADA V4 , MULTISTRADA V4 S", "MULTISTRADA V4 S")
    su = su.replace("MULTISTRADA V4 / - V4 S", "MULTISTRADA V4 S")
    su = su.replace("MULTISTRADA V2 / -S", "MULTISTRADA V2 S")
    # Streetfighter
    su = su.replace("STREETFIGHTER V4S", "STREETFIGHTER V4 S")
    su = su.replace("STREETFIGHTER V4 / - V4 S", "STREETFIGHTER V4 S")
    su = su.replace("STREETFIGHTER V4/-V4S", "STREETFIGHTER V4 S")
    # Panigale
    su = su.replace("PANIGALE V4S", "PANIGALE V4 S")
    su = su.replace("PANIGALE V4 / - S", "PANIGALE V4 S")
    # Monster
    su = su.replace("MONSTER+", "MONSTER +").replace("MONSTER+ ", "MONSTER + ")
    su = su.replace("MONSTER / MONSTER +/ SP", "MONSTER SP")
    su = su.replace("MONSTER / MONSTER + / MONSTER SP / MONSTER 30 ANN", "MONSTER 30 ANNIVERSARIO")
    # Hypermotard / Hyperstrada
    su = su.replace("HYPERSTRADA", "HYPERSTRADA")
    su = su.replace("HYPERMOTARD 950 / - SP", "HYPERMOTARD 950 SP")
    su = su.replace("HYPERMOTARD 950 / - SP", "HYPERMOTARD 950 SP")
    su = su.replace("HYPERMOTARD 950 / - SP", "HYPERMOTARD 950 SP")
    su = su.replace("HYPERMOTARD 950 / - SP", "HYPERMOTARD 950 SP")
    # XDiavel/Diavel
    su = su.replace("XDIAVEL / XDIAVEL S / XDIAVEL DARK / XDIAVEL BLACK", "XDIAVEL S")
    su = su.replace("DIAVEL 1260/S/LAMBORGHINI", "DIAVEL 1260 Lamborghini")
    # SuperSport
    su = su.replace("SUPER SPORT", "SUPERSPORT")
    su = su.replace("SUPERSPORT 950 / - 950 S", "SUPERSPORT 950 S")
    su = su.replace("SUPERSPORT 950 / SUPERSPORT 950 S", "SUPERSPORT 950 S")

    # final titlecasing with preserved tokens
    t = su.title()
    keep = [
        "Multistrada V2","Multistrada V2 S","Multistrada V4","Multistrada V4 S","Multistrada V4 Rs","Multistrada V4 Rally",
        "Multistrada 950","Multistrada 950 S","Multistrada 1200","Multistrada 1200 S","Multistrada 1200 Enduro",
        "Streetfighter V4","Streetfighter V4 S","Streetfighter V4 Sp","Streetfighter V2","Streetfighter 848",
        "Panigale V4","Panigale V4 S","Panigale V4 R","Panigale V2","Panigale V2 S","899 Panigale","959 Panigale","1299 Panigale","1199 Panigale",
        "Monster","Monster +","Monster Sp","Monster 821","Monster 1200","Monster 1200 S","Monster 1100","Monster 1100 Evo","Monster 1100 Evo Abs","Monster Senna",
        "Diavel","Diavel 1260","Diavel 1260 S","Diavel V4","Diavel Carbon","Diavel Carbon Abs","Diavel Titanium","Diavel Amg",
        "Xdiavel","Xdiavel S","Xdiavel Nera","Xdiavel V4","Xdiavel Black Star",
        "Hypermotard","Hypermotard 698 Mono","Hypermotard 939","Hypermotard 939 Sp","Hypermotard 950","Hypermotard 950 Sp","Hypermotard 1100","Hypermotard 1100 Evo","Hypermotard 1100 Evo Sp",
        "Hyperstrada","Hyperstrada 939",
        "Scrambler","Ducati Scrambler","Scrambler Ducati 1100","Scrambler Ducati 1100 Pro","Ducati Scrambler Icon Dark","Ducati Scrambler Full Throttle","Ducati Scrambler Nightshift","Scrambler Ducati 1100 Sport Pro",
        "Desertx","Desertx Rally",
        "Multistrada V4 S Grand Tour",
        "SuperSport","SuperSport 950","SuperSport 950 S"
    ]
    for k in keep:
        t = re.sub(rf"\b{re.escape(k.title())}\b", k, t)
    t = re.sub(r"\s+", " ", t).strip()
    return t

df_cleaned.loc[m_ducati, "model"] = df_cleaned.loc[m_ducati, "model"].astype(str).map(_norm_ducati)

duc_df, others = df_cleaned[m_ducati].copy(), df_cleaned[~m_ducati].copy()
before = duc_df.shape[0]
duc_df = duc_df[duc_df["model"] != ""].drop_duplicates(subset=["brand","model"]).reset_index(drop=True)
df_cleaned = pd.concat([others, duc_df], ignore_index=True)
print(f"‚úÖ DUCATI normalized. Removed/duplicates: {before - duc_df.shape[0]}")

DUCATI rows before: 222
‚úÖ DUCATI normalized. Removed/duplicates: 82

## Ferrari

In [212]:
m_ferr = df_cleaned["brand"].str.upper().eq("FERRARI")
print("FERRARI rows before:", m_ferr.sum())

def _norm_ferrari(s: str) -> str:
    su = _u(s).upper().replace("FERRARI ", "")
    # unify names
    su = su.replace("CALIFORNIAT","CALIFORNIA T")
    su = su.replace("GTC4LUSSOT","GTC4LUSSO T")
    su = su.replace("GTC4LUSSOT", "GTC4LUSSO T")
    su = su.replace("GTC4LUSSOT", "GTC4LUSSO T")
    su = su.replace("GTC4LUSSOT", "GTC4LUSSO T")
    su = su.replace("12CILINDRI","12Cilindri")
    su = su.replace("SF90 XX STRADALE","SF90 XX Stradale").replace("SF90 XX SPIDER","SF90 XX Spider")
    t = su.title()
    keep = [
        "296 Gtb","296 Gts",
        "Sf90 Stradale","Sf90 Spider","Sf90 Xx Stradale","Sf90 Xx Spider",
        "Roma","Roma Spider","Daytona Sp3",
        "Purosangue",
        "Portofino","Portofino M",
        "812 Superfast","812 Gts","812 Competizione",
        "F12","F 12","F12 Berlinetta",
        "458","458 Spider",
        "488","488 Gtb","488 Spider","488 Pista","488 Pista Spider",
        "F8 Tributo","F8 Spider",
        "Laferarri","LaFerrari",
        "Gtc4Lusso","Gtc4Lusso T","Gtc4lusso","Gtc4lusso T",
        "599","599 Gtb","599 Gto","599 Sa",
        "612 Scaglietti","Ff","Roma"
    ]
    for k in keep:
        t = re.sub(rf"\b{re.escape(k.title())}\b", k, t)
    # Final tidy/case
    t = t.replace("Gtc4lusso", "GTC4Lusso").replace("Gtc4lusso T","GTC4Lusso T")
    t = t.replace("LaferrarI","LaFerrari").replace("Laferrari","LaFerrari")
    t = t.replace("F 12","F12")
    return re.sub(r"\s+", " ", t).strip()

df_cleaned.loc[m_ferr, "model"] = df_cleaned.loc[m_ferr, "model"].map(_norm_ferrari)
fer = df_cleaned[m_ferr].drop_duplicates(["brand","model"])
df_cleaned = pd.concat([df_cleaned[~m_ferr], fer], ignore_index=True)
print("‚úÖ FERRARI done. Kept:", fer.shape[0])

FERRARI rows before: 53
‚úÖ FERRARI done. Kept: 38

## Fiat

In [213]:
m_fiat = df_cleaned["brand"].str.upper().eq("FIAT")
print("FIAT rows before:", m_fiat.sum())

junk_tokens = [
    "ARTO","BELUGA","CHIC E-LINE","CLEVERVANS","COXX","ETRUSCO","HORUS","MALIBU",
    "WEISENBERG","THEAULT","VAN-63EB","BT7271","DUCATO / PF","/PO","/TRZG","BO-DUC",
    "EXT ","R47","R58","S71","V646","DVBCU","ILLS","T6900","A65 GM","PF 1500","PF1500",
    "BUSINESSVAN","OPEN LAADBAK","GESLOTEN","X-TREME","ULTRA-LINER"
]

def _drop_fiat_row(model_u: str) -> bool:
    if any(tok in model_u for tok in junk_tokens):
        return True
    # heavy camper/commercial detail rows: keep only core name if it starts with Ducato/Scudo/Doblo/Fiorino etc.
    if re.search(r"\b(ETRUSCO|ARTO|CHIC|CLEVER|MALIBU|IXEO|SUNLIGHT)\b", model_u):
        return True
    return False

# move ABARTH to brand ABARTH
mask_abarth = m_fiat & df_cleaned["model"].str.upper().str.contains(r"\bABARTH\b")
df_cleaned.loc[mask_abarth, "brand"] = "ABARTH"
df_cleaned.loc[mask_abarth, "model"] = (
    df_cleaned.loc[mask_abarth, "model"].str.replace(r"\bFIAT\s*", "", regex=True)
                                          .str.replace(r"\bABARTH\s*", "", regex=True)
                                          .str.strip()
                                          .replace({"":"500"})  # if was "ABARTH 500" ‚Üí "500"
)

def _norm_fiat(s: str) -> str:
    su = _u(s).upper()
    su = su.replace("FIAT ", "").replace("FIAT", "")
    if _drop_fiat_row(su):
        return ""
    # core models
    su = su.replace("E SCUDO", "E-SCUDO").replace("E-DOBLO'", "E-DOBLO").replace("E DOBLO", "E-DOBLO")
    su = su.replace("DOBLO'", "DOBLO").replace("D√ìBLO","DOBLO")
    su = su.replace("FIORINO,QUBO","FIORINO QUBO")
    su = su.replace("500 E", "500E").replace("500 L", "500L")
    su = su.replace("PUNT0","PUNTO")
    # reduce long Ducato config strings to just "Ducato"
    if su.startswith("DUCATO"):
        return "Ducato"
    if su.startswith("SCUDO"):
        return "Scudo"
    if su.startswith("DOBLO"):
        return "Doblo"
    if su.startswith("E-DOBLO"):
        return "E-Doblo"
    if su.startswith("E-SCUDO"):
        return "E-Scudo"
    # standard
    base = {
        "500":"500","500E":"500e","500X":"500X","500L":"500L","CINQUECENTO":"Cinquecento","PANDA":"Panda",
        "TIPO":"Tipo","PUNTO":"Punto","QUBO":"Qubo","FIORINO":"Fiorino","ULYSSE":"Ulysse","SCUDO":"Scudo",
        "SEDICI":"Sedici","LINEA":"Linea","STRADA":"Strada","600":"600","FULLBACK":"Fullback","124 SPIDER":"124 Spider"
    }
    for k,v in base.items():
        if su.startswith(k):
            return v
    return su.title()

df_cleaned.loc[m_fiat & ~mask_abarth, "model"] = df_cleaned.loc[m_fiat & ~mask_abarth, "model"].map(_norm_fiat)
fiat_df = df_cleaned[m_fiat].copy()
fiat_df = fiat_df[fiat_df["model"] != ""].drop_duplicates(["brand","model"])
df_cleaned = pd.concat([df_cleaned[~m_fiat], fiat_df], ignore_index=True)
print("‚úÖ FIAT done. Kept:", fiat_df.shape[0], " | moved to ABARTH:", mask_abarth.sum())

FIAT rows before: 135
‚úÖ FIAT done. Kept: 37  | moved to ABARTH: 5

## Ford

In [214]:
# üîπ FORD ‚Äî big cleanup & dedupe (IN-PLACE)
import re, unicodedata
def _u(s): return re.sub(r"\s+", " ", unicodedata.normalize("NFKC", str(s))).strip()

m_ford = df_cleaned["brand"].str.upper().eq("FORD")
print("FORD rows before:", m_ford.sum())

# patterns that indicate vendor/config junk ‚Äî drop those rows
_noisy = [
    "BUSINESSVAN","OPEN LAADBAK","GESLOTEN","X-TREME","ULTRA-LINER","ULTRALINER","ROELOFSEN",
    "AMF-BRUNS","AMF BRUNS","TECNOCAR","EUROLINE","KOMBI","KOMBI,","COMBI","NUGGET","BIG NUGGET",
    "L3H2","BESTELAUTO","KASSEVOGN","VERHUISWAGEN","CAR TRANSPORTER","MET VANGMUIL"
]

def _drop_ford_row(su: str) -> bool:
    if any(tok in su for tok in _noisy):
        return True
    # weird pure codes
    if re.search(r"^\d{2}M3\b", su) or re.search(r"\b(BA7|CX740S|DYB|RIMOR)\b", su):
        return True
    # clearly non-Ford model (e.g., "Challenger")
    if re.search(r"\bCHALLENGER\b", su):
        return True
    return False

def _norm_ford(s: str) -> str:
    su = _u(s).upper()
    # collapse brand echo
    su = re.sub(r"^FORD\s+", "", su)
    if _drop_ford_row(su):
        return ""

    # F-150 / Lightning / Raptor variants
    su = su.replace("F150", "F-150").replace("F 150", "F-150").replace("FORD  F-150","F-150")
    su = su.replace("LICHTNING","LIGHTNING").replace("LICHTNING","LIGHTNING").replace("LIGTHNING","LIGHTNING")
    su = su.replace("RAPTOR R","RAPTOR R")
    su = su.replace("SHELBY OFFROAD","Shelby Offroad")
    su = re.sub(r"\bF-150\s+XLT\b", "F-150 XLT", su)
    su = re.sub(r"\bF-150\s+LARIAT\b", "F-150 Lariat", su)
    su = re.sub(r"\bF-150\s+PLATINUM\b", "F-150 Platinum", su)
    su = re.sub(r"\bF-150\s+RAPTOR\b", "F-150 Raptor", su)
    su = re.sub(r"\bF-150\s+LIGHTNING\b", "F-150 Lightning", su)

    # vans
    su = su.replace("TRANSIT COSTUM", "TRANSIT CUSTOM").replace("CUSTUM", "CUSTOM").replace("COSTUM", "CUSTOM")
    su = su.replace("CUSTOIM", "CUSTOM")
    su = su.replace("TRANSIT CISTOM", "TRANSIT CUSTOM")
    su = su.replace("TRANSIT-NUGGET","TRANSIT NUGGET")
    su = su.replace("TRANSIT-EUROLINE","TRANSIT EUROLINE")
    su = su.replace("TRANSIT/TOURNEO","TRANSIT / TOURNEO")
    su = su.replace("TRANSIT CONNECT/TOURNEO CONNECT","TRANSIT CONNECT / TOURNEO CONNECT")
    # trim noise ‚Üí reduce to base model for vans
    if su.startswith("TRANSIT CUSTOM"):
        return "Transit Custom"
    if su.startswith("TRANSIT CONNECT"):
        return "Transit Connect"
    if su.startswith("TRANSIT COURIER"):
        return "Transit Courier"
    if su.startswith("TOURNEO CUSTOM"):
        return "Tourneo Custom"
    if su.startswith("TOURNEO CONNECT"):
        return "Tourneo Connect"
    if su.startswith("TRANSIT " ) or su == "TRANSIT":
        return "Transit"

    # SUVs / cars normalize
    su = su.replace("ECOSPORT", "EcoSport")
    su = re.sub(r"\bC-?MAX\b", "C-Max", su).replace("S-MAX","S-Max")
    su = su.replace("KA+", "Ka+").replace("KA ", "Ka ").replace("KA 1.2I","Ka").replace("KA 1,2","Ka")
    su = su.replace("KUGA", "Kuga").replace("PUMA","Puma").replace("RANGER","Ranger")
    su = su.replace("ESCAPE", "Escape").replace("EXPLORER", "Explorer").replace("EDGE", "Edge")
    su = su.replace("BRONCO SPORT","Bronco Sport").replace("BRONCO WILDTRAK","Bronco Wildtrak").replace("BRONCO BADLANDS","Bronco Badlands")
    su = su.replace("MUSTANG MACH-E","Mustang Mach-E").replace("MUSTANG MACH1","Mustang Mach 1")
    su = su.replace("MUSTANG ECO BOOST","Mustang EcoBoost").replace("MUSTANG ECOBOOST","Mustang EcoBoost")
    # condense Mustang variants if too verbose
    if su.startswith("MUSTANG"):
        return re.sub(r"\s+", " ", su.title()).replace("Gt", "GT").replace("Ecoboost","EcoBoost")

    # Focus/Fiesta/Mondeo, etc.
    if su.startswith("FOCUS"):
        return "Focus"
    if su.startswith("FIESTA"):
        return "Fiesta"
    if su.startswith("MONDEO"):
        return "Mondeo"
    if su.startswith("GALAXY"):
        return "Galaxy"
    if su.startswith("S-MAX"):
        return "S-Max"
    if su.startswith("C-MAX"):
        return "C-Max"
    if su.startswith("ECOSPORT"):
        return "EcoSport"
    if su.startswith("ESCAPE"):
        return "Escape"
    if su.startswith("EXPLORER"):
        return "Explorer"
    if su.startswith("MAVERICK"):
        return "Maverick"
    if su.startswith("RANGER"):
        return "Ranger"
    if su.startswith("BRONCO"):
        return su.title()

    # electric van
    if su.startswith("E-TRANSIT"):
        return "E-Transit"

    # fallback titlecase
    return su.title()

df_cleaned.loc[m_ford, "model"] = df_cleaned.loc[m_ford, "model"].map(_norm_ford)
ford_df = df_cleaned[m_ford]
ford_df = ford_df[ford_df["model"] != ""].drop_duplicates(["brand","model"])
df_cleaned = pd.concat([df_cleaned[~m_ford], ford_df], ignore_index=True)
print("‚úÖ FORD done. Kept:", ford_df.shape[0])

FORD rows before: 348
‚úÖ FORD done. Kept: 153

##GENERAL MOTORS-GMC

In [215]:
brand_gmgmc = "GENERAL MOTORS-GMC"
m, br, bm = _report(df_cleaned, brand_gmgmc)

def norm_gm_gmc(s: str) -> str:
    u = re.sub(r"\s+", " ", str(s).strip().upper())
    if not u or u in {"-", "NAN"}: return ""
    # discard non-GMC items
    if any(x in u for x in ["CHEVROLET", "CAMARO", "CORVETTE", "SILVERADO", "EAGLE SPECIAL"]):
        return ""
    # valid GMC
    if "ACADIA" in u: return "Acadia"
    if "SAVANA" in u: return "Savana"
    if "SIERRA" in u:
        if "AT4" in u: return "Sierra 1500 AT4"
        if "DENALI" in u: return "Sierra 1500 Denali" if "1500" in u else "Sierra Denali"
        if "1500" in u: return "Sierra 1500"
        return "Sierra"
    return ""

df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_gm_gmc)
df_cleaned = pd.concat([
    df_cleaned[~m],
    df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])
], ignore_index=True)

_after_report(df_cleaned, brand_gmgmc, br, bm)

[GENERAL MOTORS-GMC] BEFORE: rows=25, unique_models=25
[GENERAL MOTORS-GMC] AFTER:  rows=7, unique_models=7  (Œîrows=-18, Œîmodels=-18)

## GIOTTILINE

In [216]:
brand_giotti = "GIOTTILINE"
m, br, bm = _report(df_cleaned, brand_giotti)

def norm_giotti(s: str) -> str:
    u = re.sub(r"\s+", " ", str(s).strip().upper())
    if not u or u in {"-", "NAN"}: return ""
    # Series with codes
    if re.match(r"^THERRY T\d+", u): return u.title().replace("T", "T", 1)
    if re.match(r"^SIENA \d+", u): return u.title()
    if re.match(r"^ILLUSION \d+", u) or "ILUSION" in u: return u.title().replace("Ilusion", "Illusion")
    if "TOP CRUISER 450" in u: return "Top Cruiser 450"
    # simple numeric codes -> keep as-is titled
    if re.fullmatch(r"[0-9]{2,3}[A-Z]{0,2}", u):
        return u.title()
    # single-letter + number like "T32", "C60"
    if re.fullmatch(r"[A-Z]\d{2,3}", u):
        return u.title()
    # leave other clear tags (e.g., 60T, 60B, 74GC, 69GC, 386, 395)
    if re.fullmatch(r"[0-9]{2,3}[A-Z]{1,3}", u):
        return u.upper()
    return ""

df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_giotti)
df_cleaned = pd.concat([
    df_cleaned[~m],
    df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])
], ignore_index=True)

_after_report(df_cleaned, brand_giotti, br, bm)

[GIOTTILINE] BEFORE: rows=24, unique_models=23
[GIOTTILINE] AFTER:  rows=23, unique_models=23  (Œîrows=-1, Œîmodels=0)

## HARLEY DAVIDSON

In [217]:
df_cleaned["brand"] = df_cleaned["brand"].replace({
    "HARLEY DAVIDSON": "HARLEY-DAVIDSON",
    "Harley Davidson": "HARLEY-DAVIDSON",
    "Harley-Davidson": "HARLEY-DAVIDSON",
    "harley davidson": "HARLEY-DAVIDSON",
})
brand_hd = "HARLEY-DAVIDSON"

# --- Helpers for strict family bucketing ---

_FAMILY_PATTERNS = [
    # Touring
    (r"\bstreet\s+glid[ei]\b",               "Street Glide"),
    (r"\broad\s+glid[ei]\b",                 "Road Glide"),
    (r"\broad\s+king\b",                     "Road King"),
    (r"\belectra\s+glid[ei]\b",              "Electra Glide"),
    (r"\bultra\s+limited\b",                 "Ultra Limited"),
    # Trike
    (r"\btri\s+glid[ei]\b",                  "Tri Glide"),
    (r"\bfreewheeler\b",                     "Freewheeler"),
    # Adventure
    (r"\bpan\s+america\b",                   "Pan America"),
    # Softail families
    (r"\bfat\s+boy\b",                       "Fat Boy"),
    (r"\bfat\s+bob\b",                       "Fat Bob"),
    (r"\bbreakout\b",                        "Breakout"),
    (r"\bheritage\b",                        "Heritage Classic"),
    (r"\bstreet\s+bob\b",                    "Street Bob"),
    (r"\blow\s+rider\b",                     "Low Rider"),
    (r"\bsoftail\s+standard\b",              "Softail Standard"),
    (r"\bsoftail\s+slim\b|\bslim\b",         "Softail Slim"),
    (r"\bdeluxe\b|\bsoftail\s+deluxe\b",     "Deluxe"),
    # Sportster family (all variants & codes folded)
    (r"\bsportster\b|\biron\s*8?8?3\b|\biron\s*1200\b|\broadster\b|\bxl\s*8?8?3\b|\bxl\s*1200\b", "Sportster"),
    (r"\bnightster\b",                       "Sportster"),
    # Generic Softail catch (only if nothing above matched)
    (r"\bsoftail\b",                         "Softail"),
]

# Common typo/alias normalizations applied before matching
def _preclean(u: str) -> str:
    u = re.sub(r"\s+", " ", str(u).strip().upper())
    if not u or u in {"-", "NAN"}:
        return ""
    # frequent typos/aliases
    repl = {
        "GILDE": "GLIDE",
        "GLIDe": "GLIDE",
        "SPAECIAL": "SPECIAL",
        "SPEC ": "SPECIAL ",
        "ELEKTRA": "ELECTRA",
        "STREETGKIDE": "STREET GLIDE",
        "STREET GKIDE": "STREET GLIDE",
        "STREET GILDE": "STREET GLIDE",
        "TRIGLADE": "TRI GLIDE",
        "ROAD GLIDE ST ": "ROAD GLIDE ST ",
    }
    for a, b in repl.items():
        u = u.replace(a, b)
    # strip obvious internal codes & noise tokens
    u = re.sub(r"\b(FLH\w*|FX\w*|XL\d*\w*|VRSC\w*|CVO|ANNIVERSARY|POLICE|SHRINE|SPECIAL|SE|SE\d*|ST)\b", " ", u)
    u = re.sub(r"[^\w\s]+", " ", u)  # remove punctuation
    u = re.sub(r"\s+", " ", u).strip()
    return u

def _hd_bucket(u: str) -> str:
    for pat, family in _FAMILY_PATTERNS:
        if re.search(pat, u, flags=re.IGNORECASE):
            return family
    return ""

def norm_hd(model: str) -> str:
    u = _preclean(model)
    if not u:
        return ""
    return _hd_bucket(u)

# --- Apply to HARLEY-DAVIDSON only ---
m, br, bm = _report(df_cleaned, brand_hd)

# Map models to strict families; drop empties; drop duplicates brand+model
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_hd)

df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand", "model"])
    ],
    ignore_index=True
)

_after_report(df_cleaned, brand_hd, br, bm)

[HARLEY-DAVIDSON] BEFORE: rows=515, unique_models=413
[HARLEY-DAVIDSON] AFTER:  rows=19, unique_models=19  (Œîrows=-496, Œîmodels=-394)

## Honda

In [218]:
_HONDA_CAR_PATTERNS = [
    (r"\bCIVIC\s*TYPE\s*R\b",      "Civic Type R"),
    (r"\bCIVIC\b",                 "Civic"),
    (r"\bACCORD\b",                "Accord"),
    (r"\bJAZZ\b|\bFIT\b",          "Jazz"),
    (r"\bCR-?V\b|\bCRV\b",         "CR-V"),
    (r"\bZR-?V\b",                 "ZR-V"),
    (r"\bHR-?V\b",                 "HR-V"),
    (r"\bE:NY1\b|\bE ?NY1\b",      "e:Ny1"),
    (r"\bINSIGHT\b",               "Insight"),
    (r"\bCLARITY\b",               "Clarity"),
    (r"\bCR-?Z\b|\bCRZ\b",         "CR-Z"),
    (r"\bODYSSEY\b",               "Odyssey"),
    (r"\bPILOT\b",                 "Pilot"),
    (r"\bLEGEND\b",                "Legend"),
    (r"\bCITY\b",                  "City"),
    (r"\bSTREAM\b",                "Stream"),
    (r"\bSTEPW[AG]N\b|\bSTEPWAGON\b", "Stepwgn"),
    (r"\bN[- ]?BOX\b",             "N-Box"),
    (r"\bS660\b",                  "S660"),
    (r"\bCROSSTOUR\b",             "Crosstour"),
    (r"\bHONDA E\b|\b^E\b",        "Honda e"),
]

_HONDA_BIKE_PATTERNS = [
    (r"\bCRF ?1100\b|\bAFRICA\s*TWIN\b", "CRF1100 Africa Twin"),
    (r"\bCRF ?1000\b",                   "CRF1000 Africa Twin"),
    (r"\bNT ?1100\b",                    "NT1100"),
    (r"\bVFR ?1200X?D?\b|\bVFR ?1200X\b","VFR1200X"),
    (r"\bVFR ?800F?\b",                  "VFR800F"),
    (r"\bVFR\b",                         "VFR"),
    (r"\bST1300\b",                      "ST1300"),
    (r"\bGL ?1800\b",                    "Gold Wing"),
    (r"\bCB1000R?\b",                    "CB1000R"),
    (r"\bCB1100\b",                      "CB1100"),
    (r"\bCB650R?\b|\bCB650F\b",          "CB650"),
    (r"\bCB600F\b",                      "CB600F"),
    (r"\bCB500F\b",                      "CB500F"),
    (r"\bCB500X\b",                      "CB500X"),
    (r"\bCBR ?1000\b",                   "CBR1000RR"),
    (r"\bCBR ?650\b",                    "CBR650R"),
    (r"\bCBR ?600\b",                    "CBR600F"),
    (r"\bCBR ?500\b",                    "CBR500R"),
    (r"\bCBR ?300\b",                    "CBR300R"),
    (r"\bCBR ?250\b",                    "CBR250R"),
    (r"\bCBR\b",                         "CBR"),
    (r"\bCMX ?1100\b",                   "Rebel 1100"),
    (r"\bCMX ?500\b",                    "Rebel 500"),
    (r"\bNSS ?(750|350|300)\b",          "Forza"),
    (r"\bSH ?(125|150|300|350)\b",       "SH"),
    (r"\bADV ?(750|350)\b",              "ADV"),
    (r"\bWW ?125\b",                     "PCX 125"),
    (r"\bMSX ?125\b|\bGROM\b",           "MSX 125 Grom"),
    (r"\bC125\b",                        "Super Cub C125"),
    (r"\bST125\b",                       "Dax 125"),
    (r"\bGB350\b",                       "GB350"),
    (r"\bCL500\b",                       "CL500"),
    (r"\bNT ?700V\b",                    "NT700V"),
    (r"\bXL1000V A?\b|\bXL700V A?\b",    "Transalp"),
    (r"\bVFR ?1200F\b",                  "VFR1200F"),
    (r"\bVT ?1300\b",                    "VT1300"),
    (r"\bVT ?750\b",                     "VT750"),
    (r"\bNSC ?110\b",                    "Vision 110"),
    (r"\bCBF ?1000F?A?\b",               "CBF1000"),
    (r"\bCBF ?600S?A?\b",                "CBF600"),
    (r"\bCRF ?250L?A?\b|\bCRF ?250M\b",  "CRF250"),
    (r"\bCRF ?300L\b",                   "CRF300L"),
    (r"\bCRF ?450L\b",                   "CRF450L"),
]

def _honda_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = (u.replace("HOND CR-V", "CR-V")
           .replace("ACCCORD", "ACCORD")
           .replace("CRF 1000", "CRF1000")
           .replace("CRF 1100", "CRF1100")
           .replace("VFR 1200", "VFR1200")
           .replace("VFR 800", "VFR800")
           .replace("ADV 750", "ADV750"))
    u = re.sub(r"\b(2WD|4WD|AWD|FWD|5DR|4DR|3DR|TOURER|SPORT|LX[- ]S|TOURING)\b", " ", u)
    u = re.sub(r"[^\w\s:+/]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_honda(model: str) -> str:
    u = _honda_pre(model)
    if not u: return ""
    for pat, name in _HONDA_CAR_PATTERNS:
        if re.search(pat, u): return name
    for pat, name in _HONDA_BIKE_PATTERNS:
        if re.search(pat, u): return name
    return ""

brand_honda = "HONDA"
m, br, bm = _report(df_cleaned, brand_honda)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_honda)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_honda, br, bm)

[HONDA] BEFORE: rows=250, unique_models=249
[HONDA] AFTER:  rows=42, unique_models=42  (Œîrows=-208, Œîmodels=-207)

## HHUSQVARNA

In [219]:
_HUSKY_PATTERNS = [
    (r"\b701\s+SUPERMOTO\b",      "701 Supermoto"),
    (r"\b701\s+ENDURO\b",         "701 Enduro"),
    (r"\b901\s+NORDEN\b",         "Norden 901"),
    (r"\bNORDEN\b.*\bEXPEDITION\b","Norden 901 Expedition"),
    (r"\bSVARTPILEN\s*701\b",     "Svartpilen 701"),
    (r"\bSVARTPILEN\s*401\b",     "Svartpilen 401"),
    (r"\bSVARTPILEN\s*125\b|\b125\s+SVARTPILEN\b", "Svartpilen 125"),
    (r"\bVITPILEN\s*701\b",       "Vitpilen 701"),
    (r"\bVITPILEN\s*401\b",       "Vitpilen 401"),
    (r"\bFE\s*501\b",             "FE 501"),
    (r"\bFE\s*450\b",             "FE 450"),
    (r"\bFE\s*350\b",             "FE 350"),
    (r"\bFE\s*250\b",             "FE 250"),
    (r"\bTE\s*300I?\b",           "TE 300i"),
    (r"\bTE\s*250I?\b",           "TE 250i"),
    (r"\bTE\s*150I?\b",           "TE 150i"),
    (r"\bTE\s*125\b",             "TE 125"),
    (r"\bWR\s*300\b",             "WR 300"),
    (r"\bWR\s*250\b",             "WR 250"),
    (r"\bSMR\s*630\b",            "SMR 630"),
    (r"\bTE\s*630\b",             "TE 630"),
    (r"\bTR\s*650\s*TERRA\b",     "TR 650 Terra"),
    (r"\bNUDA\s*900R\b",          "Nuda 900R"),
    (r"\bNUDA\s*900\b",           "Nuda 900"),
    (r"\bRALLY\b.*\bREPLICA\b",   "450 Rally Replica"),
]

def _husky_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = u.replace("HUSQVARNA ", "").replace("HUSQVARNA", "")
    u = re.sub(r"\(.*?\)", " ", u)
    u = re.sub(r"[^\w\s]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_husky(model: str) -> str:
    u = _husky_pre(model)
    if not u: return ""
    for pat, name in _HUSKY_PATTERNS:
        if re.search(pat, u): return name
    return ""

brand_husky = "HUSQVARNA"
m, br, bm = _report(df_cleaned, brand_husky)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_husky)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_husky, br, bm)

[HUSQVARNA] BEFORE: rows=43, unique_models=43
[HUSQVARNA] AFTER:  rows=24, unique_models=24  (Œîrows=-19, Œîmodels=-19)

## Hyundai

In [220]:
_HYUNDAI_PATTERNS = [
    (r"\bKONA\s*N\b",             "Kona N"),
    (r"\bKONA\b|\bKAUAI\b",       "Kona"),
    (r"\bTUSC?ON\b|\bIX35\b",     "Tucson"),
    (r"\bSANTA\s*FE\b|\bSANTAFE\b","Santa Fe"),
    (r"\bGRAND\s*SANTA\s*FE\b",   "Grand Santa Fe"),
    (r"\bPALISADE\b",             "Palisade"),
    (r"\bBAYON\b",                "Bayon"),
    (r"\bVENUE\b",                "Venue"),
    (r"\bI[-\s]?10\b",            "i10"),
    (r"\bI[-\s]?20\s*N\b",        "i20 N"),
    (r"\bI[-\s]?20\b",            "i20"),
    (r"\bI[-\s]?30\s*N\b",        "i30 N"),
    (r"\bI[-\s]?30\b",            "i30"),
    (r"\bI[-\s]?30\s*CW\b",       "i30 CW"),
    (r"\bIONIQ\s*5\s*N\b",        "IONIQ 5 N"),
    (r"\bIONIQ\s*5\b|\bHYUNDAI IONIQ 5\b", "IONIQ 5"),
    (r"\bIONIQ\s*6\b",            "IONIQ 6"),
    (r"\bIONIQ\b(?!\s*[56N])",    "IONIQ"),
    (r"\bNEXO\b",                 "NEXO"),
    (r"\bELANTRA\b",              "Elantra"),
    (r"\bSONATA\b",               "Sonata"),
    (r"\bACCENT\b",               "Accent"),
    (r"\bGETZ\b",                 "Getz"),
    (r"\bMATRIX\b",               "Matrix"),
    (r"\bIX20\b",                 "ix20"),
    (r"\bH[- ]?1\b|\bSTAREX\b",   "H-1 / Starex"),
    (r"\bH350\b",                 "H350"),
    (r"\bSTARIA\b",               "Staria"),
    (r"\bVELOSTER\b",             "Veloster"),
    (r"\bGENESIS\s+COUPE\b",      "Genesis Coupe"),
    (r"\bGENESIS\s+G70\b",        "Genesis G70"),
    (r"\bGENESIS\s+GV70\b",       "Genesis GV70"),
    (r"\bG90\b",                  "G90"),
    (r"\bGRANDEUR\b|\bHG 300 GRANDEUR\b", "Grandeur"),
    (r"\bINSTER\b",               "Inster"),
    (r"\bCRETA\b",                "Creta"),
]

def _hyundai_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = u.replace("TUSCON", "TUCSON").replace("SANTE FE", "SANTA FE")
    u = re.sub(r"[^\w\s]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_hyundai(model: str) -> str:
    u = _hyundai_pre(model)
    if not u: return ""
    for pat, name in _HYUNDAI_PATTERNS:
        if re.search(pat, u): return name
    return ""

brand_hyundai = "HYUNDAI"
m, br, bm = _report(df_cleaned, brand_hyundai)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_hyundai)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_hyundai, br, bm)

[HYUNDAI] BEFORE: rows=79, unique_models=79
[HYUNDAI] AFTER:  rows=35, unique_models=35  (Œîrows=-44, Œîmodels=-44)

## INDIAN MOTORCYCLE

In [221]:
_INDIAN_PATTERNS = [
    (r"\bSCOUT\s+ROGUE\b",                 "Scout Rogue"),
    (r"\bSUPER\s+SCOUT\b",                 "Super Scout"),
    (r"\bSPORT\s+SCOUT\b",                 "Sport Scout"),
    (r"\bSCOUT\s+BOBBER\b",                "Scout Bobber"),
    (r"\bSCOUT\s+SIXTY\b",                 "Scout Sixty"),
    (r"\bSCOUT\b(?!\s*ROGUE| BO)",         "Scout"),
    (r"\b101\s+SCOUT\b",                   "101 Scout"),
    (r"\bSUPER\s+CHIEF\b",                 "Super Chief"),
    (r"\bCHIEF\s+BOBBER\b",                "Chief Bobber"),
    (r"\bCHIEF\b",                         "Chief"),
    (r"\bCHIEFTAIN\b",                     "Chieftain"),
    (r"\bSPRINGFIELD\b",                   "Springfield"),
    (r"\bROADMASTER\b",                    "Roadmaster"),
    (r"\bCHALLENGER\b",                    "Challenger"),
    (r"\bPURSUIT\b",                       "Pursuit"),
    (r"\bFTR\b",                           "FTR"),
    (r"\bVINTAGE\b",                       "Vintage"),
]

def _indian_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = u.replace("INDIAN MOTORCYCLE", "").replace("INDIAN ", "")
    u = re.sub(r"\b(DARK HORSE|ELITE|LIMITED|CLASSIC|POWERPLUS|PREMIUM|AUDIO|RSD|CHAMPIONSHIP|RALLY|LE|TECH|\+TECH|\+ TECH|70 KW|100%|WITH.*|LIMITED\s*\+\s*TECH)\b", " ", u)
    u = re.sub(r"[^\w\s]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_indian(model: str) -> str:
    u = _indian_pre(model)
    if not u: return ""
    for pat, name in _INDIAN_PATTERNS:
        if re.search(pat, u): return name
    return ""

brand_indian = "INDIAN MOTORCYCLE"
m, br, bm = _report(df_cleaned, brand_indian)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_indian)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_indian, br, bm)

[INDIAN MOTORCYCLE] BEFORE: rows=68, unique_models=68
[INDIAN MOTORCYCLE] AFTER:  rows=16, unique_models=16  (Œîrows=-52, Œîmodels=-52)

## INFINITI

In [222]:
_INFINITI_PATTERNS = [
    (r"\bQX60\b",                        "QX60"),
    (r"\bQX70\b|\bFX3(0D|5|7)\b",        "QX70"),
    (r"\bQX30\b|\bQ30\b",                "QX30 / Q30"),
    (r"\bQ50\b",                         "Q50"),
    (r"\bQ60\b",                         "Q60"),
    (r"\bEX25\b",                        "EX25"),
]

def _infiniti_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u).replace("INFINITI ", "")
    u = re.sub(r"\bPREMIUM\b|\bS\b", " ", u)
    u = re.sub(r"[^\w\s]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_infiniti(model: str) -> str:
    u = _infiniti_pre(model)
    if not u: return ""
    for pat, name in _INFINITI_PATTERNS:
        if re.search(pat, u): return name
    return ""

brand_infiniti = "INFINITI"
m, br, bm = _report(df_cleaned, brand_infiniti)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_infiniti)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_infiniti, br, bm)

[INFINITI] BEFORE: rows=15, unique_models=15
[INFINITI] AFTER:  rows=6, unique_models=6  (Œîrows=-9, Œîmodels=-9)

## IVECO

In [223]:
_IVECO_CODE_PAT = re.compile(
    r"\b(\d{2}[SC]\d{2}[A-Z]?\d*[A-Z]*|\d{2}[SC]/\d{2}|[34]0C\d{2}[A-Z]?\d*|50C\d{2}[A-Z]?\d*|70[SC]\d{2}[A-Z]?\d*|55S\d{2}[A-Z]?\d*|29L\d{2}|33S\d{2}|38S\d{2}|42[SC]\d{2}E?)\b"
)

def _iveco_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = (u.replace("DAILEY", "DAILY")
           .replace("MUTLICAB", "MULTICAB")
           .replace("IVECO 50C/35", "50C/35"))
    return u

def norm_iveco(model: str) -> str:
    u = _iveco_pre(model)
    if not u: return ""
    if "IVECO DAILY" in u or u == "IVECO": return "Daily"
    if "DAILY" in u:
        mcode = _IVECO_CODE_PAT.search(u)
        return mcode.group(0) if mcode else "Daily"
    mcode = _IVECO_CODE_PAT.search(u)
    if mcode: return mcode.group(0)
    if re.search(r"\bBE-COMBI\b|\bMULTICAB\b|\bTRACTOR\b", u): return "Daily"
    return "Daily"

brand_iveco = "IVECO"
m, br, bm = _report(df_cleaned, brand_iveco)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_iveco)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_iveco, br, bm)

[IVECO] BEFORE: rows=133, unique_models=132
[IVECO] AFTER:  rows=76, unique_models=76  (Œîrows=-57, Œîmodels=-56)

##JAGUAR

In [224]:
brand_jag = "JAGUAR"
m, br, bm = _report(df_cleaned, brand_jag)

def norm_jag(s: str) -> str:
    u = re.sub(r"\s+", " ", str(s).strip().upper())
    if not u or u in {"NAN","-"}: return ""
    u = (u.replace("JAGUAR ", "")
           .replace("JAUGUAR ", "JAGUAR ")
           .replace("F TYPE", "F-TYPE"))
    if "F-PACE" in u: return "F-PACE"
    if "E-PACE" in u: return "E-PACE"
    if "I-PACE" in u: return "I-PACE"
    if "F-TYPE" in u: return "F-TYPE"
    if "XF" in u and "SPORT" in u: return "XF Sportbrake"
    if re.search(r"\bXF\b", u): return "XF"
    if re.search(r"\bXE\b", u): return "XE"
    if re.search(r"\bXJ\b", u): return "XJ"
    if re.search(r"\bXKR-?S?\b", u): return "XKR"
    if re.search(r"\bXK\b", u): return "XK"
    if "PROJECT 7" in u or "PROJEKT 7" in u: return "Project 7"
    return ""

df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_jag)
df_cleaned = pd.concat([
    df_cleaned[~m],
    df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])
], ignore_index=True)

_after_report(df_cleaned, brand_jag, br, bm)

[JAGUAR] BEFORE: rows=53, unique_models=53
[JAGUAR] AFTER:  rows=11, unique_models=11  (Œîrows=-42, Œîmodels=-42)

## Jeep

In [225]:
_JEEP_PATTERNS = [
    (r"\bGRAND\s+WAGONEER\b",           "Grand Wagoneer"),
    (r"\bWAGONEER\b",                    "Wagoneer"),
    (r"\bGRAND\s+CHEROKEE\b",            "Grand Cherokee"),
    (r"\bCHEROKEE\b",                    "Cherokee"),
    (r"\bWRANGLER\b",                    "Wrangler"),
    (r"\bGLADIATOR\b",                   "Gladiator"),
    (r"\bCOMPASS\b",                     "Compass"),
    (r"\bRENEGADE\b",                    "Renegade"),
    (r"\bPATRIOT\b",                     "Patriot"),
    (r"\bAVENGER\b",                     "Avenger"),
]

def _jeep_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    # Normalize common misspellings / language variants
    u = (u.replace("WRANGLER UNLTD", "WRANGLER UNLIMITED")
           .replace("WRANGLER (3 PORTES)", "WRANGLER")
           .replace("UNLIMITID", "UNLIMITED")
           .replace("JEEP ", "")
           .replace("GRAND CHEROKEE L", "GRAND CHEROKEE"))
    # Remove trim/engine/drive/edition noise
    u = re.sub(r"\b(RUBICON|SAHARA|SPORT|SRT|TRACKHAWK|OVERLAND|LIMITED|4XE|392|3\.8|4X4|4WD|V6|AUT|JK|SPORT S)\b", " ", u)
    u = re.sub(r"[^\w\s]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_jeep(model: str) -> str:
    u = _jeep_pre(model)
    if not u: return ""
    # Drop non-Jeep models erroneously in the list
    if re.search(r"\bJOURNEY\b", u) or re.search(r"\bBRUTE\b", u):
        return ""
    for pat, name in _JEEP_PATTERNS:
        if re.search(pat, u): return name
    return ""

brand_jeep = "JEEP"
m, br, bm = _report(df_cleaned, brand_jeep)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_jeep)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_jeep, br, bm)

[JEEP] BEFORE: rows=60, unique_models=60
[JEEP] AFTER:  rows=10, unique_models=10  (Œîrows=-50, Œîmodels=-50)

## Kabe

In [226]:
def _kabe_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = u.replace("KABE ", "")
    u = re.sub(r"\bAUFBAU\b|\bINTEGRATED\b", "", u)  # drop generic descriptors if duplicated
    u = re.sub(r"\s+/\s+|\s{2,}", " ", u)
    u = u.replace("TMCRV", "TM CRV").replace("TMCRI", "TM CRI").replace("TMCRL", "TM CRL").replace("TMMI", "TM MI").replace("TMMRI", "TM MRI").replace("TMRX", "TM RX").replace("TMNX", "TM NX")
    u = u.strip()
    return u

def norm_kabe(model: str) -> str:
    u = _kabe_pre(model)
    return u

brand_kabe = "KABE"
m, br, bm = _report(df_cleaned, brand_kabe)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_kabe)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_kabe, br, bm)

[KABE] BEFORE: rows=21, unique_models=21
[KABE] AFTER:  rows=21, unique_models=21  (Œîrows=0, Œîmodels=0)

## KAWASAKI

In [227]:
_KAWA_PATTERNS = [
    # Ninja family
    (r"\bNINJA\s+E-?1\b",                 "Ninja e-1"),
    (r"\bNINJA\s+H2\s*S?X?\b",            "Ninja H2"),
    (r"\bNINJA\s+ZX-10RR?\b",             "Ninja ZX-10R"),
    (r"\bNINJA\s+ZX-6R\b",                "Ninja ZX-6R"),
    (r"\bNINJA\s+ZX-4R\b",                "Ninja ZX-4R"),
    (r"\bNINJA\s+1000SX\b",               "Ninja 1000SX"),
    (r"\bNINJA\s+650\b",                  "Ninja 650"),
    (r"\bNINJA\s+500\b",                  "Ninja 500"),
    (r"\bNINJA\s+400\b",                  "Ninja 400"),
    (r"\bNINJA\s+300\b",                  "Ninja 300"),
    (r"\bNINJA\s+250R\b",                 "Ninja 250R"),
    (r"\bNINJA\s+250SL\b",                "Ninja 250SL"),
    (r"\bNINJA\s+125\b",                  "Ninja 125"),
    (r"\bNINJA\s+7\s*HYBRID\b",           "Ninja 7 Hybrid"),
    # Z family
    (r"\bZ\s*H2\b",                        "Z H2"),
    (r"\bZ\s*E-?1\b",                      "Z e-1"),
    (r"\bZ900RS\b|\bZ 900 RS\b",           "Z900RS"),
    (r"\bZ900\b",                           "Z900"),
    (r"\bZ800\b",                           "Z800"),
    (r"\bZ750R?\b",                         "Z750"),
    (r"\bZ1000SX\b",                        "Z1000SX"),
    (r"\bZ1000\b",                          "Z1000"),
    (r"\bZ650RS\b",                         "Z650RS"),
    (r"\bZ650\b",                           "Z650"),
    (r"\bZ500\b",                           "Z500"),
    (r"\bZ400\b",                           "Z400"),
    (r"\bZ300\b",                           "Z300"),
    (r"\bZ125\b",                           "Z125"),
    (r"\bZR ?900\b",                        "Z900"),
    # Versys family
    (r"\bVERSYS[-\s]?X\s*300\b",            "Versys-X 300"),
    (r"\bVERSYS\s*1000\b",                  "Versys 1000"),
    (r"\bVERSYS\s*650\b",                   "Versys 650"),
    (r"\bVERSYS\b",                         "Versys"),
    # Vulcan / VN cruiser
    (r"\bVULCAN\s+1700\b|\bVN1700\b",       "Vulcan 1700"),
    (r"\bVULCAN\s+900\b|\bVN900\b",         "Vulcan 900"),
    (r"\bVULCAN\s+S\b|\bEN650\b",           "Vulcan S"),
    (r"\bVULCAN\b",                          "Vulcan"),
    # W classic
    (r"\bW800\b",                            "W800"),
    (r"\bW230\b",                            "W230"),
    # Sport-tourer / others
    (r"\b1400\s*GTR\b",                      "1400GTR"),
    (r"\bZZR1400\b",                         "ZZR1400"),
    (r"\bKLX250\b",                          "KLX250"),
    # Scooters
    (r"\bJ125\b",                            "J125"),
    (r"\bJ300\b",                            "J300"),
    # Older ER-6 / EX650
    (r"\bER-?6F\b|ER6F\b",                   "ER-6f"),
    (r"\bER-?6N\b|ER6N\b",                   "ER-6n"),
    (r"\bEX650[C|/D|M]?\b",                  "EX650"),
]

def _kawa_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = (u.replace("NINJIA", "NINJA")
           .replace("ER -6F", "ER-6F")
           .replace("ER 6N", "ER-6N")
           .replace("ER 6N ABS", "ER-6N ABS")
           .replace("Z 900 RS", "Z900RS")
           .replace("Z 1000", "Z1000")
           .replace("Z 750", "Z750"))
    u = re.sub(r"[^\w\s-]", " ", u)
    u = re.sub(r"\bABS\b", " ", u)  # ABS is not model-defining here
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_kawasaki(model: str) -> str:
    u = _kawa_pre(model)
    if not u: return ""
    # Remove obvious non-bike entries
    if re.search(r"\bBRUTE\s+FORCE\b", u):  # ATV
        return ""
    for pat, name in _KAWA_PATTERNS:
        if re.search(pat, u): return name
    return ""

brand_kawa = "KAWASAKI"
m, br, bm = _report(df_cleaned, brand_kawa)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_kawasaki)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_kawa, br, bm)

[KAWASAKI] BEFORE: rows=115, unique_models=115
[KAWASAKI] AFTER:  rows=46, unique_models=46  (Œîrows=-69, Œîmodels=-69)

## KIA

In [228]:
_KIA_PATTERNS = [
    (r"\bEV9\b",                 "EV9"),
    (r"\bEV6\b",                 "EV6"),
    (r"\bEV4\b",                 "EV4"),
    (r"\bEV3\b",                 "EV3"),
    (r"\bNIRO\b|NERO\b",         "Niro"),
    (r"\bSPORTAGE\b",            "Sportage"),
    (r"\bSORENTO\b",             "Sorento"),
    (r"\bTELLURIDE\b",           "Telluride"),
    (r"\bCE[EE]\s*D\b|\bCEE'?D\b|\bED\b|\bED CEE'D\b", "Ceed"),
    (r"\bPROCEED\b|\bPRO CEED\b", "ProCeed"),
    (r"\bXCEED\b",               "XCeed"),
    (r"\bPICANTO\b|\bMORNING\b", "Picanto"),
    (r"\bRIO\b",                 "Rio"),
    (r"\bSTONIC\b",              "Stonic"),
    (r"\bSOUL\b",                "Soul"),
    (r"\bOPTIMA\b",              "Optima"),
    (r"\bCERATO\b|\bFORTE\b",    "Cerato / Forte"),
    (r"\bCARENS\b|\bRONDO\b",    "Carens"),
    (r"\bSELTOS\b",              "Seltos"),
    (r"\bVENGA\b",               "Venga"),
    (r"\bSTINGER\b",             "Stinger"),
]

def _kia_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u).replace("KIA ", "")
    u = re.sub(r"[^\w\s']", " ", u)
    u = re.sub(r"\bSL\S*\b|\bSLS\b|\bGT[- ]LINE\b|\bGPL\b|\bISG\b|\bEX\b|\bSW\b|,\s*MORNING", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_kia(model: str) -> str:
    u = _kia_pre(model)
    if not u: return ""
    for pat, name in _KIA_PATTERNS:
        if re.search(pat, u): return name
    return ""

brand_kia = "KIA"
m, br, bm = _report(df_cleaned, brand_kia)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_kia)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_kia, br, bm)

[KIA] BEFORE: rows=52, unique_models=52
[KIA] AFTER:  rows=21, unique_models=21  (Œîrows=-31, Œîmodels=-31)

## KTM

In [229]:
_KTM_PATTERNS = [
    # Travel / Adventure
    (r"\b(1390|1290)\s+SUPER\s+ADVENTURE\b|\bSUPER\s+ADVENTURE\b",   "1290 Super Adventure"),
    (r"\b1190\s+ADVENTURE\b",                                        "1190 Adventure"),
    (r"\b1090\s+ADVENTURE\b",                                        "1090 Adventure"),
    (r"\b990\s+ADVENTURE\b",                                         "990 Adventure"),
    (r"\b890\s+ADVENTURE\b",                                         "890 Adventure"),
    (r"\b790\s+ADVENTURE\b",                                         "790 Adventure"),
    (r"\b390\s+ADVENTURE\b",                                         "390 Adventure"),
    # Duke / Super Duke
    (r"\b(1390|1290)\s+SUPER\s+DUKE\s+RR?\b|\bSUPER\s+DUKE\b",       "1290 Super Duke"),
    (r"\b1290\s+SUPER\s+DUKE\s+GT\b|\bSUPER\s+DUKE\s+GT\b",          "1290 Super Duke GT"),
    (r"\b990\s+DUKE\b|\b990\s+SUPERDUKE\b",                          "990 Duke"),
    (r"\b890\s+DUKE\b",                                              "890 Duke"),
    (r"\b790\s+DUKE\b",                                              "790 Duke"),
    (r"\b690\s+DUKE\b",                                              "690 Duke"),
    (r"\b390\s+DUKE\b",                                              "390 Duke"),
    (r"\b200\s+DUKE\b",                                              "200 Duke"),
    (r"\b125\s+DUKE\b",                                              "125 Duke"),
    (r"\bRC\s*390\b",                                                "RC 390"),
    (r"\bRC\s*125\b",                                                "RC 125"),
    # Enduro / SMC / EXC
    (r"\b690\s+SMC\s*R\b|\b690\s*SMC\b",                             "690 SMC R"),
    (r"\b690\s+ENDURO\s*R?\b|\b690ENDURO\b",                         "690 Enduro R"),
    (r"\b701\s+SUPERMOTO\b",                                         "701 Supermoto"),
    (r"\b(150|250|300|350|450|500|530)\s+EXC(-F)?\b|\bEXC-F\b",      "EXC"),
    (r"\b300\s+EXC\s*TPI\b|\b300EXC TPI\b",                          "300 EXC TPI"),
    (r"\b300\s+EXC\b",                                               "300 EXC"),
    (r"\b250\s+EXC(-F)?\b",                                          "250 EXC"),
    (r"\b350\s+EXC(-F)?\b",                                          "350 EXC-F"),
    (r"\b450\s+EXC(-F)?\b",                                          "450 EXC-F"),
    (r"\b500\s+EXC(-F)?\b",                                          "500 EXC-F"),
    (r"\b125\s+EXC\b",                                               "125 EXC"),
    # Freeride
    (r"\bFREERIDE\s+E-?XC\b|\bFREERIDE\s+250\s*F\b|\b350\s+FREERIDE\b", "Freeride"),
    # RC8 / Supermoto / Rally / Other
    (r"\b1190\s+RC8\b|\bRC8\b",                                      "RC8"),
    (r"\bSUPERMOTO\b",                                               "Supermoto"),
    (r"\bRALLY\s+FACTORY\s+REPLICA\b",                               "450 Rally Replica"),
    (r"\bX-?BOW\b",                                                  "X-Bow"),
    (r"\bBRABUS\s+1300\s*R\b",                                       "Brabus 1300 R"),
]

def _ktm_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = (u.replace("KTMM", "KTM")
           .replace("TKM", "KTM")
           .replace("SUPERDUKE", "SUPER DUKE")
           .replace("SUPER ADV", "SUPER ADVENTURE")
           .replace("ADVENTURA", "ADVENTURE")
           .replace("SM T", "SMT")
           .replace("ADVENTURE S.", "ADVENTURE S")
           .replace("ADVENTURE.", "ADVENTURE"))
    u = re.sub(r"\(.*?\)", " ", u)      # drop power notes
    u = re.sub(r"[^\w\s-]", " ", u)
    u = re.sub(r"\b(KW|HP|R|RR|SE|GT|T|L)\b", " \\1 ", u)  # keep tokens but split
    u = re.sub(r"\s+", " ", u).strip()
    # Strip leading KTM
    u = re.sub(r"^KTM\s+", "", u)
    return u

def norm_ktm(model: str) -> str:
    u = _ktm_pre(model)
    if not u: return ""
    for pat, name in _KTM_PATTERNS:
        if re.search(pat, u): return name
    return ""

brand_ktm = "KTM"
m, br, bm = _report(df_cleaned, brand_ktm)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_ktm)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_ktm, br, bm)

[KTM] BEFORE: rows=166, unique_models=166
[KTM] AFTER:  rows=29, unique_models=29  (Œîrows=-137, Œîmodels=-137)

## KYMCO

In [230]:
_KYMCO_PATTERNS = [
    (r"\bAK\s*550\b",                "AK 550"),
    (r"\bCV3\b",                     "CV3"),
    (r"\bDT\s*X\s*360\b|\bDTX\b",    "DT X360"),
    (r"\bX-?TOWN\s*CT\s*300\b|\bX-?TOWN\s*300\b|X-?TOWN\s*CT\s*125\b", "X-Town"),
    (r"\bXCITING\s*(S|VS)?\s*400\b|\bXCITING\b", "Xciting 400"),
    (r"\bGRAND\s*DINK\b|\bNEW GRAND DINK\b|\bDINK STREET 300\b|\bDINK STREET\b|\bDINK\b", "Grand Dink / Dink Street"),
    (r"\bDOWNTOWN\b|SUPER\s*DINK\b", "Downtown / Super Dink"),
    (r"\bAGILITY\+?\s*(16\+)?\s*125\b|\bAGILITY CITY 125\b|\bAGILITY\+ 300\b|\bAGILITY\+200\b|\bAGILITY125\b", "Agility"),
    (r"\bNEW PEOPLE S\b|\bPEOPLE S\b|\bPEOPLE ONE 125\b|\bPEOPLE GT\b|\bPEOPLE\b", "People"),
    (r"\bLIKE\b|\bLIKE II\b|\bLIKEII\b", "Like"),
    (r"\bK-PIPE\b",                  "K-Pipe"),
    (r"\bMYROAD\b",                  "MyRoad"),
    (r"\bMXU\s*700I\b|\bMXU\s*550I\b|\bMXU\s*500I\b|\bMXU\s*450I\b|\bMXU\s*300\b|\bMXU\b", "MXU"),
    (r"\bMAXXER\b",                  "Maxxer"),
    (r"\bKXR\b",                     "KXR"),
    (r"\bSKYTOWN\s*125\b",           "Skytown 125"),
]

def _kymco_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u).replace("KYMCO ", "")
    u = re.sub(r"[^\w\s+/-]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_kymco(model: str) -> str:
    u = _kymco_pre(model)
    if not u: return ""
    for pat, name in _KYMCO_PATTERNS:
        if re.search(pat, u): return name
    # Keep unknown but cleaned tokens (Micare, Xciting 400i, etc.)
    return u.title()

brand_kymco = "KYMCO"
m, br, bm = _report(df_cleaned, brand_kymco)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_kymco)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_kymco, br, bm)

[KYMCO] BEFORE: rows=55, unique_models=55
[KYMCO] AFTER:  rows=19, unique_models=19  (Œîrows=-36, Œîmodels=-36)

## LA STRADA

In [231]:
def _lastrada_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = u.replace("LA STRADA ", "")
    u = u.replace(" / VAR. AG", "").replace(" / VAR.AG", "")
    u = u.replace("AUFBAU ", "")
    u = re.sub(r"\s+/\s+|\s{2,}", " ", u)
    return u.strip()

def norm_lastrada(model: str) -> str:
    u = _lastrada_pre(model)
    # Keep exact family labels (AVANTI *, REGENT S, NOVA M)
    return u

brand_lastrada = "LA STRADA"
m, br, bm = _report(df_cleaned, brand_lastrada)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_lastrada)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_lastrada, br, bm)

[LA STRADA] BEFORE: rows=12, unique_models=12
[LA STRADA] AFTER:  rows=11, unique_models=11  (Œîrows=-1, Œîmodels=-1)

## Land Rover

In [232]:
_LR_PATTERNS = [
    (r"\bRANGE\s+ROVER\s+SPORT\b",            "Range Rover Sport"),
    (r"\bRANGE\s+ROVER\s+VELAR\b",            "Range Rover Velar"),
    (r"\bRANGE\s+ROVER\s+EVOQUE\b|\bEVOQUE\b","Range Rover Evoque"),
    (r"\bRANGE\s+ROVER\b",                    "Range Rover"),
    (r"\bDEFENDER\b",                         "Defender"),
    (r"\bDISCOVERY\s+SPORT\b",                "Discovery Sport"),
    (r"\bDISCOVERY\b|\bLR4\b|\bDISCOVERY\s*LR4\b", "Discovery"),
    (r"\bFREELANDER\b",                       "Freelander"),
    (r"\bWAGONEER\b",                          ""),  # not Land Rover, sanity guard
]

def _lr_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = (u.replace("LANDROVER", "LAND ROVER")
           .replace("RANGEROVER", "RANGE ROVER")
           .replace("RANGESPORT", "RANGE ROVER SPORT")
           .replace("DISCOVERYSP.", "DISCOVERY SPORT"))
    # drop trims/engines
    u = re.sub(r"\b(HSE|SVR|SV|VOGUE|PURE\s*TECH|SUPERCHARGED|SI4|P200|D165|3\.0D|SDV6|V8|S5LSC|S3LTD|AWD|AUT|STW|110|70TH|WORKS|P400|X-DYNAMIC|SE)\b", " ", u)
    u = re.sub(r"[^\w\s]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_land_rover(model: str) -> str:
    u = _lr_pre(model)
    if not u: return ""
    # Remove rows that are just "LAND ROVER"
    if u == "LAND ROVER": return ""
    for pat, name in _LR_PATTERNS:
        if re.search(pat, u):
            return name
    return ""

brand_lr = "LAND ROVER"
m, br, bm = _report(df_cleaned, brand_lr)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_land_rover)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_lr, br, bm)

[LAND ROVER] BEFORE: rows=60, unique_models=60
[LAND ROVER] AFTER:  rows=8, unique_models=8  (Œîrows=-52, Œîmodels=-52)

## LEXUS

In [233]:
_LEXUS_MAP = [
    (r"\bLBX\b", "LBX"),
    (r"\bLFA\b", "LFA"),
    (r"\bRZ\s*450E\b|\bRZ\s*300E\b|\bRZ\b", "RZ"),
    (r"\bRX\s*500H\b|\bRX\s*450H\+?\b|\bRX\s*450HL\b|\bRX\s*350H\b|\bRX\s*350\b|\bRX\s*300\b|\bRX\s*270\b|\bRX\s*400H\b|\bRX\b", "RX"),
    (r"\bNX\s*450H\+\b|\bNX\s*350H\b|\bNX\s*300H\b|\bNX\s*200T\b|\bNX\s*300\b|\bNX\s*200\b|\bNX\b", "NX"),
    (r"\bUX\s*300H\b|\bUX\s*300E\b|\bUX\s*250H\b|\bUX\s*200\b|\bUX\b", "UX"),
    (r"\bES\s*300H\b|\bES\b", "ES"),
    (r"\bIS\s*350\b|\bIS\s*300H\b|\bIS\s*250C\b|\bIS\s*250\b|\bIS\s*F\b|\bIS\s*200T\b|\bIS\b", "IS"),
    (r"\bGS\s*450H\b|\bGS\s*300H\b|\bGS\s*250\b|\bGS\s*F\b|\bGS\b", "GS"),
    (r"\bLS\s*600H(L)?\b|\bLS\s*500H\b|\bLS\s*500\b|\bLS\b", "LS"),
    (r"\bLC\s*500H\b|\bLC\s*500\b|\bLC\b", "LC"),
    (r"\bRC\s*300H\b|\bRC\s*F\b|\bRC\b", "RC"),
    (r"\bGX\s*550\b|\bGX\s*460\b|\bGX\b", "GX"),
    (r"\bLX\s*570\b|\bLX\b", "LX"),
    (r"\bCT\s*200H\b|\bCT\b", "CT"),
    (r"\bHS\s*250H\b|\bHS\b", "HS"),
]

def _lexus_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u).replace("LEXUS ", "")
    u = u.replace("RX 450 H", "RX 450H")
    u = re.sub(r"[^\w\s+]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_lexus(model: str) -> str:
    u = _lexus_pre(model)
    if not u: return ""
    for pat, name in _LEXUS_MAP:
        if re.search(pat, u): return name
    return ""

brand_lex = "LEXUS"
m, br, bm = _report(df_cleaned, brand_lex)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_lexus)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_lex, br, bm)

[LEXUS] BEFORE: rows=68, unique_models=68
[LEXUS] AFTER:  rows=16, unique_models=16  (Œîrows=-52, Œîmodels=-52)

## LINCOLN

In [234]:
def _lincoln_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u).replace("LINCOL ", "LINCOLN ")
    u = re.sub(r"[^\w\s]", " ", u)
    u = re.sub(r"\bRESERVE\b", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_lincoln(model: str) -> str:
    u = _lincoln_pre(model)
    if not u: return ""
    if re.search(r"\bNAVIGATOR\b", u): return "Navigator"
    if re.search(r"\bAVIATOR\b", u): return "Aviator"
    if re.search(r"\bNAUTILUS\b|MAUTILUS\b", u): return "Nautilus"
    if re.search(r"\bCORSAIR\b", u): return "Corsair"
    if re.search(r"\bMKZ\b", u): return "MKZ"
    if re.search(r"\bMKX\b", u): return "MKX"
    return ""

brand_lin = "LINCOLN"
m, br, bm = _report(df_cleaned, brand_lin)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_lincoln)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_lin, br, bm)

[LINCOLN] BEFORE: rows=11, unique_models=11
[LINCOLN] AFTER:  rows=6, unique_models=6  (Œîrows=-5, Œîmodels=-5)

## Lotus

In [235]:
def _lotus_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = re.sub(r"^LOTUS\s+", "", u)
    u = re.sub(r"[^\w\s+-]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_lotus(model: str) -> str:
    u = _lotus_pre(model)
    if not u: return ""
    if re.search(r"\bELETRE\b", u): return "Eletre"
    if re.search(r"\bEMIRA\b", u): return "Emira"
    if re.search(r"\bEMEYA\b", u): return "Emeya"
    if re.search(r"\bELISE\b", u): return "Elise"
    if re.search(r"\bEXIGE\b", u): return "Exige"
    if re.search(r"\bEVORA\b", u): return "Evora"
    if re.search(r"\bELAN\b", u): return "Elan"
    return ""

brand_lotus = "LOTUS"
m, br, bm = _report(df_cleaned, brand_lotus)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_lotus)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_lotus, br, bm)

[LOTUS] BEFORE: rows=21, unique_models=21
[LOTUS] AFTER:  rows=7, unique_models=7  (Œîrows=-14, Œîmodels=-14)

## MAN

In [236]:
def _man_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = re.sub(r"[^\w\s+-]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_man(model: str) -> str:
    u = _man_pre(model)
    if not u: return ""
    if re.search(r"\bTGX\b", u): return "TGX"
    if re.search(r"\bTGE\b", u): return "TGE"
    if re.search(r"\bVARIO\s+STAR\b", u): return "Vario Star"
    if re.search(r"\bVISEON\s+C10\b", u): return "Viseon C10"
    if re.search(r"\bROELOFSEN|PARADOS\b", u): return "TGE"
    if re.search(r"\bTVW\s+HORSE\s+TRUCKS\b", u): return "TVW Horse Trucks"
    if re.search(r"\bBE-COMBI\b", u): return "TGE"
    return ""

brand_man = "MAN"
m, br, bm = _report(df_cleaned, brand_man)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_man)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_man, br, bm)

[MAN] BEFORE: rows=16, unique_models=16
[MAN] AFTER:  rows=5, unique_models=5  (Œîrows=-11, Œîmodels=-11)

## Maserati

In [237]:
def _mas_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u).replace("MASERATI ", "")
    u = u.replace("GRANDTURISMO", "GRANTURISMO").replace("GRAN TURISMO", "GRANTURISMO")
    u = re.sub(r"[^\w\s+.-]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_maserati(model: str) -> str:
    u = _mas_pre(model)
    if not u: return ""
    if re.search(r"\bMC20\b", u): return "MC20"
    if re.search(r"\bGRECALE\b", u): return "Grecale"
    if re.search(r"\bLEVANTE\b", u): return "Levante"
    if re.search(r"\bGHIBLI\b", u): return "Ghibli"
    if re.search(r"\bQUATTROPORTE\b", u): return "Quattroporte"
    if re.search(r"\bGRANCABRIO\b", u): return "GranCabrio"
    if re.search(r"\bGRANTURISMO\b", u): return "GranTurismo"
    return ""

brand_mas = "MASERATI"
m, br, bm = _report(df_cleaned, brand_mas)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_maserati)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_mas, br, bm)

[MASERATI] BEFORE: rows=60, unique_models=60
[MASERATI] AFTER:  rows=7, unique_models=7  (Œîrows=-53, Œîmodels=-53)

## MASH

In [238]:
def _mash_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u).replace("MASH ", "")
    u = u.replace("SEVENTY-FIVE", "SEVENTY FIVE").replace("FIVEHUNDRED", "FIVE HUNDRED")
    u = re.sub(r"[^\w\s+-]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_mash(model: str) -> str:
    u = _mash_pre(model)
    if not u: return ""
    if re.search(r"\bX[- ]RIDE\b", u): return "X-Ride"
    if re.search(r"\bXRIDE 650\b", u): return "X-Ride 650"
    if re.search(r"\bSEVENTY\s+FIVE\b", u): return "Seventy Five"
    if re.search(r"\bNEW\s+SEVENTY\b", u): return "Seventy"
    if re.search(r"\bFIVE\s+HUNDRED\b|\b500\b", u): return "Five Hundred"
    if re.search(r"\bTWO\s+FIFTY\b|\b250\b", u): return "Two Fifty"
    if re.search(r"\bBELENA\b", u): return "Belena"
    if re.search(r"\bBLACK\s*SEVEN\b", u): return "Black Seven"
    if re.search(r"\bCAFE\s+RACER\b", u): return "Cafe Racer"
    if re.search(r"\bSCRAMBLER\b", u): return "Scrambler"
    if re.search(r"\bDIRT\s+TRACK\b", u): return "Dirt Track"
    if re.search(r"\bSIDE\s+FORCE\b", u): return "Side Force"
    if re.search(r"\bTT\s*40\b", u): return "TT 40"
    return u.title()

brand_mash = "MASH"
m, br, bm = _report(df_cleaned, brand_mash)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mash)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_mash, br, bm)

[MASH] BEFORE: rows=26, unique_models=26
[MASH] AFTER:  rows=19, unique_models=19  (Œîrows=-7, Œîmodels=-7)

## Maxus

In [239]:
def _maxus_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u).replace("MAXUS ", "")
    u = u.replace("EDELIVER", "E-DELIVER").replace("EDELIVER9", "E-DELIVER 9")
    u = re.sub(r"[^\w\s-]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_maxus(model: str) -> str:
    u = _maxus_pre(model)
    if not u: return ""
    if re.search(r"\bE-DELIVER\s*3\b", u): return "eDeliver 3"
    if re.search(r"\bE-DELIVER\s*5\b", u): return "eDeliver 5"
    if re.search(r"\bE-DELIVER\s*7\b", u): return "eDeliver 7"
    if re.search(r"\bE-DELIVER\s*9\b", u): return "eDeliver 9"
    if re.search(r"\bDELIVER\s*9\b", u): return "Deliver 9"
    if re.search(r"\bEV80\b", u): return "EV80"
    if re.search(r"\bV80\b", u): return "V80"
    if re.search(r"\bT90\s*EV\b", u): return "T90 EV"
    if re.search(r"\bMILA\s*1\b", u): return "Mila 1"
    if re.search(r"\bEDERRON9|ETERRON9\b", u): return "EterrOn9"
    return ""

brand_maxus = "MAXUS"
m, br, bm = _report(df_cleaned, brand_maxus)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_maxus)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_maxus, br, bm)

[MAXUS] BEFORE: rows=25, unique_models=25
[MAXUS] AFTER:  rows=10, unique_models=10  (Œîrows=-15, Œîmodels=-15)

## MAZDA

In [240]:
def _mazda_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u).replace("MAZDA ", "")
    u = (u.replace("CX5", "CX-5")
           .replace("CX5-AWD", "CX-5")
           .replace("CX5 ", "CX-5 ")
           .replace("CX 5", "CX-5")
           .replace("CX3", "CX-3")
           .replace("CX30", "CX-30")
           .replace("CX 30", "CX-30")
           .replace("MX5", "MX-5")
           .replace("MX5 ", "MX-5 ")
           .replace("MX 5", "MX-5"))
    u = re.sub(r"[^\w\s-]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_mazda(model: str) -> str:
    u = _mazda_pre(model)
    if not u: return ""
    if re.fullmatch(r"2|MAZDA2|2 SKYG 90 AT|MAZDA2 HYBRID", u): return "Mazda2"
    if re.fullmatch(r"3|MAZDA3|MAZDASPEED 3|3 SKY ACTIVE|3 2 3 MPS|MAZDA 3", u): return "Mazda3"
    if re.search(r"\b5\b", u) and not re.search(r"CX-|MX-", u): return "Mazda5"
    if re.search(r"\b6E?\b", u) and not re.search(r"CX-|MX-", u): return "Mazda6"
    if re.search(r"\bCX-3\b", u): return "CX-3"
    if re.search(r"\bCX-30\b", u): return "CX-30"
    if re.search(r"\bCX-5\b", u): return "CX-5"
    if re.search(r"\bCX-7\b", u): return "CX-7"
    if re.search(r"\bCX-8\b", u): return "CX-8"
    if re.search(r"\bCX-9\b", u): return "CX-9"
    if re.search(r"\bCX-60\b", u): return "CX-60"
    if re.search(r"\bCX-80\b", u): return "CX-80"
    if re.search(r"\bMX-5\b", u): return "MX-5"
    if re.search(r"\bMX-30\b", u): return "MX-30"
    return ""

brand_mazda = "MAZDA"
m, br, bm = _report(df_cleaned, brand_mazda)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mazda)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand_mazda, br, bm)

[MAZDA] BEFORE: rows=62, unique_models=62
[MAZDA] AFTER:  rows=13, unique_models=13  (Œîrows=-49, Œîmodels=-49)

## MC LOUIS

In [241]:
def _mclouis_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = u.replace("MC LOUIS", "").replace("MCLOUIS", "").strip()
    # typos & variants
    u = (u.replace("KARAT", "CARAT")
           .replace("GLAMMYS", "GLAMYS")
           .replace("MC LOUIS", "")
           .replace("MCVAN", "MC VAN")
           .replace("MC2", "MC2")
           .replace("TWID", "TWID")
           .replace("P 700", "P700"))
    u = re.sub(r"\b(?:S\-?LINE|PRESTIGE|MAXI|CS|PRO|BLUE\s*LINE)\b", "", u)
    u = u.replace("-", " ")
    u = re.sub(r"[^\w\s/]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_mclouis(model: str) -> str:
    u = _mclouis_pre(model)
    if not u: return ""
    # Collapse multi-option codes like "75/375/475/875" to base family
    if re.search(r"\b\d+/\d+(/\d+)*\b", u):
        # e.g., "75/375/475/875" with MC4 context already removed -> "MC4"
        return "MC4"
    # Map by leading family token; keep code suffix when present
    fams = [
        ("MC4", r"^MC ?4\b"),
        ("NEVIS", r"^NEVIS\b"),
        ("MENFYS", r"^MENFYS\b"),
        ("SOVEREIGN", r"^SOVEREIGN\b"),
        ("CARAT", r"^CARAT\b"),
        ("GLAMYS", r"^GLAMYS\b"),
        ("YEARLING", r"^YEARLING\b"),
        ("TANDY", r"^TANDY\b"),
        ("NESS", r"^NESS\b"),
        ("TWID", r"^TWID\b"),
        ("ARISTEO", r"^ARISTEO\b"),
        ("MC VAN", r"^MC VAN\b"),
        ("A700", r"^A700\b"),
        ("P700", r"^P700\b"),
        ("M700", r"^M700\b"),
        ("M700", r"^M\d{3}\b"),
    ]
    for name, pat in fams:
        if re.search(pat, u):
            # keep trailing code (digits/letters/G) if present
            m = re.match(r"^[A-Z ]+\s*(.*)$", u)
            suffix = m.group(1).strip() if m else ""
            suffix = suffix if suffix and not suffix.isalpha() else suffix  # already fine
            return (name + (" " + suffix if suffix else "")).title()
    # Pure numeric codes sometimes: 262, 373, 479 etc -> assume MC4 codes (common pattern)
    if re.fullmatch(r"\d{2,3}[A-Z]?", u):
        return f"MC4 {u}"
    # Fallback: if single token like "NEVIS" etc.
    return u.title()

for brand_mcl in ("MC LOUIS", "McLOUIS"):
    m, br, bm = _report(df_cleaned, brand_mcl)
    df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mclouis)
    df_cleaned = pd.concat(
        [
            df_cleaned[~m],
            df_cleaned[m & df_cleaned["model"].ne("")].assign(brand="MC LOUIS").drop_duplicates(["brand","model"])
        ],
        ignore_index=True
    )
    _after_report(df_cleaned, "MC LOUIS", br, bm)

[MC LOUIS] BEFORE: rows=148, unique_models=148
[MC LOUIS] AFTER:  rows=128, unique_models=128  (Œîrows=-20, Œîmodels=-20)

[McLOUIS] BEFORE: rows=11, unique_models=11
[MC LOUIS] AFTER:  rows=139, unique_models=129  (Œîrows=128, Œîmodels=118)

## MERCEDES-AMG

In [242]:
def _amg_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    u = u.replace("MERCEDES-AMG", "").strip()
    # normalize separators and remove noise
    u = u.replace("+", " ").replace("4MATIC", "").replace("4 MATIC", "").replace("4X4", "")
    u = re.sub(r"\bS\s*E\s*PERFORMANCE\b|\bE\s*PERFORMANCE\b", "", u)
    u = re.sub(r"\bBITURBO\b|BLACK SERIES|EDITION|S\s*E\b|COUPE|SUV", "", u)
    u = re.sub(r"[^\w\s-]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_amg(model: str) -> str:
    u = _amg_pre(model)
    if not u: return ""
    # Unique standalone AMG products
    if re.search(r"\bSLS\b", u): return "AMG SLS"
    if re.search(r"\bGT\b", u): return "AMG GT"
    if re.search(r"\bSL\b", u): return "AMG SL"
    if re.search(r"\bG\s?63\b|\bG\b", u): return "AMG G 63"
    # Class-based AMGs
    pairs = [
        (r"\bA\s?45\b|\bA\s?35\b|\bA\b", "AMG A-Class"),
        (r"\bCLA\s?45\b|\bCLA\s?35\b|\bCLA\b", "AMG CLA"),
        (r"\bC\s?63\b|\bC\s?43\b|\bC\b", "AMG C-Class"),
        (r"\bE\s?63\b|\bE\s?53\b|\bE\b", "AMG E-Class"),
        (r"\bS\s?63\b|\bS\s?65\b|\bS\b", "AMG S-Class"),
        (r"\bGLA\s?45\b|\bGLA\b", "AMG GLA"),
        (r"\bGLB\s?35\b|\bGLB\b", "AMG GLB"),
        (r"\bGLC\s?63\b|\bGLC\s?43\b|\bGLC\b", "AMG GLC"),
        (r"\bGLE\s?63\b|\bGLE\s?53\b|\bGLE\b", "AMG GLE"),
        (r"\bGLS\s?63\b|\bGLS\b", "AMG GLS"),
        (r"\bSLC\s?43\b|\bSLC\b", "AMG SLC"),
        (r"\bSLK\s?55\b|\bSLK\b", "AMG SLK"),
        (r"\bCLS\s?63\b|\bCLS\b", "AMG CLS"),
        (r"\bGL\b", "AMG GL"),
    ]
    for pat, name in pairs:
        if re.search(pat, u): return name
    return ""

brand_amg = "MERCEDES-AMG"
m, br, bm = _report(df_cleaned, brand_amg)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_amg)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand_amg, br, bm)

[MERCEDES-AMG] BEFORE: rows=78, unique_models=78
[MERCEDES-AMG] AFTER:  rows=15, unique_models=15  (Œîrows=-63, Œîmodels=-63)

## MERCEDES-BENZ

In [243]:
_MB_EQ = [
    (r"\bEQA\b", "EQA"), (r"\bEQB\b", "EQB"), (r"\bEQE\b", "EQE"),
    (r"\bEQS\b", "EQS"), (r"\bEQV\b", "EQV"), (r"\bEQT\b", "EQT"),
]
_MB_VANS = [
    (r"\bSPRINTER\b", "Sprinter"),
    (r"\bE ?SPRINTER\b", "eSprinter"),
    (r"\bVITO\b", "Vito"),
    (r"\bE ?VITO\b", "eVito"),
    (r"\bCITAN\b", "Citan"),
    (r"\bE ?CITAN\b", "eCitan"),
    (r"\bV[\- ]?KLASSE\b|\bV[- ]CLASS\b|\bV CLASS\b", "V-Class"),
    (r"\bMARCO\s+POLO\b", "Marco Polo"),
    (r"\bMETRIS\b", "Metris"),
]
_MB_SUVS = [
    (r"\bGLA\b", "GLA"),
    (r"\bGLB\b", "GLB"),
    (r"\bGLC\b", "GLC"),
    (r"\bGLE\b", "GLE"),
    (r"\bGLS\b", "GLS"),
    (r"\bGLK\b", "GLK"),
    (r"\bML\b|\bM\-?KLASSE\b|\bM CLASS\b", "M-Class"),
    (r"\bGL\b(?!S)\b", "GL-Class"),
    (r"\bG\s?(?:\b|CLASS\b)", "G-Class"),
    (r"\bR\s?CLASS\b|\bR\s\d{3}\b", "R-Class"),
]
_MB_CARS = [
    (r"\bA\b|\bA\-?KLASSE\b|\bA[\- ]CLASS\b", "A-Class"),
    (r"\bB\b|\bB\-?KLASSE\b|\bB[\- ]CLASS\b", "B-Class"),
    (r"\bC\b|\bC\-?KLASSE\b|\bC[\- ]CLASS\b", "C-Class"),
    (r"\bE\b|\bE\-?KLASSE\b|\bE[\- ]CLASS\b", "E-Class"),
    (r"\bS\b|\bS\-?KLASSE\b|\bS[\- ]CLASS\b", "S-Class"),
    (r"\bCLA\b|\bCLA\-?KLASSE\b|\bCLA[\- ]CLASS\b", "CLA"),
    (r"\bCLE\b", "CLE"),
    (r"\bCLS\b|\bCLS[\- ]CLASS\b", "CLS"),
    (r"\bSL\b", "SL"),
    (r"\bSLC\b|\bSLC\-?KLASSE\b", "SLC"),
    (r"\bSLK\b|\bSLK\-?KLASSE\b", "SLK"),
]

def _mb_pre(u: str) -> str:
    if _empty(u): return ""
    u = _u(u)
    # strip brand tokens/typos
    u = (u.replace("MERCEDES-BENZ", "")
           .replace("MERCEDES BENZ", "")
           .replace("MERCEDES-B.", "")
           .replace("MERCEDES", "")
           .replace("DAIMLER (D)", "")
           .replace("K√É¬è√Ç¬ø√Ç¬ΩHL", "KUEHL"))  # ignore refrigeration specials
    # remove drivetrain/trim/noise
    u = (u.replace("4MATIC+", " ")
           .replace("4-MATIC", " ")
           .replace("4 MATIC", " ")
           .replace("4MATIC", " ")
           .replace("AMG", " ")
           .replace("MAYBACH", " MAYBACH ")  # keep as marker
           .replace("BLUEHYBRID", " ")
           .replace("BLUETEC", " ")
           .replace("CGI", " ")
           .replace("CDI", " ")
           .replace("KOMPRESSOR", " ")
           .replace("HYBRID", " ")
           .replace("ALLTERRAIN", " ")
           .replace("ALL-TERRAIN", " ")
           .replace("E PERFORMANCE", " ")
           .replace("E-PERFORMANCE", " ")
           .replace("COUPE", " ")
           .replace("SUV", " "))
    # normalize class tokens
    u = (u.replace("A-KLASSE", "A KLASSE").replace("B-KLASSE", "B KLASSE")
           .replace("C-KLASSE", "C KLASSE").replace("E-KLASSE", "E KLASSE")
           .replace("GLA-KLASSE", "GLA").replace("GLB-KLASSE", "GLB")
           .replace("GLC-KLASSE", "GLC").replace("GLE-KLASSE", "GLE")
           .replace("SLC-KLASSE", "SLC").replace("GLC-CLASS", "GLC")
           .replace("A-CLASS", "A CLASS").replace("C-CLASS", "C CLASS")
           .replace("E-CLASS", "E CLASS").replace("S-CLASS", "S CLASS")
           .replace("CLA-CLASS", "CLA").replace("CLS-CLASS", "CLS")
           .replace("EQA-CLASS", "EQA").replace("EQA-KLASSE", "EQA")
           .replace("EQT", "EQT").replace("EQE-KLASSE", "EQE"))
    # remove engine figures left (numbers, KW, etc.)
    u = re.sub(r"\b\d{2,3,4}\s*[A-Z]{0,3}\b", " ", u)  # trims like 220, 300DE, etc.
    u = re.sub(r"\b[0-9]{2,4}[A-Z]{0,3}\b", " ", u)
    u = re.sub(r"[^\w\s-]", " ", u)
    u = re.sub(r"\s+", " ", u).strip()
    return u

def norm_mercedes_benz(model: str) -> str:
    u = _mb_pre(model)
    if not u: return ""
    # EQ & vans first (order matters)
    for pat, name in _MB_EQ:
        if re.search(pat, u): return name
    for pat, name in _MB_VANS:
        if re.search(pat, u): return name
    # SUVs
    for pat, name in _MB_SUVS:
        if re.search(pat, u): return name
    # Cars
    for pat, name in _MB_CARS:
        if re.fullmatch(rf"{pat[2:-2]}", u) or re.search(pat, u):
            return name
    # Maybach subline (keep base)
    if "MAYBACH" in u and "GLS" in u: return "Maybach GLS"
    if "MAYBACH" in u and "EQS" in u: return "Maybach EQS"
    if "MAYBACH" in u and ("S" in u or "S CLASS" in u): return "Maybach S"
    # Generic guards
    if u in {"", "BENZ"}: return ""
    # Some entries are pure chassis/special bodies -> drop
    if re.search(r"\bVARIO\b|\bACTROS\b|\bKUEHL|MULTITEL|OIL|STEEL|HORSE|TRUCK|BE-COMBI|MULTI[- ]?CAB|JPM\b", u):
        return ""
    # If still looks like class token only (A, B, C...), try direct map
    solo_map = {"A":"A-Class","B":"B-Class","C":"C-Class","E":"E-Class","S":"S-Class",
                "GLA":"GLA","GLB":"GLB","GLC":"GLC","GLE":"GLE","GLS":"GLS","GLK":"GLK","ML":"M-Class","GL":"GL-Class",
                "G":"G-Class","SL":"SL","SLK":"SLK","SLC":"SLC","CLA":"CLA","CLE":"CLE","CLS":"CLS",
                "SPRINTER":"Sprinter","VITO":"Vito","CITAN":"Citan","V KLASSE":"V-Class","V CLASS":"V-Class"}
    return solo_map.get(u, "")

brand_mb = "MERCEDES-BENZ"
m, br, bm = _report(df_cleaned, brand_mb)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mercedes_benz)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand_mb, br, bm)

[MERCEDES-BENZ] BEFORE: rows=937, unique_models=937
[MERCEDES-BENZ] AFTER:  rows=35, unique_models=35  (Œîrows=-902, Œîmodels=-902)

## MG

In [244]:
def norm_mg(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""

    # Remove redundant brand tokens
    u = u.replace("MG ", "").replace("ROEWE ", "ROEWE ")

    # Typos / harmonization
    u = (u.replace("HYBRID+", "HYBRID")
           .replace("PLUG-IN HYBRID", "PHEV")
           .replace("MARVEL R ELECTRIC", "MARVEL R")
           .replace("EHS", "HS PHEV")
           .replace("RX6 PHEV", "RX6 PHEV")
           .replace("ZS EV", "ZS EV"))

    # Map specific
    if u.startswith("MG5") or u == "5" or u == "5 ELECTRIC": return "MG5 Electric"
    if u in {"S5 EV", "MG S5 EV"}:  # likely typo of MG5
        return "MG5 Electric"
    if u.startswith("MG4") or u == "4" or u == "4 ELECTRIC": return "MG4 Electric"
    if u.startswith("MG3"): return "MG3 Hybrid"
    if u.startswith("HS PHEV") or "HS HYBRID" in u: return "HS PHEV"
    if u == "HS": return "HS"
    if u in {"ZS EV"}: return "ZS EV"
    if u == "ZS" or u == "ROEWE ZS EV": return "ZS EV" if "ROEWE" in model.upper() else "ZS"
    if "MARVEL R" in u: return "Marvel R"
    if "CYBERSTER" in u: return "Cyberster"
    if u == "RX8": return "RX8"

    # Low-volume/legacy:
    if u in {"3 CROSS", "350S"}: return ""

    return ""

brand = "MG"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mg)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand", "model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[MG] BEFORE: rows=25, unique_models=25
[MG] AFTER:  rows=10, unique_models=10  (Œîrows=-15, Œîmodels=-15)

## Mini

In [245]:
def norm_mini(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""

    # Clean brand token, variants and typos
    u = (u.replace("MINI ", "")
           .replace("JOHNCOOPERWORKS", "JOHN COOPER WORKS")
           .replace("JWC", "JCW")
           .replace("COUNRTYMAN", "COUNTRYMAN")
           .replace("CONTRYMAN", "COUNTRYMAN")
           .replace("COUP√É∆í√Ç‚Ä∞", "COUPE")
           .replace("COUP√â", "COUPE")
           .replace("MINI.", "MINI")
           .replace("SE ALL4", "SE ALL4"))

    # Primary EV/trim detection
    is_all4 = "ALL4" in u
    is_jcw  = "JCW" in u or "JOHN COOPER WORKS" in u or "GP" in u

    # First: Aceman
    if u.startswith("ACEMAN"):
        return "Aceman"

    # Countryman
    if "COUNTRYMAN" in u:
        if is_jcw: return "Countryman JCW"
        if "SE" in u or "COOPER SE" in u: return "Countryman Cooper SE"
        return "Countryman"

    # Clubman
    if "CLUBMAN" in u:
        if is_jcw: return "Clubman JCW"
        return "Clubman"

    # Convertible (Cabrio)
    if "CABRIO" in u or "CONVERTIBLE" in u:
        if is_jcw: return "Convertible JCW"
        if "COOPER" in u: return "Convertible Cooper"
        if "ONE" in u: return "Convertible One"
        return "Convertible"

    # Coupe / Roadster legacy
    if "COUPE" in u:
        return "Coupe JCW" if is_jcw else "Coupe"
    if "ROADSTER" in u:
        return "Roadster JCW" if is_jcw else "Roadster"

    # Core hatch
    if u.startswith("COOPER"):
        if "SE" in u: return "Cooper SE"
        if re.search(r"\bE\b", u): return "Cooper E"
        if re.search(r"\bC\b", u): return "Cooper C"
        if re.search(r"\bS\b", u): return "Cooper S"
        return "Cooper"

    if u.startswith("ONE"):
        if "FIRST" in u: return "One First"
        return "One"

    if is_jcw:
        # generic JCW without family -> JCW (hatch)
        if "GP" in u: return "JCW GP"
        return "JCW"

    # Generic MINI token -> ignore or base model
    if u in {"MINI"}: return ""

    # Countryman/Clubman without explicit token but with ALL4 often -> ignore
    if "ALL4" in u: return ""

    return ""

brand = "MINI"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mini)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand", "model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[MINI] BEFORE: rows=127, unique_models=127
[MINI] AFTER:  rows=23, unique_models=23  (Œîrows=-104, Œîmodels=-104)

## MITSUBISHI

In [246]:
def norm_mitsu(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""

    # Strip repeated brand tokens & typos
    u = (u.replace("MITSUBISHI ", "")
           .replace("MITSUBISCHI ", "")
           .replace("ECLPISE", "ECLIPSE")
           .replace("SPACESTAR", "SPACE STAR")
           .replace("PAJERO/MONTERO", "PAJERO")
           .replace("I-MIEV", "I MIEV")
           .replace("L 200", "L200"))

    # Map
    if u.startswith("OUTLANDER PHEV"): return "Outlander PHEV"
    if u.startswith("OUTLANDER"): return "Outlander"
    if u.startswith("ECLIPSE CROSS"): return "Eclipse Cross"
    if u.startswith("ASX"): return "ASX"
    if u.startswith("SPACE STAR") or "MIRAGE" in u: return "Space Star"
    if u.startswith("COLT"): return "Colt"
    if u.startswith("L200"): return "L200"
    if u.startswith("PAJERO"): return "Pajero"
    if u.startswith("I MIEV"): return "i-MiEV"
    if u.startswith("ATTRAGE"): return "Attrage"
    if u.startswith("CANTER"): return "Canter"
    if u.startswith("LANCER EVOLUTION"): return "Lancer Evolution"
    if u.startswith("LANCER"): return "Lancer"

    # Noisy combos (long drivetrain spec)
    if "DK DI-D" in u or "CDI" in u or "GLS" in u: return ""

    return ""

brand = "MITSUBISHI"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mitsu)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand", "model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[MITSUBISHI] BEFORE: rows=36, unique_models=36
[MITSUBISHI] AFTER:  rows=13, unique_models=13  (Œîrows=-23, Œîmodels=-23)

## MOBILVETTA DESIGN

In [247]:
def norm_mobilvetta(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""

    u = (u.replace("MOBILVETTA DESIGN", "")
           .replace("K-YACHT", "K YACHT")
           .replace("KEA |", "KEA ")
           .replace("KEA I64", "KEA I 64")
           .replace("KEA I90", "KEA I 90"))

    # detect family
    families = ["ADMIRAL", "KEA I", "KEA P", "KEA KOMPAKT", "K YACHT TEKNO LINE",
                "K YACHT TEKNO DESIGN", "KROSSER"]
    for fam in families:
        if u.strip().startswith(fam):
            # keep trailing code
            return re.sub(r"\s+", " ", u.strip()).title()

    return ""

brand = "MOBILVETTA DESIGN"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mobilvetta)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand", "model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[MOBILVETTA DESIGN] BEFORE: rows=15, unique_models=15
[MOBILVETTA DESIGN] AFTER:  rows=13, unique_models=13  (Œîrows=-2, Œîmodels=-2)

## MORGAN

In [248]:
def norm_morgan(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""

    u = u.replace("MORGAN ", "")

    # Map core
    if "MIDSUMMER" in u: return "Midsummer"
    if "PLUS FOUR" in u or re.fullmatch(r"PLUS ?4", u): return "Plus Four"
    if "PLUS SIX" in u or u == "PLUS 6": return "Plus Six"
    if "PLUS 8" in u: return "Plus 8"
    if re.fullmatch(r"PLUS 4", u): return "Plus Four"
    if "4/4" in u: return "4/4"
    if "AEROMAX" in u: return "Aeromax"
    if "AERO 8" in u: return "Aero 8"
    if "ROADSTER" in u: return "Roadster"
    if "SUPER 3" in u: return "Super 3"

    return ""

brand = "MORGAN"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_morgan)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand", "model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[MORGAN] BEFORE: rows=13, unique_models=13
[MORGAN] AFTER:  rows=9, unique_models=9  (Œîrows=-4, Œîmodels=-4)

## MOTO GUZZI

In [249]:
def norm_motoguzzi(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("MOTO GUZZI", "").strip()

    # Drop obvious non-model noise
    if u in {"NAN", "LW", "LM", "LS", "KD", "LP", "LZ"}: return ""

    # Core families
    if "V85" in u: return "V85 TT"
    if "STELVIO" in u: return "Stelvio"
    if "V100 MANDELLO" in u: return "V100 Mandello"
    if re.search(r"\bV7\b", u): return "V7"
    if re.search(r"\bV9\b", u): return "V9"
    if "CALIFORNIA" in u: return "California"
    if "AUDACE" in u: return "Audace"
    if "MGX-21" in u: return "MGX-21"
    if "NORGE" in u: return "Norge"
    if "NEVADA" in u: return "Nevada"
    if re.search(r"\b1200 SPORT\b", u): return "1200 Sport"

    return ""

brand = "MOTO GUZZI"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_motoguzzi)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand", "model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[MOTO GUZZI] BEFORE: rows=40, unique_models=39
[MOTO GUZZI] AFTER:  rows=11, unique_models=11  (Œîrows=-29, Œîmodels=-28)

## Mutt

In [250]:
def norm_mutt(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("MUTT ", "")
    keep = {
        "DRK-01":"DRK-01","RAZORBACK":"Razorback","AKITA":"Akita","MUSHMAN":"Mushman",
        "SABBATH":"Sabbath","MONGREL":"Mongrel","HILTS":"Hilts","GT-SR":"GT-SR",
        "RS-13":"RS-13","FSR":"FSR","MASTIFF":"Mastiff"
    }
    return keep.get(u, "")

brand = "MUTT"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mutt)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand", "model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[MUTT] BEFORE: rows=11, unique_models=11
[MUTT] AFTER:  rows=11, unique_models=11  (Œîrows=0, Œîmodels=0)

## MV AGUSTA

In [251]:
def norm_mv_agusta(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("MV AGUSTA", "").strip()

    # Map families
    if "BRUTALE" in u:
        return "Brutale"
    if "DRAGSTER" in u:
        return "Dragster"
    if "TURISMO VELOCE" in u:
        return "Turismo Veloce"
    if "ENDURO VELOCE" in u:
        return "Enduro Veloce"
    if re.search(r"\bF3\b", u):
        return "F3"
    if re.search(r"\bF4\b", u):
        return "F4"
    if "SUPERVELOCE" in u:
        return "Superveloce"
    if "RIVALE" in u:
        return "Rivale"
    if "RUSH" in u:
        return "Rush"
    if "LXP ORIOLI" in u:
        return "LXP Orioli"

    return ""

brand = "MV AGUSTA"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_mv_agusta)
df_cleaned = pd.concat(
    [
        df_cleaned[~m],
        df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand", "model"])
    ],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[MV AGUSTA] BEFORE: rows=43, unique_models=43
[MV AGUSTA] AFTER:  rows=10, unique_models=10  (Œîrows=-33, Œîmodels=-33)

NIESMANN-BISCHOFF

In [252]:
def norm_niesmann(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""

    u = (u.replace("NIESMANN-BISCHOFF", "")
           .replace("NB30", "NB 30")
           .replace("FLAIR ", "Flair ")
           .replace("ARTO ", "Arto ")
           .replace("CLOU LINE", "Clou Line ")
           .strip())

    # Keep only known series
    m = re.match(r"^(ARTO|FLAIR|CLOU LINE|NB 30)\b.*", u, flags=re.I)
    if not m: return ""
    # Normalize spacing: remove double spaces, ensure single space between code blocks
    v = re.sub(r"\s+", " ", u).title()
    # Compact known code patterns like "88 Ek" -> "88 EK"
    v = re.sub(r"\b(\d+)\s*([A-Z]{1,3})\b", lambda m: f"{m.group(1)} {m.group(2).upper()}", v)
    return v

brand = "NIESMANN-BISCHOFF"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_niesmann)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[NIESMANN-BISCHOFF] BEFORE: rows=27, unique_models=27
[NIESMANN-BISCHOFF] AFTER:  rows=27, unique_models=27  (Œîrows=0, Œîmodels=0)

## NISSAN

In [253]:
def norm_nissan(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""

    # Strip brand + common typos
    u = (u.replace("NISSAN ", "")
           .replace("QUASHQAI", "QASHQAI")
           .replace("ROQUE", "ROGUE")
           .replace("XTRAIL", "X-TRAIL")
           .replace("ENV200", "E-NV200")
           .replace("INTERSTAR-E", "INTERSTAR")
           .replace("NV 300", "NV300")
           .replace("NV 400", "NV400")
           .replace("CABSTAR NT400", "NT400")
           .replace("CABSTAR E", "NT400")
           .replace("CABSTAR", "NT400")
           .strip())

    # Battery sizes / specs -> drop
    u = re.sub(r"\b(24|30|40|62)\s*KWH\b", " LEAF", u)
    u = re.sub(r"\b\d\.\d\b.*", "", u)  # engine specs
    # Families
    if u.startswith("QASHQAI+2"): return "Qashqai+2"
    if u.startswith("QASHQAI"): return "Qashqai"
    if u.startswith("JUKE"): return "Juke"
    if u.startswith("ARIYA"): return "Ariya"
    if u.startswith("X-TRAIL"): return "X-Trail"
    if u == "MICRA" or u.startswith("MICRA "): return "Micra"
    if "LEAF" in u: return "Leaf"
    if u in {"E-NV200", "E-NV200 PICK-UP", "E-NV200 PICK-UP / KIPPER"}: return "e-NV200"
    if u.startswith("NV200"): return "NV200"
    if u.startswith("TOWNSTAR"): return "Townstar"
    if u.startswith("INTERSTAR"): return "Interstar"
    if u.startswith("PRIMASTAR"): return "Primastar"
    if u.startswith("NV250"): return "NV250"
    if u.startswith("NV300"): return "NV300"
    if u.startswith("NV400"): return "NV400"
    if u.startswith("NT400"): return "NT400"
    if u in {"GT-R","GTR"} or "GT-R" in u: return "GT-R"
    if u in {"370Z","370Z ROADSTER"}: return "370Z"
    if u == "CUBE": return "Cube"
    if u == "PIX0" or u == "PIXO": return "Pixo"
    if u.startswith("NAVARA") or "NP300 NAVARA" in u: return "Navara"
    if u == "PATROL": return "Patrol"
    if u == "MURANO": return "Murano"
    if u == "ROGUE" or u.startswith("ROGUE "): return "Rogue"
    if u.startswith("VERSA NOTE"): return "Versa Note"
    if u == "VERSA": return "Versa"
    if u == "SENTRA": return "Sentra"
    if u == "ALTIMA": return "Altima"
    if u == "TEANA": return "Teana"
    if u == "KICKS": return "Kicks"
    if u == "ALMERA": return "Almera"
    if u == "NOTE" or u.startswith("NOTE "): return "Note"
    if u == "PULSAR": return "Pulsar"
    if u == "ATLEON": return "Atleon"
    if u == "PATHFINDER" or u.startswith("PATHFINDER "): return "Pathfinder"

    return ""

brand = "NISSAN"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_nissan)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[NISSAN] BEFORE: rows=105, unique_models=105
[NISSAN] AFTER:  rows=35, unique_models=35  (Œîrows=-70, Œîmodels=-70)

## Opel

In [254]:
def norm_opel(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("OPEL ", "")

    # Direct family buckets
    fams = {
        "ADAM":"Adam","AGILA":"Agila","AMPERA-E":"Ampera-e","AMPERA":"Ampera",
        "ANTARA":"Antara","ASTRA":"Astra","ASTRA-L":"Astra","ASTRA K":"Astra",
        "ASTRA GTC":"Astra","ASTRA NOTCHBACK":"Astra","ASTRA STATION WAGON":"Astra",
        "ASTRA SPORTS TOURER":"Astra","ASTRA SPORTS TOURER+":"Astra",
        "CASCADA":"Cascada","COMBO-E":"Combo-e","E-COMBO":"Combo-e","COMBO C":"Combo",
        "COMBO-C":"Combo","COMBO D":"Combo","COMBO-E LIFE":"Combo-e","COMBO-E CARGO":"Combo-e",
        "COMBO LIFE":"Combo","COMBO VAN":"Combo","CORSA-E":"Corsa-e","CORSA":"Corsa",
        "CROSSLAND X":"Crossland X","CROSSLAND":"Crossland","FRONTERA":"Frontera",
        "GRANDLAND X":"Grandland X","GRANDLAND":"Grandland","INSIGNIA":"Insignia",
        "INSIGNIA GRAND SPORT":"Insignia","INSIGNIA SPORTS TOURER":"Insignia",
        "INSIGNIA SPORTS TOURER SW":"Insignia","INSIGNIA LIMOUSINE HB":"Insignia",
        "INSIGNIA LIMOUSINE NB":"Insignia","INSIGNIA STATION WAGON":"Insignia",
        "KARL ROCKS / VIVA ROCKS":"Karl Rocks","KARL ROCKS":"Karl Rocks",
        "KARL / VIVA":"Karl","KARL/VIVA":"Karl","KARL":"Karl","MERIVA-A":"Meriva",
        "MERIVA":"Meriva","MOKKA X":"Mokka X","MOKKA":"Mokka","MOVANO-E":"Movano-e",
        "MOVANO":"Movano","VIVARO LIFE":"Vivaro Life","VIVARO-B":"Vivaro",
        "VIVARO-B 1,6":"Vivaro","VIVARO-B 1.6":"Vivaro","VIVARO":"Vivaro",
        "VIVARO-BUSINESSVAN":"Vivaro","VIVARO (LIFE)":"Vivaro Life",
        "VIVARO / ZAFIRA LIFE":"Vivaro / Zafira Life",
        "VIVARO / ZAFIRA LIFE":"Vivaro / Zafira Life","VIVARO-B 1,6 CDTI":"Vivaro",
        "ZAFIRA TOURER":"Zafira Tourer","ZAFIRA LIFE":"Zafira Life","ZAFIRA":"Zafira",
        "ASTRA+":"Astra","ASTRA GTC":"Astra",
    }
    for k,v in fams.items():
        if u.startswith(k): return v

    # Single-token matches
    if u in {"OPEL","208"}: return ""
    # Clean numerous trim/spec strings into families
    if "ASTRA" in u: return "Astra"
    if "INSIGNIA" in u: return "Insignia"
    if "COMBO" in u: return "Combo"
    if "COMBO-E" in u: return "Combo-e"
    if "CORSA" in u: return "Corsa"
    if "MOKKA" in u: return "Mokka"
    if "GRANDLAND" in u: return "Grandland"
    if "CROSSLAND" in u: return "Crossland"
    if "ZAFIRA" in u: return "Zafira"
    if "MOVANO" in u: return "Movano"
    if "VIVARO" in u and "LIFE" in u: return "Vivaro Life"
    if "VIVARO" in u: return "Vivaro"
    if "AMPERA" in u: return "Ampera"
    if "ADAM" in u: return "Adam"
    if "ANTARA" in u: return "Antara"
    if "AGILA" in u: return "Agila"
    if "CASCADA" in u: return "Cascada"
    if "FRONTERA" in u: return "Frontera"
    return ""

brand = "OPEL"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_opel)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[OPEL] BEFORE: rows=127, unique_models=127
[OPEL] AFTER:  rows=29, unique_models=29  (Œîrows=-98, Œîmodels=-98)

## Piaggio

In [255]:
def norm_piaggio(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("PIAGGIO ", "")
    # Drop internal M-codes
    if re.fullmatch(r"M\d+[A-Z]*", u): return ""

    # Vespa lines
    if u.startswith("VESPA "):
        if "GTS" in u: return "Vespa GTS"
        if "GTV" in u: return "Vespa GTV"
        if "PRIMAVERA" in u: return "Vespa Primavera"
        if "SPRINT" in u: return "Vespa Sprint"
        if "946" in u: return "Vespa 946"
        if "ELETTRICA" in u: return "Vespa Elettrica"
        return "Vespa"

    # MP3 & co
    if u.startswith("MP3"): return "MP3"
    if u.startswith("BEVERLY"): return "Beverly"
    if u.startswith("MEDLEY"): return "Medley"
    if u.startswith("LIBERTY"): return "Liberty"
    if u.startswith("FUOCO"): return "Fuoco"
    if u.startswith("PORTER NP6"): return "Porter NP6"
    if u.startswith("PORTER MAXXI"): return "Porter Maxxi"
    if u.startswith("PORTER"): return "Porter"
    if u.startswith("APE CLASSIC"): return "Ape Classic"
    if u.startswith("APE CALESSINO"): return "Ape Calessino"
    if u == "PIAGGIO 1": return "Piaggio 1"
    if u == "GILERA RUNNER SP": return "Gilera Runner SP"
    if u in {"NEW FLY 125","NEW TYPHOON 125"}: return u.title()

    # Misc
    if re.fullmatch(r"\d+\s*IE\s*LT", u): return ""
    return ""

brand = "PIAGGIO"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_piaggio)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[PIAGGIO] BEFORE: rows=85, unique_models=84
[PIAGGIO] AFTER:  rows=20, unique_models=20  (Œîrows=-65, Œîmodels=-64)

## Peugeut

In [256]:
def norm_peugeot(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("PEUGEOT ", "")

    # EV prefixes
    if u.startswith("E-208"): return "e-208"
    if u.startswith("E-PARTNER"): return "e-Partner"
    if u in {"E.RIFTER","E-RIFTER"}: return "e-Rifter"
    if u in {"E.BOXER","E-BOXER"}: return "e-Boxer"

    # Core cars
    for n in ["108","107","206+","207","208","301","308","408","3008","5008","4008","407","508","807","RCZ"]:
        if u.startswith(n): return n
    if u.startswith("RIFTER"): return "Rifter"
    if u.startswith("PARTNER"): return "Partner"
    if u.startswith("TRAVELLER"): return "Traveller"
    if u.startswith("EXPERT"): return "Expert"
    if u.startswith("BOXER"): return "Boxer"
    if "METROPOLIS" in u: return "Metropolis"
    if u in {"DJANGO","TWEET","CITYSTAR","VIVACITY","BELVILLE","SATELIS"}: return u.title()

    # Noisy tokens / duplicates
    if u in {"PEUGOT 108","PEUGOT 208","PEUGEOT BOXER","PEUGEOT PARTNER","PEUGEOT EXPERT","PEUGEOT 208","PEUGEOT 308","PEUGEOT 107","PEUGEOT 108"}:
        return re.sub(r"PEUG?EOT\s+","",u).title().replace(" ", "")
    return ""

brand = "PEUGEOT"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_peugeot)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[PEUGEOT] BEFORE: rows=95, unique_models=95
[PEUGEOT] AFTER:  rows=33, unique_models=33  (Œîrows=-62, Œîmodels=-62)

##Polaris

In [257]:
def norm_polaris(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("POLARIS ", "")

    # Harmonize RZR/Ranger naming
    u = u.replace("RANGER RZR", "RZR").replace("RAZOR", "RZR")

    if u.startswith("SPORTSMAN ACE"): return "Sportsman ACE"
    if u.startswith("SPORTSMAN"): return "Sportsman"
    if u.startswith("SCRAMBLER"): return "Scrambler"
    if u.startswith("RANGER"): return "Ranger"
    if u.startswith("RZR"): return "RZR"
    if u.startswith("GENERAL"): return "General"
    return ""

brand = "POLARIS"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_polaris)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[POLARIS] BEFORE: rows=27, unique_models=27
[POLARIS] AFTER:  rows=6, unique_models=6  (Œîrows=-21, Œîmodels=-21)

## Porsche

In [258]:
def norm_porsche(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("PORSCHE ", "").replace("BOXTER", "BOXSTER")

    # 911 family (incl. 991 refs)
    if u.startswith("911") or u.startswith("991") or re.match(r"^CARRERA", u):
        return "911"
    # Taycan (all trims)
    if u.startswith("TAYCAN"): return "Taycan"
    # Macan
    if u.startswith("MACAN"): return "Macan"
    # Cayenne
    if u.startswith("CAYENNE"): return "Cayenne"
    # Panamera
    if u.startswith("PANAMERA"): return "Panamera"
    # 718 split
    if u.startswith("718 BOXSTER") or u == "BOXSTER" or u.startswith("BOXSTER"):
        return "718 Boxster" if u.startswith("718") else "Boxster"
    if u.startswith("718 CAYMAN") or u == "CAYMAN" or u.startswith("CAYMAN"):
        return "718 Cayman" if u.startswith("718") else "Cayman"
    # Hyper/specials
    if "918 SPYDER" in u: return "918 Spyder"

    return ""

brand = "PORSCHE"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_porsche)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[PORSCHE] BEFORE: rows=166, unique_models=166
[PORSCHE] AFTER:  rows=10, unique_models=10  (Œîrows=-156, Œîmodels=-156)

##P√ñSSL

In [259]:
def norm_possl(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    # fix brand typos/encodings and duplicate brand words
    u = (u.replace("P√ñSSL", "POSSL")
           .replace("P√É∆í√Ç‚ÄìSSL", "POSSL")
           .replace("P√É¬è√Ç¬ø√Ç¬ΩSSL", "POSSL")
           .replace("POESSL", "POSSL")
           .replace("GLOBECAR ", "")
           .replace("POSSL ", "")
           .strip())

    # Drop internal KW codes / unknown numeric codes
    if re.fullmatch(r"KW ?\d{1,3}", u) or re.fullmatch(r"KW ?\d{3}", u): return ""
    if u in {"KW 018","KW 500","KW 503"}: return ""

    # Summit families and trims
    m = re.match(r"SUMMIT\s*(540|600|640)\s*(PLUS|PRIME)?$", u)
    if m:
        base = f"Summit {m.group(1)}"
        if m.group(2): base += f" {m.group(2).title()}"
        return base

    # Some noisy/typo Summit entries
    if u in {"SUMMIT 600PLUS"}: return "Summit 600 Plus"
    if u in {"POSSL SUMMIT 600 PLUS"}: return "Summit 600 Plus"
    if u in {"POSSL SUMMIT 640"}: return "Summit 640"
    if u in {"SUMMIT 540 PRIME","P√ñSSL SUMMIT 540 PRIME"}: return "Summit 540 Prime"
    if u in {"P√ñSSL SUMMIT 640 PRIME"}: return "Summit 640 Prime"
    if u in {"P√ñSSL SUMMIT 600 PLUS"}: return "Summit 600 Plus"
    if u in {"SUMMIT 5410"}: return ""  # invalid code

    # Other models
    if u.startswith("CAMPSTER"): return "Campster"
    if u.startswith("VANSTER"): return "Vanster"
    if u.startswith("VARIO 545"): return "Vario 545"

    # Generic "SUMMIT 600" with double spaces variants
    if "SUMMIT 600" in u: return "Summit 600"
    if "SUMMIT 640" in u: return "Summit 640"
    if "SUMMIT 540" in u: return "Summit 540"

    return ""

brand = "POSSL"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_possl)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[POSSL] BEFORE: rows=37, unique_models=37
[POSSL] AFTER:  rows=8, unique_models=8  (Œîrows=-29, Œîmodels=-29)

## QJMOTOR

In [260]:
def norm_qjmotor(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""

    # collapse decorations like "RR/RS/R/S/SX/X"
    # keep displacement when relevant for 125s
    if u.startswith("SRK 125"): return "SRK 125"
    if u.startswith("SRK"): return "SRK"
    if u.startswith("SRT"): return "SRT"
    if u.startswith("SRV 125"): return "SRV 125"
    if u.startswith("SRV"): return "SRV"
    if u.startswith("ATR 125"): return "ATR 125"
    if u.startswith("LTR 125"): return "LTR 125"
    return ""

brand = "QJMOTOR"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_qjmotor)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[QJMOTOR] BEFORE: rows=18, unique_models=18
[QJMOTOR] AFTER:  rows=7, unique_models=7  (Œîrows=-11, Œîmodels=-11)

## RAM

In [261]:
def norm_ram(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    # strip brand noise
    u = (u.replace("DODGE ", "")
           .replace("RAM RAM ", "RAM ")
           .replace("RAM", "")
           .strip())

    # family detection
    if "PROMASTER" in u: return "ProMaster"
    if "2500" in u: return "1500" if "1500" in u else "2500"
    if "1500" in u or u.startswith("1500"): return "1500"

    # bare brand or junk -> drop
    return ""

brand = "RAM"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_ram)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[RAM] BEFORE: rows=80, unique_models=80
[RAM] AFTER:  rows=3, unique_models=3  (Œîrows=-77, Œîmodels=-77)

## Renault

In [262]:
def norm_renault(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""

    # remove repeated brand and junk encodings
    u = re.sub(r"^RENAULT\s+", "", u)
    u = u.replace("CAPTURE", "CAPTUR").replace("KANGO ", "KANGOO ")
    u = u.replace("KANGO0", "KANGOO").replace("KANGO", "KANGOO")
    u = u.replace("MEGANE CONQUEST", "ARKANA")
    u = u.replace("SCENIC E-TECH ELECTRIC", "SCENIC")
    u = u.replace("CAPTUR (E-TECH HYBRID)", "CAPTUR")
    u = u.replace("CAPTUR (E-TECH PLUG-IN HYBRID)", "CAPTUR")
    u = u.replace("E-TECH ", "").replace("Z.E.", "").replace("Z.E", "")
    u = u.replace("((E-TECH PLUG-IN HYBRID)", "CAPTUR")
    u = u.replace("KANGOO VAN", "KANGOO")
    u = u.replace("MASTER E-TECH", "MASTER").replace("MASTER Z.E", "MASTER")
    u = u.replace("TRAFIC", "TRAFIC")  # unify spelling
    u = u.strip()

    # Core passenger cars
    cars = {
        "RENAULT 5": "5",
        "CLIO": "Clio",
        "CAPTUR": "Captur",
        "AUSTRAL": "Austral",
        "SCENIC": "Scenic",
        "SYMBIOZ": "Symbioz",
        "MEGANE": "Megane",
        "ARKANA": "Arkana",
        "ESPACE": "Espace",
        "TWINGO": "Twingo",
        "ZOE": "Zoe",
        "KOLEOS": "Koleos",
        "KADJAR": "Kadjar",
        "TALISMAN": "Talisman",
        "LAGUNA": "Laguna",
        "WIND": "Wind",
        "LOGAN": "Logan",
        "LODGY": "Lodgy",
        "ALASKAN": "Alaskan",
        "RAFALE": "Rafale",
        "EXPRESS": "Express",
    }
    for k, v in cars.items():
        if u.startswith(k): return v

    # LCVs
    if u.startswith("MASTER"): return "Master"
    if u.startswith("TRAFIC"): return "Trafic"
    if u.startswith("KANGOO"): return "Kangoo"

    # Micro/EVs and specials
    if u.startswith("TWIZY"): return "Twizy"

    # Known noise -> drop
    noisy_prefixes = (
        "THEAULT", "TVW HORSE", "PROTEO", "POLYVOLUME", "POLYVAN",
        "BIE-COMBI", "MASTER JPM", "INFOWHEELS", "PAARDEN", "BARBOT",
        "IGLOOCAR", "GRAND SPACENOMAD", "SPACENOMAD", "VEEVERVOER",
        "TRUCKS MASTER", "MEGANE RS", "MEGANE TCE"
    )
    if u.startswith(noisy_prefixes): return ""
    if re.match(r"^\d+(\.\d)?\s*DCI", u): return ""  # spec lines
    return ""

brand = "RENAULT"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_renault)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[RENAULT] BEFORE: rows=161, unique_models=161
[RENAULT] AFTER:  rows=24, unique_models=24  (Œîrows=-137, Œîmodels=-137)

## Rewaco

In [263]:
def norm_rewaco(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("REWACO ", "").strip()

    if u.startswith("RF 1") or u.startswith("RF1"):
        if " GT" in u or "GT " in u: return "RF1 GT"
        if " LT" in u or "LT " in u: return "RF1 LT"
        if " ST" in u or "ST " in u: return "RF1 ST"
        return "RF1"
    if "CT 800S" in u: return "CT 800S"
    if "CT 1800S" in u: return "CT 1800S"
    if u == "CT 800S": return "CT 800S"
    if u == "FAMILY": return "Family"
    return ""

brand = "REWACO"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_rewaco)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[REWACO] BEFORE: rows=11, unique_models=11
[REWACO] AFTER:  rows=7, unique_models=7  (Œîrows=-4, Œîmodels=-4)

## Rolls-Royce

In [264]:
def norm_rolls(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("ROLLS ROYCE ", "").replace("BLACK BADGE ", "").strip()
    if u.startswith("SPECTRE"): return "Spectre"
    if u.startswith("GHOST"): return "Ghost"
    if u.startswith("CULLINAN"): return "Cullinan"
    if u.startswith("PHANTOM"): return "Phantom"
    if u.startswith("WRAITH"): return "Wraith"
    if u.startswith("DAWN"): return "Dawn"
    return ""

brand = "ROLLS ROYCE"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_rolls)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[ROLLS ROYCE] BEFORE: rows=15, unique_models=15
[ROLLS ROYCE] AFTER:  rows=6, unique_models=6  (Œîrows=-9, Œîmodels=-9)

## ROYAL ENFIELD

In [265]:
def norm_royal_enfield(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("ROYAL ENFIELD ", "").replace("HUNTER", "HNTR").strip()

    # Clear dup noise
    if u == "650": return ""

    # Modern lines
    if u.startswith("HIMALAYAN"): return "Himalayan"
    if u.startswith("SCRAM 411"): return "Scram 411"
    if u.startswith("GUERRILLA 450"): return "Guerrilla 450"
    if u.startswith("SHOTGUN 650"): return "Shotgun 650"
    if u.startswith("SUPER METEOR 650"): return "Super Meteor 650"
    if u.startswith("METEOR"): return "Meteor 350"

    # Interceptor & Continental GT
    if u.startswith("INTERCEPTOR"):
        return "Interceptor 650" if "650" in u or "INT 650" in u else "Interceptor"
    if u.startswith("CONTINENTAL GT"):
        return "Continental GT 650" if "650" in u else "Continental GT"

    # Classic family
    if u.startswith("CLASSIC 650"): return "Classic 650"
    if u.startswith("CLASSIC 500"): return "Classic 500"
    if u.startswith("CLASSIC 350"): return "Classic 350"
    if u.startswith("CLASSIC C5"): return "Classic 500"
    if "CLASSIC EFI" in u:
        return "Classic 350" if "350" in u else "Classic 500"

    # Bullet family
    if u.startswith("BULLET"):
        if "350" in u: return "Bullet 350"
        if "500" in u: return "Bullet 500"
        return "Bullet"
    if "BULLET CLASSIC" in u:
        return "Bullet 350" if "350" in u else "Bullet 500"
    if "ELECTRA" in u and "BULLET" in u: return "Bullet 500"

    # V7 alias in list? (ignore others)
    if u.startswith("HNTR 350") or u.startswith("HUNTER 350"): return "Hunter 350"

    return ""

brand = "ROYAL ENFIELD"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_royal_enfield)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[ROYAL ENFIELD] BEFORE: rows=33, unique_models=33
[ROYAL ENFIELD] AFTER:  rows=16, unique_models=16  (Œîrows=-17, Œîmodels=-17)

## SAAB

In [266]:
def norm_saab(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("SAAB ", "").strip()
    if u in {"45725","45786"}: return ""
    u = u.replace("CABRIOLET", "CABRIO").replace("SPORT TOURER", "ST")
    if u.startswith("93"): u = "9-3"
    if u.startswith("95"): u = "9-5"
    if u.startswith("9-3X"): return "9-3X"
    if u.startswith("9-4X"): return "9-4X"
    if u.startswith("9-3"): return "9-3"
    if u.startswith("9-5"): return "9-5"
    return ""

brand = "SAAB"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_saab)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[SAAB] BEFORE: rows=25, unique_models=25
[SAAB] AFTER:  rows=4, unique_models=4  (Œîrows=-21, Œîmodels=-21)

## SEAT

In [267]:
def norm_seat(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("SEAT ", "").strip()
    # typos / variants
    u = u.replace("SPORTSTOURER", "SPORTSTOURER").replace("SPORTOURER", "SPORTSTOURER")
    if u.startswith("LEON SP"): u = "LEON SPORTSTOURER"
    if u == "LEON ST": u = "LEON SPORTSTOURER"
    if u == "LEON X-PERIENCE": u = "LEON"
    if u.startswith("CUPRA "):  # keep Cupra derivatives but under Seat brand here
        if "ATECA" in u: return "CUPRA ATECA"
        if "LEON" in u: return "CUPRA LEON"
    # cores
    for fam in ["IBIZA","ARONA","LEON SPORTSTOURER","LEON","TARRACO","ATECA","MII","ALHAMBRA","ALTEA","TOLEDO","EXEO","EXEO ST"]:
        if u.startswith(fam): return fam.title().replace("St","ST").replace("Sp","SP")
    # trims/specs -> collapse
    if u.startswith("IBIZA"): return "Ibiza"
    if u.startswith("LEON"): return "Leon"
    if u.startswith("ATECA"): return "Ateca"
    return ""

brand = "SEAT"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m,"model"] = df_cleaned.loc[m,"model"].map(norm_seat)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[SEAT] BEFORE: rows=50, unique_models=50
[SEAT] AFTER:  rows=13, unique_models=13  (Œîrows=-37, Œîmodels=-37)

## SHERCO

In [268]:
def norm_sherco(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    if u in {"SHERCO"}: return ""
    if "SEF-R" in u: return "SEF-R"
    if "SE-R" in u: return "SE-R"
    if re.fullmatch(r"\d+(\.\d)?I", u): return ""
    if u.endswith("4T EUR5"): return "125 4T"
    return ""

brand = "SHERCO"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m,"model"] = df_cleaned.loc[m,"model"].map(norm_sherco)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[SHERCO] BEFORE: rows=11, unique_models=11
[SHERCO] AFTER:  rows=3, unique_models=3  (Œîrows=-8, Œîmodels=-8)

## ≈†KODA

In [269]:
def norm_skoda(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("SKODA ", "").replace("ELROC", "ELROQ").replace("KODAIQ","KODIAQ")
    # Enyaq/Elroq families
    if u.startswith("ENYAQ"): return "Enyaq"
    if u.startswith("ELROQ"): return "Elroq"
    # cores
    cores = ["KODIAQ","KAMIQ","KAROQ","OCTAVIA","SUPERB","FABIA","SCALA","CITIGO","RAPID","YETI","ROOMSTER","PRAKTIK"]
    for c in cores:
        if u.startswith(c):
            if c=="OCTAVIA" and "RS" in u: return "Octavia RS"
            return c.title()
    # derived/aliases
    if u == "SPACEBACK": return "Rapid Spaceback"
    return ""

brand = "SKODA"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m,"model"] = df_cleaned.loc[m,"model"].map(norm_skoda)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[SKODA] BEFORE: rows=51, unique_models=51
[SKODA] AFTER:  rows=16, unique_models=16  (Œîrows=-35, Œîmodels=-35)

## SMART

In [270]:
def norm_smart(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    if u in {"SMART FORTWO","SMART FORFOUR"}: u = u.replace("SMART ","")
    if u in {"#1","#3","#5"}: return u
    if "EQ FORTWO" in u: return "EQ fortwo"
    if "EQ FORFOUR" in u: return "EQ forfour"
    if "FORTWO" in u and "ELECTRIC" in u: return "fortwo electric drive"
    if "FORTWO" in u: return "fortwo"
    if "FORFOUR" in u: return "forfour"
    if "ELECTRIC DRIVE" in u: return "fortwo electric drive"
    return ""

brand = "SMART"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m,"model"] = df_cleaned.loc[m,"model"].map(norm_smart)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[SMART] BEFORE: rows=24, unique_models=24
[SMART] AFTER:  rows=8, unique_models=8  (Œîrows=-16, Œîmodels=-16)

## SSANGYONG

In [271]:
def norm_ssangyong(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("SSANGYONG ","").replace("SSANYONG ","")
    if u.startswith("REXTON"): return "Rexton"
    if u.startswith("KORANDO E-MOTION"): return "Korando e-Motion"
    if u.startswith("KORANDO"): return "Korando"
    if u.startswith("TIVOLI"): return "Tivoli"
    if u.startswith("TORRES"): return "Torres"
    if "REXTON SPORTS XL" in u: return "Rexton Sports XL"
    if u.startswith("MUSSO GRAND"): return "Musso Grand"
    if u.startswith("XLV"): return "XLV"
    return ""

brand = "SSANGYONG"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m,"model"] = df_cleaned.loc[m,"model"].map(norm_ssangyong)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[SSANGYONG] BEFORE: rows=15, unique_models=15
[SSANGYONG] AFTER:  rows=7, unique_models=7  (Œîrows=-8, Œîmodels=-8)

## SUBARU

In [272]:
def norm_subaru(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    # treat XV and Crosstrek as one family: Crosstrek
    if u.startswith("XV"): return "Crosstrek"
    if "CROSSTREK" in u: return "Crosstrek"
    cores = ["FORESTER","OUTBACK","SOLTERRA","LEVORG","IMPREZA","BRZ","LEGACY","WRX","WRX STI","ASCENT","TRIBECA","EXIGA","JUSTY","TREZIA"]
    for c in cores:
        if u.startswith(c): return c.title()
    return ""

brand = "SUBARU"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m,"model"] = df_cleaned.loc[m,"model"].map(norm_subaru)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[SUBARU] BEFORE: rows=33, unique_models=33
[SUBARU] AFTER:  rows=13, unique_models=13  (Œîrows=-20, Œîmodels=-20)

#SUZUKI

In [273]:
def norm_suzuki(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    # cars (collapse)
    cars = ["SWIFT","VITARA","S-CROSS","IGNIS","SX4","JIMNY","SWACE","ACROSS","ALTO","BALENO","CELERIO","KIZASHI","GRAND VITARA"]
    for c in cars:
        if u.startswith(c) or u.startswith("SUZUKI "+c): return c.title()
    # typos
    u = u.replace("VITATA","VITARA").replace("V-STORM", "V-STROM")
    # motos
    if u.startswith("DL"): return "V-Strom"
    if "V-STROM" in u: return "V-Strom"
    if u.startswith("GSX-R"): return "GSX-R"
    if u.startswith("GSX-S"): return "GSX-S"
    if u.startswith("SV650"): return "SV650"
    if u.startswith("SV 650"): return "SV650"
    if u.startswith("SFV650") or "GLADIUS" in u: return "SV650"
    if u.startswith("GSR"): return "GSR"
    if u.startswith("GSF"): return "Bandit"
    if u.startswith("M1800R") or u.startswith("VZR") or u.startswith("VLR") or u.startswith("VZ1500"): return "Boulevard"
    if u.startswith("VL800"): return "VL800"
    if u.startswith("GSX1300"): return "Hayabusa"
    if u.startswith("DR-Z"): return "DR-Z"
    if u.startswith("DR-Z400"): return "DR-Z 400"
    if u.startswith("ADDRESS") or u.startswith("UK110"): return "Address"
    if u.startswith("UH"): return "Burgman"
    if u.startswith("AN"): return "Burgman"
    if u.startswith("RV"): return "VanVan"
    if u.startswith("GW250"): return "GW250"
    # misc lists/garbage
    if "NAN" in u: return ""
    return ""

brand = "SUZUKI"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m,"model"] = df_cleaned.loc[m,"model"].map(norm_suzuki)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[SUZUKI] BEFORE: rows=136, unique_models=135
[SUZUKI] AFTER:  rows=27, unique_models=27  (Œîrows=-109, Œîmodels=-108)

##SYM

In [274]:
def norm_sym(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    # clean
    u = u.replace("CRUISYM ?", "CRUISYM")
    # families
    for fam in ["ADX","JET X","JET 14 EVO","JET 14","CRUISYM","SYMPHONY ST","SYMPHONY SR","SYMPHONY",
                "FIDDLE","JOYMAX","JOYRIDE","MAXSYM","GTS","MIO","HD","ALLO","X'PRO"]:
        if u.startswith(fam): return fam.title()
    # codes -> drop
    if re.fullmatch(r"[A-Z0-9]{2,5}", u): return ""
    return ""

brand = "SYM"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m,"model"] = df_cleaned.loc[m,"model"].map(norm_sym)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[SYM] BEFORE: rows=36, unique_models=35
[SYM] AFTER:  rows=17, unique_models=17  (Œîrows=-19, Œîmodels=-18)

## TESLA

In [275]:
def norm_tesla(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("TESLA ","")
    if "MODEL S" in u: return "Model S"
    if "MODEL 3" in u or u == "MODEL3": return "Model 3"
    if "MODEL X" in u: return "Model X"
    if "MODEL Y" in u: return "Model Y"
    if "ROADSTER" in u: return "Roadster"
    return ""

brand = "TESLA"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m,"model"] = df_cleaned.loc[m,"model"].map(norm_tesla)
df_cleaned = pd.concat([df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])], ignore_index=True)
_after_report(df_cleaned, brand, br, bm)

[TESLA] BEFORE: rows=13, unique_models=13
[TESLA] AFTER:  rows=5, unique_models=5  (Œîrows=-8, Œîmodels=-8)

## TOYOTA

In [276]:
def norm_toyota(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("TOYOTA ", "").replace("  ", " ")
    # fix common typos
    u = (u.replace("CH-R","C-HR")
           .replace("RAV 4","RAV4")
           .replace("RAV-4","RAV4")
           .replace("CORROLA","COROLLA")
           .replace("HIGLANDER","HIGHLANDER")
           .replace("LANDCRUISER","LAND CRUISER")
           .replace("LANDCRUISER","LAND CRUISER")
           .replace("LAND  CRUISER","LAND CRUISER")
           .replace("BZ4X","BZ4X")
           .replace("PRIUS PHV","PRIUS PLUG-IN")
           .replace("PRIUS PHEV","PRIUS PLUG-IN")
           .replace("PRIUS PRIME","PRIUS PLUG-IN")
           .replace("PRIUS PRIME XLE","PRIUS PLUG-IN")
           .replace("PRIUS+","PRIUS+")
           .replace("PRIUS PLUS","PRIUS+")
           .replace("PRIUS ADVANCE","PRIUS")
           .replace("GT 86","GT86")
           .replace("GR 86","GR86")
           .replace("MIRAL","MIRAI")
           .replace("MIRAI XLE","MIRAI")
           .replace("MIRAI LIMITED","MIRAI")
           .replace("YARIS GRMN","GR YARIS"))
    # drop foreign makes mistakenly in Toyota rows
    if any(bad in u for bad in ["DAIHATSU", "PEUGEOT", "MOLINARI", "HVS", "ZE1EE", "ZE1HE"]):
        return ""
    # Land Cruiser family
    if u.startswith("LAND CRUISER"):
        if "VAN" in u: return "Land Cruiser Van"
        return "Land Cruiser"
    if u in {"LANDCRUISER PRADO", "LAND CRUISER PRADO 150", "LAND CRUISER 150", "MODEL 150",
             "LAND CRUISER (150 SERIES)", "LAND CRUISER 150 SERIES", "LAND CRUISER (150 SERIES)", "LAND CRUISER (120SERIES)",
             "LAND CRUISER (200 SERIES)", "LAND CRUISER 200", "LAND CRUISER 300", "LAND CRUISER 300 GR SPORT",
             "LAND CRUISER 300 PREMIUM", "LAND CRUISER 300 70 TH ANNIVERSARY", "LAND CRUISER 300 70TH ANNIVESARY",
             "LAND CRUISER 300 GR", "LAND CRUISER GXR", "LAND CRUISER I-FORCE MAX"}:
        return "Land Cruiser"
    # pickups & body-on-frame
    if u.startswith("HILUX"): return "Hilux"
    if u.startswith("HIACE"): return "Hiace"
    if u.startswith("TACOMA"): return "Tacoma"
    if u.startswith("TUNDRA"): return "Tundra"
    if u in {"4RUNNER"}: return "4Runner"
    if u.startswith("VENZA"): return "Venza"
    if "FJ CRUISER" in u: return "FJ Cruiser"
    # vans (Proace)
    if u.startswith("PROACE MAX"): return "Proace Max"
    if u.startswith("PROACE CITY VERSO ELECTRIC"): return "Proace City Verso Electric"
    if u.startswith("PROACE CITY VERSO"): return "Proace City Verso"
    if u.startswith("PROACE CITY ELECTRIC"): return "Proace City Electric"
    if u.startswith("PROACE CITY"): return "Proace City"
    if u.startswith("PROACE VERSO"): return "Proace Verso"
    if u.startswith("PROACE TAXI"): return "Proace"
    if u.startswith("PROACE OR PROACE VERSO"): return "Proace"
    if u.startswith("PROACE TRIPOD"): return "Proace"
    if u.startswith("PROACE"): return "Proace"
    # small cars
    if u.startswith("AYGO"): return "Aygo"
    if u in {"IQ"} or u.startswith("IQ "): return "iQ"
    if u in {"VITZ", "VITZ RS GS"}: return "Yaris"
    if u in {"YARIS IA"}: return "Yaris iA"
    if "YARIS CROSS" in u: return "Yaris Cross"
    if "GR YARIS" in u: return "GR Yaris"
    if "YARIS HYBRID" in u or re.match(r"YARIS.*HYBRID", u): return "Yaris Hybrid"
    if u.startswith("YARIS"): return "Yaris"
    # Corolla
    if "COROLLA CROSS" in u: return "Corolla Cross"
    if "COROLLA HYBRID" in u: return "Corolla Hybrid"
    if "COROLLA" in u: return "Corolla"
    # Auris/Avensis/Verso
    if u.startswith("AURIS"): return "Auris"
    if u.startswith("AURUS"): return "Auris"
    if u.startswith("AVENSIS"): return "Avensis"
    if u.startswith("VERSO-S"): return "Verso-S"
    if u.startswith("VERSO"): return "Verso"
    # C-HR, bZ4X, Prius, Mirai, Supra, 86/GR86
    if u.startswith("C-HR"): return "C-HR"
    if u in {"BZ4X"}: return "bZ4X"
    if u.startswith("BZ4X"): return "bZ4X"
    if u.startswith("PRIUS PLUG-IN"): return "Prius Plug-in"
    if u in {"PRIUS C"}: return "Prius c"
    if u in {"PRIUS+", "PRIUS+ WAGON"}: return "Prius+"
    if u.startswith("PRIUS"): return "Prius"
    if u.startswith("MIRAI"): return "Mirai"
    if u in {"SUPRA", "TOYOTA SUPRA"}: return "Supra"
    if u in {"GT86", "GR86", "86", "86 2.0 VT"}: return "GR86"
    # SUVs / others
    if u.startswith("RAV4"): return "RAV4"
    if "RAV4 HYBRID" in u or "RAV4 2.5 HYBRID" in u: return "RAV4 Hybrid"
    if u.startswith("HIGHLANDER"): return "Highlander"
    if "SIENNA" in u: return "Sienna"
    if u in {"CAMRY HYBRID", "CAMRY HYBRIDE SE", "CAMRY XLE HYBRID"}: return "Camry Hybrid"
    if u.startswith("CAMRY"): return "Camry"
    if u.startswith("CROWN"): return "Crown"
    if u.startswith("CENTURY"): return "Century"
    if u.startswith("URBAN CRUISER"): return "Urban Cruiser"
    # hydrogen/EV already handled above
    # dump obvious garbage/specific codes
    if re.search(r"\b(AYGO,|AYGO 1\.0|1\.0|1\.6|1\.8|2\.0|2\.5|D-4D|E-CVT|AWD|DSG|HK|HP|KW|BENZIN|AUT\.?)\b", u):
        # keep only if a recognizable root was not matched above
        return ""
    return ""

brand = "TOYOTA"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_toyota)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[TOYOTA] BEFORE: rows=200, unique_models=200
[TOYOTA] AFTER:  rows=47, unique_models=47  (Œîrows=-153, Œîmodels=-153)

## TRIUMPH

In [277]:
def norm_triumph(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    # typos
    u = (u.replace("STEET","STREET")
           .replace("TRIUMPH ","")
           .replace("STREET TIPLE","STREET TRIPLE")
           .replace("TIGRE EXPLORER","TIGER EXPLORER")
           .replace("TIGER1200","TIGER 1200")
           .replace("TIGER1200","TIGER 1200")
           .replace("TIGER  800","TIGER 800")
           .replace("APLPINE","ALPINE"))
    # Rocket 3
    if u.startswith("ROCKET"): return "Rocket 3"
    # Tiger series
    if u.startswith("TIGER 1200"): return "Tiger 1200"
    if u.startswith("TIGER 1050"): return "Tiger 1050"
    if u.startswith("TIGER 900"): return "Tiger 900"
    if u.startswith("TIGER 850"): return "Tiger 850 Sport"
    if u.startswith("TIGER 800"): return "Tiger 800"
    if u.startswith("TIGER SPORT 660"): return "Tiger Sport 660"
    if u.startswith("TIGER SPORT"): return "Tiger Sport"
    if "TIGER EXPLORER" in u: return "Tiger Explorer"
    # Street/Speed Triple
    if u.startswith("STREET TRIPLE"): return "Street Triple"
    if u.startswith("SPEED TRIPLE 1200"): return "Speed Triple 1200"
    if u.startswith("SPEED TRIPLE"): return "Speed Triple"
    # Speed Twin
    if u.startswith("SPEED TWIN 1200"): return "Speed Twin 1200"
    if u.startswith("SPEED TWIN 900"): return "Speed Twin 900"
    if u.startswith("SPEED TWIN"): return "Speed Twin"
    # Daytona
    if u.startswith("DAYTONA 660"): return "Daytona 660"
    if u.startswith("DAYTONA 675"): return "Daytona 675"
    if "DAYTONA MOTO2" in u: return "Daytona 765 Moto2"
    # Bonneville & classics
    if "BONNEVILLE T120" in u: return "Bonneville T120"
    if "BONNEVILLE T100" in u: return "Bonneville T100"
    if "BONNEVILLE SPEEDMASTER" in u: return "Bonneville Speedmaster"
    if "BONNEVILLE BOBBER" in u: return "Bonneville Bobber"
    if u.startswith("BONNEVILLE"): return "Bonneville"
    if u.startswith("THRUXTON"): return "Thruxton"
    if u.startswith("STREET TWIN"): return "Street Twin"
    if u.startswith("STREET CUP"): return "Street Cup"
    if u.startswith("SCRAMBLER 1200"): return "Scrambler 1200"
    if u.startswith("SCRAMBLER 900"): return "Scrambler 900"
    if u.startswith("SCRAMBLER"): return "Scrambler"
    if u.startswith("SPEEDMASTER"): return "Bonneville Speedmaster"
    if u.startswith("TRIDENT 660"): return "Trident 660"
    if u == "TRIDENT": return "Trident 660"
    # Others
    if u.startswith("TROPHY"): return "Trophy"
    if u.startswith("SPRINT"): return "Sprint"
    if u.startswith("AMERICA"): return "America"
    if u.startswith("THUNDERBIRD"): return "Thunderbird"
    if u.startswith("TF250") or u.startswith("TF450"): return u.replace(" ", "")
    # clean showcase/editions -> keep base
    for base in ["Street Triple","Speed Triple","Tiger 900","Tiger 1200","Tiger 800","Rocket 3",
                 "Bonneville T120","Bonneville T100","Thruxton","Scrambler 1200","Scrambler 900",
                 "Trident 660","Daytona 660","Daytona 675","Tiger Explorer","Tiger Sport 660","Tiger Sport"]:
        if base in u:
            return base
    return ""

brand = "TRIUMPH"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_triumph)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[TRIUMPH] BEFORE: rows=173, unique_models=173
[TRIUMPH] AFTER:  rows=36, unique_models=36  (Œîrows=-137, Œîmodels=-137)

## VOGE

In [278]:
def norm_voge(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("LX3500T-5A","SR4 MAX")  # scooter alias
    if u in {"SR4MAX","SR4 MAX"}: return "SR4 MAX"
    if u in {"SR1ADV","SR1 ADV"}: return "SR1 ADV"
    if u.startswith("500DSX"): return "500DSX"
    if u.startswith("500DS"): return "500DS"
    if u.startswith("650DSX"): return "650DSX"
    if u.startswith("650DS"): return "650DS"
    if u.startswith("500R"): return "500R"
    if u.startswith("500AC"): return "500AC"
    if u.startswith("300RALLY"): return "300RALLY"
    if u.startswith("300DS"): return "300DS"
    if u.startswith("300R"): return "300R"
    if u.startswith("LX500"): return "LX500"
    if u.startswith("LX3500T"): return "SR4 MAX"
    return ""

brand = "VOGE"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_voge)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[VOGE] BEFORE: rows=15, unique_models=15
[VOGE] AFTER:  rows=12, unique_models=12  (Œîrows=-3, Œîmodels=-3)

## VOLKSWAGEN

In [279]:
def _is_power_blob(u: str) -> bool:
    return bool(re.search(r"\b(kw|hp|hk|tsi|tfsI|tdi|scr|bmt|4motion|ds?g|awd|tiptronic|edition|variant|alltrack|usa)\b", u))
def _id_base(u: str) -> str:
    # normalize many "ID", "ID.", "ID BUZZ", etc.
    v = u.replace("ID BUZZ", "ID. BUZZ").replace("ID BUZZ.", "ID. BUZZ")
    v = re.sub(r"\bID(\d)", r"ID.\1", v)
    v = v.replace("ID3", "ID.3").replace("ID4", "ID.4").replace("ID5", "ID.5").replace("ID6", "ID.6").replace("ID7", "ID.7")
    v = v.replace("ID .", "ID. ").replace("ID 3", "ID.3").replace("ID 4", "ID.4").replace("ID 5", "ID.5").replace("ID 7", "ID.7")
    return v

def norm_vw(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("VOLKSWAGEN ", "").replace("VW ", "")
    u = _id_base(u)
    # obvious misspellings
    u = (u.replace("TIQUAN","TIGUAN")
           .replace("TOUREG","TOUAREG")
           .replace("PASSAAT","PASSAT")
           .replace("CALLIFORNIA","CALIFORNIA")
           .replace("BUSNESS","BUSINESS")
           .replace("BUSNIESS","BUSINESS")
           .replace("TRANSP[ORTER","TRANSPORTER")
           .replace("ABT E-TRANSP[ORTER","ABT E-TRANSPORTER"))
    # core cars
    cores = ["POLO","GOLF","T-ROC","TIGUAN","PASSAT","TAIGO","ARTEON","SCIROCCO","SHARAN","JETTA","BEETLE","PHAETON","TOURAN","TOUAREG","ID.3","ID.4","ID.5","ID.7"]
    for c in cores:
        if u.startswith(c):
            # special ID.* power trims collapse
            if c.startswith("ID."):
                return c
            if c == "BEETLE" and "NEW" in u: return "Beetle"
            return c.title().replace("Id.","ID.")
    # ID. Buzz (MPV/Cargo/GTX variants collapse)
    if "ID. BUZZ" in u:
        if "CARGO" in u: return "ID. Buzz Cargo"
        return "ID. Buzz"
    # regional/china
    if u.startswith("ATLAS"): return "Atlas"
    if "TAYRON" in u: return "Tayron"
    if "ID.6" in u: return "ID.6"
    # vans & CVs
    if u.startswith("CADDY"): return "Caddy"
    if "E-CADDY" in u: return "Caddy"
    if "CADDY MAXI" in u: return "Caddy"
    if "CADDY MAX" in u: return "Caddy"
    if "CADDY MODIFIED" in u: return "Caddy"
    if "CADDY TRIPOD" in u or "CADDY AMF" in u or "FLEXIRAMP" in u: return "Caddy"
    if u.startswith("TRANSPORTER") or u.startswith("T5 ") or u.startswith("T6 ") or u.startswith("T7"):
        # California/Caravelle/Multivan have own lines below
        if "CALIFORNIA" in u: return "California"
        if "CARAVELLE" in u: return "Caravelle"
        if "MULTIVAN" in u: return "Multivan"
        return "Transporter"
    if u.startswith("CALIFORNIA"): return "California"
    if u.startswith("CARAVELLE"): return "Caravelle"
    if u.startswith("MULTIVAN"): return "Multivan"
    if u.startswith("CRAFTER"): return "Crafter"
    if "E-TRANSPORTER" in u: return "ABT e-Transporter"
    if "E-CARAVELLE" in u: return "ABT e-Caravelle"
    if "E-TRANSPORTER 6.1" in u: return "ABT e-Transporter"
    if "ABT XNH" in u: return "ABT XNH"
    if "BUSINESS VAN" in u: return ""
    if u.startswith("KOMBI"): return "Transporter"
    # pickups & others
    if u.startswith("AMAROK"): return "Amarok"
    if u.startswith("SAVEIRO"): return "Saveiro"
    if u.startswith("ROUTAN"): return "Routan"
    # Camper conversions (Knaus/Van TI/‚Ä¶ keep donor VW model)
    if "KNAUS TOURER VAN" in u: return "Tourer Van (VW)"
    if "VAN-TI PLUS" in u: return "Van TI Plus (VW)"
    if "VENTJE" in u or "EVENTJE" in u: return "ID. Buzz"
    # UP!
    if u.startswith("UP"): return "up!"
    # CC variants
    if u in {"CC", "PASSAT CC"} or u.startswith("CC "): return "Passat CC"
    # drop code-only / power-only lines
    if re.fullmatch(r"[0-9A-Z]{1,3}", u): return ""
    if _is_power_blob(u): return ""
    # generic dash
    if u in {"-"}: return ""
    return ""

brand = "VOLKSWAGEN"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_vw)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[VOLKSWAGEN] BEFORE: rows=384, unique_models=384
[VOLKSWAGEN] AFTER:  rows=39, unique_models=39  (Œîrows=-345, Œîmodels=-345)

## VOLVO

In [280]:
def norm_volvo(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("VOLVO ", "").replace("  ", " ")
    # fix spacing/styles
    u = (u.replace("XC 90","XC90").replace("XC 60","XC60").replace("XC 40","XC40").replace("XC 70","XC70")
           .replace("C 30","C30").replace("V 60","V60")
           .replace("EX30 CROSS COUNTRY","EX30 CROSS COUNTRY"))
    # recent renames: C40/EC40/EX40 -> EX40
    if u in {"C40","EX40","EC40"} or u.startswith("C40 "): return "EX40"
    # core EX new lines
    if u.startswith("EX90"): return "EX90"
    if u.startswith("EX30"): return "EX30" if "CROSS COUNTRY" not in u else "EX30 Cross Country"
    # base wagons/sedans & SUVs
    bases = ["V90","V60","V70","V50","V40","S90","S80","S60","S40","C70","C30","XC90","XC70","XC60","XC40","V60 CROSS COUNTRY","V90 CROSS COUNTRY","V40 CROSS COUNTRY"]
    for b in bases:
        if u.startswith(b):
            # keep Cross Country variants
            if "CROSS COUNTRY" in b or "CROSS COUNTRY" in u:
                return b if "CROSS COUNTRY" in b else f"{b.split()[0]} Cross Country"
            # strip trims (T4/T5/T6/T8, AWD, TE, Twin Engine, Recharge, Excellence, Momentum, etc.)
            return b.split()[0] if " " in b else b
    # XC/others with trim text embedded
    if u.startswith("XC90"): return "XC90"
    if u.startswith("XC60"): return "XC60"
    if u.startswith("XC40"): return "XC40"
    # Plug-in hybrid/Twin Engine collapse to base model earlier in string
    if "TWIN ENGINE" in u or "RECHARGE" in u or "PLUG IN HYBRID" in u or "PLUG-IN HYBRID" in u:
        for root in ["XC90","XC60","XC40","V90","V60","S90","S60"]:
            if root in u:
                return root
    # junk / non-models
    if any(bad in u for bad in ["FH", "PERFORMANCE PERFECTION"]): return ""
    # final fallbacks
    known = {"XC90 EXCELLENCE":"XC90", "S90 EXCELLENCE":"S90"}
    if u in known: return known[u]
    return ""

brand = "VOLVO"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_volvo)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[VOLVO] BEFORE: rows=108, unique_models=108
[VOLVO] AFTER:  rows=22, unique_models=22  (Œîrows=-86, Œîmodels=-86)

## VW

In [281]:
def norm_vw_short(model: str) -> str:
    # just delegate to the existing Volkswagen normalizer
    return norm_vw(model)

brand = "VW"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_vw_short)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[VW] BEFORE: rows=37, unique_models=37
[VW] AFTER:  rows=23, unique_models=23  (Œîrows=-14, Œîmodels=-14)

## YAMAHA

In [282]:
def _yam_code_map(u: str) -> str:
    # map frequent internal codes -> MT/T√©n√©r√©/Tracer/XMAX/TMAX/etc.
    code_alias = {
        # MT family
        "MTN690":"MT-07","MTN690-U":"MT-07","MTN690-A":"MT-07","MTN690-S":"MT-07","MTN690-SU":"MT-07",
        "MT07":"MT-07","MT07A":"MT-07","MT-07A":"MT-07","MT-07 ABS":"MT-07",
        "MTT690":"TRACER 700","MTT690A":"TRACER 700","MTT690-A":"TRACER 700","MTT690D":"TRACER 700","MTT690D-U":"TRACER 700",
        "MTT690-U":"TRACER 700","TRACER 700 35KW":"TRACER 700","TRACER 7":"TRACER 7",
        "MTN850":"MT-09","MTN850-A":"MT-09","MTN850D":"MT-09","MTN850D(MT-09SP)":"MT-09 SP",
        "MT-09A":"MT-09","MT09":"MT-09","MT09A":"MT-09","MT 09":"MT-09","MT 09A":"MT-09","MT 09-A":"MT-09",
        "MT-09 ABS":"MT-09","MT-09 SP":"MT-09 SP","MT-09SP":"MT-09 SP","MT - 09SP":"MT-09 SP",
        "MT09TRA":"TRACER 900","MT09TRA (MT-09 TRACER)":"TRACER 900",
        "TRACER 900":"TRACER 900","TRACER 900 GT":"TRACER 900 GT","TRACER 900 GT ABS":"TRACER 900 GT",
        "TRACER  900GT":"TRACER 900 GT","TRACER9":"TRACER 9","TRACER9 GT":"TRACER 9 GT","TRACER 9 GT":"TRACER 9 GT",
        "MTT850":"TRACER 900","MTT850D (TRACER900 GT)":"TRACER 900 GT","MTT850D (TRACER900 GT)":"TRACER 900 GT",
        "MTT850 (TRACER900)":"TRACER 900",
        "MTN890":"MT-09","MTN890D":"MT-09","MTN890-S":"MT-09","MTN890-U":"MT-09",
        "MTT890":"TRACER 9","MTT890D":"TRACER 9 GT","MTT890D-S":"TRACER 9 GT","MTT890D-SK":"TRACER 9 GT","MTT890P-B":"TRACER 9",
        "MTM890":"XSR900","MTM890D":"XSR900","MTM890D-U":"XSR900",
        "MTN1000":"MT-10","MTN1000D":"MT-10 SP","MTN1000(MT-10)":"MT-10","MTN1000D(MT-10 SP)":"MT-10 SP",
        "MT10":"MT-10","MT 10":"MT-10","MT10SP":"MT-10 SP","MT 10 SP":"MT-10 SP",
        # XSR family
        "MTM690":"XSR700","MTM690D":"XSR700","MTM690-U":"XSR700 35KW","MTM690 (XSR700)":"XSR700",
        "MTM690 (XSR700 XTRIBUTE)":"XSR700","XSR700 35KW":"XSR700 35KW",
        "MTM850(XSR900)":"XSR900","XSR 900":"XSR900","XSR900":"XSR900",
        # Adventure / T√©n√©r√©
        "XTZ690":"T√âN√âR√â 700","XTZ690 (TENERE 700)":"T√âN√âR√â 700","XTZ690-B":"T√âN√âR√â 700","XTZ690D":"T√âN√âR√â 700",
        "XTZ690D-B":"T√âN√âR√â 700 RALLY","XTZ690D-B (TENERE 700 RALLY)":"T√âN√âR√â 700 RALLY",
        "XTZ690-U":"T√âN√âR√â 700 35KW","XTZ690-U (TENERE 700 35 KW)":"T√âN√âR√â 700 35KW","XTZ690-U TENERE700 35KW":"T√âN√âR√â 700 35KW",
        "T√É‚Ä∞N√É‚Ä∞R√É‚Ä∞ 700":"T√âN√âR√â 700","TENERE 700":"T√âN√âR√â 700",
        "XT1200Z":"SUPER T√âN√âR√â 1200","XT1200ZE":"SUPER T√âN√âR√â 1200","XT 1200":"SUPER T√âN√âR√â 1200",
        "XT 1200ZE":"SUPER T√âN√âR√â 1200","XT1200ZE (XT1200ZE SUPER TENERE)":"SUPER T√âN√âR√â 1200",
        "XT1200Z (XT1200Z SUPER TENERE)":"SUPER T√âN√âR√â 1200","XT 1200 Z":"SUPER T√âN√âR√â 1200",
        # Supersport
        "YZF-R1":"YZF-R1","YZF R1":"YZF-R1","YZF-R1M":"YZF-R1M",
        "YZF-R6":"YZF-R6","YZF R6":"YZF-R6",
        "YZF-R3A":"YZF-R3","YZF-R3A (YZF-R3)":"YZF-R3","YZF320-A (YZF-R3)":"YZF-R3","YZF320-A":"YZF-R3",
        "YZF-R125":"YZF-R125","YZF-R125A":"YZF-R125","YZF - R 125":"YZF-R125",
        "R7":"YZF-R7",
        # Sport Touring / FJRs
        "FJR1300":"FJR1300","FJR1300AE":"FJR1300","FJR 1300":"FJR1300","FJR 1300 AE":"FJR1300","FJR 1300-A":"FJR1300",
        # Naked/others
        "FZ6":"FZ6","FZ8":"FZ8","XJ6":"XJ6","XJ6NA":"XJ6","XJ 6":"XJ6",
        "MT01":"MT-01","MT 125":"MT-125","MT-125":"MT-125","MT125":"MT-125","MTM125":"MT-125","MTM125-C":"MT-125",
        "MT 03":"MT-03","MTN320-A":"MT-03","MTN320-A (MT-03)":"MT-03",
        # Maxiscooters
        "XP530-A (TMAX SX)":"TMAX","XP530D-A (TMAX DX)":"TMAX","XP530D-A":"TMAX","XP530E-A (TMAX)":"TMAX",
        "XP560":"TMAX","XP560D":"TMAX","XP560E":"TMAX","XP500":"TMAX","XP500A":"TMAX",
        "X-MAX 125":"XMAX 125","X-MAX 300":"XMAX 300","XMAX 300":"XMAX 300","X-MAX 400":"XMAX 400","X-MAX IRON MAX 300":"XMAX 300",
        "X-MAX IRON MAX 400":"XMAX 400","CZD300-A (X-MAX 300)":"XMAX 300","CZD300-A":"XMAX 300","CZD300-A SP":"XMAX 300",
        "CZD300-A SP (X-MAX IRON MAX 300)":"XMAX 300","CZD300D-A":"XMAX 300",
        "YP125R":"XMAX 125","YP125RA":"XMAX 125","YP125RA (X-MAX 125)":"XMAX 125","YP125RA SP (X-MAX TECH MAX 125)":"XMAX 125",
        "YP400R":"XMAX 400","YP400RA":"XMAX 400","YP400RA (X-MAX 400)":"XMAX 400","YP400RA SP (X-MAX IRON MAX 400)":"XMAX 400",
        "GPD125-A":"NMAX 125","GPD125D-A":"NMAX 125","GPD-125-A (NMAX)":"NMAX 125","NMAX 155":"NMAX 155","NMAX 150":"NMAX 155",
        "MWS125-A (TRICITY ABS)":"TRICITY 125","MWS125-C":"TRICITY 125","TRICITY":"TRICITY 125",
        # Others
        "XSR700":"XSR700","XSR700 35KW":"XSR700 35KW","XSR900":"XSR900",
        "VMX1700":"V-MAX","VMX 1700":"V-MAX","VMX17":"V-MAX","VMX":"V-MAX",
        "V-MAX":"V-MAX",
        "MAJESTY":"MAJESTY",
        "WR450F":"WR450F","WR 450":"WR450F","WR450":"WR450F","WR125R":"WR125R","WR125X":"WR125X","WR250":"WR250",
        "TW200":"TW200",
        "SCR950":"SCR950","SCR 950":"SCR950",
        "XJR1300":"XJR1300",
        "TDM900":"TDM900",
        "YBR125":"YBR125","YBR250":"YBR250",
        "SR400":"SR400",
    }
    return code_alias.get(u, "")

def norm_yamaha(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    # direct marketing names first
    direct = ["MT-07","MT-09","MT-09 SP","MT-10","MT-10 SP","MT-03","MT-125","TRACER 7","TRACER 9","TRACER 9 GT",
              "TRACER 900","TRACER 900 GT","XSR700","XSR900","T√âN√âR√â 700","T√âN√âR√â 700 RALLY","SUPER T√âN√âR√â 1200",
              "YZF-R1","YZF-R1M","YZF-R6","YZF-R3","YZF-R7","FJR1300","FZ6","FZ8","XJ6","TDM900","XJR1300",
              "WR125R","WR125X","WR250","WR450F","TW200","NMAX 125","NMAX 155","TRICITY 125","TMAX","XMAX 125","XMAX 300","XMAX 400",
              "MAJESTY","V-MAX","SCR950","SR400"]
    if any(u.startswith(d) for d in direct):
        # normalize accents variants
        return u.replace("TENERE","T√âN√âR√â")
    # try code map
    m = _yam_code_map(u)
    if m: return m
    # noisy generics we can safely drop
    if u in {"NAN","SJ01","F28","YAMAHA 700RT","700RT","YAMAHA GRIZZLY700","YAMAHA GRIZZLY 700","YAMAHA YFM250R","YAMAHA YFZ450","YFM350R-W","GRIZZLY 700"}:
        return ""
    # last resorts
    if "TENERE" in u: return "T√âN√âR√â 700"
    if "TRACER" in u: return "TRACER 9" if "9" in u else ("TRACER 7" if "7" in u else "TRACER 900")
    if u.startswith("YZF"):  # e.g., YZF600(YZF-R6)
        if "R6" in u: return "YZF-R6"
        if "R3" in u: return "YZF-R3"
        if "R1" in u: return "YZF-R1"
        if "R125" in u: return "YZF-R125"
    return ""

brand = "YAMAHA"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_yamaha)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[YAMAHA] BEFORE: rows=297, unique_models=296
[YAMAHA] AFTER:  rows=68, unique_models=68  (Œîrows=-229, Œîmodels=-228)

## ZERO MOTORCYCLES

In [283]:
def norm_zero(model: str) -> str:
    u = _u(model)
    if _empty(u): return ""
    u = u.replace("ZERO MOTORCYCLES ", "").replace("ZERO MOTORCYCLE ", "")
    # base families
    bases = ["DSR/X","DSR","DS","SR/F","SR/S","SR","S","FXE","FX"]
    # normalize formatting like "SR/S17.3" -> "SR/S"
    u = u.replace("SR/S17.3","SR/S").replace("SR/S 17.3","SR/S").replace("SR/S ZF17.3","SR/S")
    u = u.replace("SR/F ZF17.3","SR/F").replace("SR/F ZF15.6","SR/F").replace("SR/F ZF14.4","SR/F")
    u = u.replace("SR/F ZF14.4 PREMIUM","SR/F")
    u = u.replace("SR ZF15.6+","SR").replace("SR ZF15.6","SR").replace("SR ZF14.4","SR").replace("SR ZF13.0","SR")
    u = u.replace("S ZF14.4","S").replace("S 14.4","S").replace("S 11KW ZF14.4","S").replace("S ZF13.0 11 KW","S")
    u = u.replace("DS ZF14.4 11KW","DS").replace("DS 11KW ZF14.4","DS").replace("DS 14.4 11KW","DS").replace("DS ZF13.0","DS")
    u = u.replace("DSR ZF14.4","DSR")
    u = u.replace("DSR/X ZF17.3","DSR/X").replace("DSR/X 17.3","DSR/X")
    u = u.replace("FX ZF7.2","FX").replace("FXE ZF7.2","FXE").replace("FXE 11KW ZF7.2","FXE").replace("FXE ZF7.2 A1","FXE")
    # plain mapping
    for b in bases:
        if u.startswith(b): return b
    # unknowns
    if u in {"MC"}: return ""
    return ""

brand = "ZERO MOTORCYCLES"
m, br, bm = _report(df_cleaned, brand)
df_cleaned.loc[m, "model"] = df_cleaned.loc[m, "model"].map(norm_zero)
df_cleaned = pd.concat(
    [df_cleaned[~m], df_cleaned[m & df_cleaned["model"].ne("")].drop_duplicates(["brand","model"])],
    ignore_index=True
)
_after_report(df_cleaned, brand, br, bm)

[ZERO MOTORCYCLES] BEFORE: rows=38, unique_models=38
[ZERO MOTORCYCLES] AFTER:  rows=9, unique_models=9  (Œîrows=-29, Œîmodels=-29)

## Final saving

In [284]:
print("Size after complete cleaning:", df_cleaned.shape)

print("Percentage of data remaining:", round(df_cleaned.shape[0] / df.shape[0] * 100, 2), "%")

Size after complete cleaning: (3843, 20)
Percentage of data remaining: 28.84 %

In [285]:
df_cleaned.drop(labels=["economy_rate"], axis=1, inplace=True)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3843 entries, 0 to 3842
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   brand                        3843 non-null   object
 1   model                        3843 non-null   object
 2   fuel_types_primary           3843 non-null   object
 3   resold_flag                  3843 non-null   int64
 4   inrichting_std               3843 non-null   object
 5   seats_median                 3843 non-null   float64
 6   mass_empty_median            3843 non-null   float64
 7   length_median                3113 non-null   float64
 8   width_median                 3233 non-null   float64
 9   wheelbase_median             3843 non-null   float64
 10  pw_ratio_median              3843 non-null   float64
 11  datum_eerste_toelating_year  3843 non-null   int64
 12  count_2023                   3843 non-null   float64
 13  count_2024                   3843 non-null   float64
 14  count_2025                   3843 non-null   float64
 15  avg_2023                     2626 non-null   float64
 16  avg_2024                     2708 non-null   float64
 17  avg_2025                     2560 non-null   float64
 18  image_url                    3843 non-null   object
dtypes: float64(12), int64(2), object(5)
memory usage: 570.6+ KB

In [286]:
is_empty = df_cleaned["image_url"].apply(
    lambda x: (isinstance(x, (list, tuple)) and len(x) == 0) or x == "[]"
)
num_empty = is_empty.sum()
pct_empty = is_empty.mean() * 100
print(f"{num_empty} rows empty ({pct_empty:.2f}%)")

2270 rows empty (59.07%)

In [287]:
output_path = "/content/brand_model_peryear_cleaned_final.csv"
df_cleaned.to_csv(output_path, index=False)
print("‚úÖ Cleaned CSV saved as:", output_path)

‚úÖ Cleaned CSV saved as: /content/brand_model_peryear_cleaned_final.csv

## trying to re-fetch the data for the images with the new ds

In [288]:
# === Domain preferences / filters ===
PREFERRED_DOMAINS = {
    r"\b(bmw\.(com|de|nl)|press\.bmwgroup\.com)\b": 6,
    r"\b(mercedes-benz\.(com|nl)|media\.mercedes-benz\.com)\b": 6,
    r"\b(audi\.(com|de|nl)|audi-mediacenter)\b": 6,
    r"\b(skoda-auto\.(com|nl)|skoda-storyboard)\b": 6,
    r"\b(renault\.(com|fr|nl)|media\.renault)\b": 6,
    r"\b(dacia\.(ro|fr|nl|com))\b": 5,
    r"\b(volkswagen\.(com|de|nl)|vw\.(com|de)|volkswagen-newsroom)\b": 6,
    r"\b(cupraofficial|seat\.(com|es)|seatsa\.)\b": 5,
    r"\b(opel\.(de|com|nl)|media\.stellantis)\b": 5,
    r"\b(kia\.(com|nl)|kia-press)\b": 5,
    r"\b(hyundai\.(com|nl)|hyundainews)\b": 5,
    r"\b(mazda\.(com|nl)|newsroom\.mazda)\b": 5,
    r"\b(peugeot\.(fr|com|nl)|media\.stellantis)\b": 5,
    r"\b(citroen\.(fr|com|nl)|media\.stellantis)\b": 5,
    r"\b(landrover\.(com|nl)|media\.jaguarlandrover)\b": 5,
    r"\b(volvocars\.(com|nl)|media\.volvocars)\b": 6,
    r"\b(porsche\.(com|de)|newsroom\.porsche)\b": 6,
    r"\b(toyota\.(com|co\.jp|nl)|newsroom\.toyota|toyotanewsroom)\b": 5,
    r"\b(polaris|polestar\.(com|net))\b": 5,
    r"\b(byd\.(com|eu)|bydauto)\b": 4,
    r"\b(mg\.co\.uk|mgmotor)\b": 3,
    r"\b(wikimedia|upload\.wikimedia|commons\.wikimedia)\b": 5,
    r"\b(autocar|carmagazine|topgear|autoexpress|caranddriver|motor1|autoblog)\b": 3,
}
BANNED_DOMAINS = [
    r"\b(pinterest|pinimg|facebook|instagram|x\.com|twitter)\b",
    r"\b(alamy|istockphoto|gettyimages|dreamstime|shutterstock|stock)\b",
    r"\b(ebay|marktplaats|craigslist)\b",
    r"\b(wish|dhgate|temu)\b",
    r"\b(fandom)\b",
]

def _score_url(url: str) -> int:
    u = (url or "").lower()
    score = 0
    for pat, pts in PREFERRED_DOMAINS.items():
        if re.search(pat, u):
            score += pts
    for pat in BANNED_DOMAINS:
        if re.search(pat, u):
            score -= 5
    if u.endswith((".jpg", ".jpeg", ".png")):
        score += 1
    if any(k in u for k in ("/press", "/media", "newsroom")):
        score += 1
    return score

In [289]:
def _build_image_query(brand: str, model: str, extra_hint: Optional[str] = None) -> str:
    brand = str(brand).strip()
    model = str(model).strip()
    tail = extra_hint or "press photo"
    q = f"{brand} {model} {tail}"
    return re.sub(r"\s+", " ", q).strip()

def _google_cse_images(query: str, api_key: str, cx: str,
                       num: int = 10, start: int = 1, timeout: int = 20) -> List[Dict]:
    if not api_key or not cx:
        return []
    params = {
        "q": query,
        "searchType": "image",
        "num": max(1, min(num, 10)),
        "start": max(1, start),
        "safe": "active",
        "imgType": "photo",
        "key": api_key,
        "cx": cx,
        "gl": "nl",
        "hl": "nl",
        "lr": "lang_nl|lang_en",
    }
    url = "https://www.googleapis.com/customsearch/v1"
    for attempt in range(3):
        try:
            r = requests.get(url, params=params, timeout=timeout)
            if r.status_code == 429:
                time.sleep(1.0 + attempt)
                continue
            r.raise_for_status()
            data = r.json() or {}
            return data.get("items", []) or []
        except requests.RequestException:
            time.sleep(0.5 + attempt * 0.5)
    return []

def _head_ok(u: str, timeout: int = 8) -> bool:
    try:
        h = requests.head(u, allow_redirects=True, timeout=timeout)
        if 200 <= h.status_code < 400:
            ctype = h.headers.get("Content-Type", "").lower()
            if "image" in ctype or any(u.lower().endswith(ext) for ext in (".jpg",".jpeg",".png",".webp",".gif")):
                return True
        g = requests.get(u, stream=True, allow_redirects=True, timeout=timeout)
        if 200 <= g.status_code < 400:
            return "image" in g.headers.get("Content-Type", "").lower()
    except requests.RequestException:
        pass
    return False

def _pick_best_image(items: List[Dict], validate: bool = True) -> Optional[str]:
    candidates = []
    for it in items:
        link = it.get("link") or (it.get("image") or {}).get("thumbnailLink")
        if link:
            candidates.append(link)
    if not candidates:
        return None
    candidates = sorted(set(candidates), key=lambda u: _score_url(u), reverse=True)
    if not validate:
        return candidates[0]
    for u in candidates[:5]:
        if _head_ok(u):
            return u
    return candidates[0]

def _google_images_ui_link(brand: str, model: str) -> str:
    q = f"{brand} {model} car photo"
    params = {"tbm": "isch", "q": q, "gl": "nl", "hl": "nl", "lr": "lang_nl|lang_en"}
    return "https://www.google.com/search?" + urllib.parse.urlencode(params)

In [290]:
def enrich_df_cleaned_with_images(df_cleaned,
                                  brand_col: str = "brand",
                                  model_col: str = "model",
                                  out_cols: List[str] = ("image_url_1","image_url_2","image_url_3","images_search_url"),
                                  validate_urls: bool = True,
                                  sleep_s: Optional[float] = None):
    """
    Adds image_url_1 (+alternates) and a manual Google Images UI link to df_cleaned.
    """
    if GIMG_API_KEY == "" or GIMG_CSE_ID == "":
        print("[WARN] GOOGLE_API_KEY/GOOGLE_CSE_ID missing ‚Äî only adding images_search_url.")
    work = df_cleaned.copy()
    # Ensure columns exist
    for c in out_cols:
        if c not in work.columns:
            work[c] = None

    for idx, row in work.iterrows():
        brand = str(row.get(brand_col, "")).strip()
        model = str(row.get(model_col, "")).strip()

        # Always provide a manual search link for quick verification
        work.at[idx, out_cols[-1]] = _google_images_ui_link(brand, model)

        # If API keys are missing skip automated fetch
        if not GIMG_API_KEY or not GIMG_CSE_ID or not brand or not model:
            continue

        query = _build_image_query(brand, model)
        items = _google_cse_images(query, GIMG_API_KEY, GIMG_CSE_ID, num=10)

        candidates = []
        for it in items:
            link = it.get("link") or (it.get("image") or {}).get("thumbnailLink")
            if link:
                candidates.append(link)
        candidates = sorted(set(candidates), key=lambda u: _score_url(u), reverse=True)

        chosen = None
        if candidates:
            if validate_urls:
                for u in candidates[:5]:
                    if _head_ok(u):
                        chosen = u
                        break
            if not chosen:
                chosen = candidates[0]

        work.at[idx, out_cols[0]] = chosen
        # store a couple alternates for manual override
        for j in range(1, min(len(out_cols)-1, len(candidates))):
            work.at[idx, out_cols[j]] = candidates[j]

        time.sleep(GIMG_SLEEP_S if sleep_s is None else sleep_s)

    return work

In [291]:
# === After df_cleaned is ready ===
print(f"[IMG] Starting Google image enrichment on df_cleaned (rows={len(df_cleaned)})")
df_cleaned = enrich_df_cleaned_with_images(
    df_cleaned,
    brand_col="brand",
    model_col="model",
    out_cols=("image_url_1","image_url_2","image_url_3","images_search_url"),
    validate_urls=True,            # set False to speed up
    sleep_s=None                   # uses GIMG_SLEEP_S env (default 0.25s)
)
# Save a copy with the new columns (keep your existing file untouched)
out_csv = "df_cleaned_with_images.csv"
df_cleaned.to_csv(out_csv, index=False)
print(f"[IMG] Wrote {out_csv} (rows={len(df_cleaned)})")

[IMG] Starting Google image enrichment on df_cleaned (rows=3843)
[IMG] Wrote df_cleaned_with_images.csv (rows=3843)

In [292]:
is_empty_1 = df_cleaned["image_url_1"].apply(
    lambda x: (isinstance(x, (list, tuple)) and len(x) == 0) or x == "[]"
)
is_empty_2 = df_cleaned["image_url_2"].apply(
    lambda x: (isinstance(x, (list, tuple)) and len(x) == 0) or x == "[]"
)
is_empty_3 = df_cleaned["image_url_3"].apply(
    lambda x: (isinstance(x, (list, tuple)) and len(x) == 0) or x == "[]"
)
is_empty_4 = df_cleaned["images_search_url"].apply(
    lambda x: (isinstance(x, (list, tuple)) and len(x) == 0) or x == "[]"
)
num_empty1 = ((is_empty_1.sum()).mean())*100
num_empty2 = ((is_empty_2.sum()).mean())*100
num_empty3 = ((is_empty_3.sum()).mean())*100
num_empty4 = ((is_empty_4.sum()).mean())*100

print(f"column image_url_1 has {num_empty1} rows empty ({pct_empty:.2f}%)")
print(f"column image_url_2 has {num_empty2} rows empty ({pct_empty:.2f}%)")
print(f"column image_url_3 has {num_empty3} rows empty ({pct_empty:.2f}%)")
print(f"column images_search_url has {num_empty4} rows empty ({pct_empty:.2f}%)")

column image_url_1 has 0.0 rows empty (59.07%)
column image_url_2 has 0.0 rows empty (59.07%)
column image_url_3 has 0.0 rows empty (59.07%)
column images_search_url has 0.0 rows empty (59.07%)

In [293]:
# Count rows where all 4 URL columns are the same
same_all_4 = (
    df_cleaned["image_url_1"] == df_cleaned["image_url_2"]
) & (
    df_cleaned["image_url_1"] == df_cleaned["image_url_3"]
) & (
    df_cleaned["image_url_1"] == df_cleaned["images_search_url"]
)

num_same_all_4 = same_all_4.sum()
pct_same_all_4 = (num_same_all_4 / len(df_cleaned)) * 100

print(f"‚úÖ {num_same_all_4} rows ({pct_same_all_4:.2f}%) have all four URLs identical.")

# (Optional) Check rows where the three image URLs (1, 2, 3) are the same (ignoring search URL)
same_first_three = (
    (df_cleaned["image_url_1"] == df_cleaned["image_url_2"]) &
    (df_cleaned["image_url_1"] == df_cleaned["image_url_3"])
)

num_same_first_three = same_first_three.sum()
pct_same_first_three = (num_same_first_three / len(df_cleaned)) * 100

print(f"{num_same_first_three} rows ({pct_same_first_three:.2f}%) have image_url_1, 2, and 3 identical.")

‚úÖ 0 rows (0.00%) have all four URLs identical.
0 rows (0.00%) have image_url_1, 2, and 3 identical.

In [294]:
df_cleaned[["brand", "model", "image_url_1", "image_url_2", "image_url_3", "images_search_url"]].head()

,brand,model,image_url_1,image_url_2,image_url_3,images_search_url
0,AUDI,Q4 45 e-tron,https://uploads.audi-mediacenter.com/system/pr...,https://uploads.audi-mediacenter.com/system/pr...,https://uploads.audi-mediacenter.com/system/pr...,https://www.google.com/search?tbm=isch&q=AUDI+...
1,AUDI,Q2,https://uploads.audi-mediacenter.com/system/pr...,https://uploads.audi-mediacenter.com/system/pr...,https://uploads.audi-mediacenter.com/system/pr...,https://www.google.com/search?tbm=isch&q=AUDI+...
2,AUDI,A3 Sportback,https://uploads.audi-mediacenter.com/system/pr...,https://uploads.audi-mediacenter.com/system/pr...,https://daisypstrg.blob.core.windows.net/vehic...,https://www.google.com/search?tbm=isch&q=AUDI+...
3,AUDI,A1 Sportback,https://uploads.audi-mediacenter.com/system/pr...,https://uploads.audi-mediacenter.com/system/pr...,https://daisypstrg.blob.core.windows.net/vehic...,https://www.google.com/search?tbm=isch&q=AUDI+...
4,AUDI,Q6 Suv e-tron Performance,https://uploads.audi-mediacenter.com/system/pr...,https://media.audi.com/is/image/audi/nemo/mode...,https://uploads.audi-mediacenter.com/system/pr...,https://www.google.com/search?tbm=isch&q=AUDI+...

In [298]:
# df_cleaned = df_cleaned.drop(columns=["image_url", "image_url_1", "images_search_url"])

files.download("df_cleaned_with_images.csv")

In [299]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3843 entries, 0 to 3842
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   brand                        3843 non-null   object
 1   model                        3843 non-null   object
 2   fuel_types_primary           3843 non-null   object
 3   resold_flag                  3843 non-null   int64
 4   inrichting_std               3843 non-null   object
 5   seats_median                 3843 non-null   float64
 6   mass_empty_median            3843 non-null   float64
 7   length_median                3113 non-null   float64
 8   width_median                 3233 non-null   float64
 9   wheelbase_median             3843 non-null   float64
 10  pw_ratio_median              3843 non-null   float64
 11  datum_eerste_toelating_year  3843 non-null   int64
 12  count_2023                   3843 non-null   float64
 13  count_2024                   3843 non-null   float64
 14  count_2025                   3843 non-null   float64
 15  avg_2023                     2626 non-null   float64
 16  avg_2024                     2708 non-null   float64
 17  avg_2025                     2560 non-null   float64
 18  image_url_2                  3841 non-null   object
 19  image_url_3                  3840 non-null   object
dtypes: float64(12), int64(2), object(6)
memory usage: 600.6+ KB

In [300]:
# ‚úÖ Rows where image_url_2 is null
null_img2 = df_cleaned[df_cleaned["image_url_2"].isna()]
print("Rows where image_url_2 is NULL:")
display(null_img2[['brand', 'model']])

Rows where image_url_2 is NULL:

         brand          model
1558  BURSTNER        BI 7003
2732      KABE  TM CRL 760LGB

In [302]:
# ‚úÖ Manually fill in missing image_url_2 links
df_cleaned.loc[
    (df_cleaned["brand"] == "BURSTNER") & (df_cleaned["model"] == "BI 7003"),
    "image_url_2"
] = "https://images.campersite.nl/4d26f395a80f01c713025d387c0328307e7337ecc884a2a280a27d62ff00ed95.jpg/640x480/normalfitcanvas/blank/webp"

df_cleaned.loc[
    (df_cleaned["brand"] == "KABE") & (df_cleaned["model"] == "TM CRL 760LGB"),
    "image_url_2"
] = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj-LwcMqViupE-SOCFhrJR2Hm-mQk4jD_wvQ&s"

In [301]:
# ‚úÖ Rows where image_url_3 is null
null_img3 = df_cleaned[df_cleaned["image_url_3"].isna()]
print("Rows where image_url_3 is NULL:")
display(null_img3)

Rows where image_url_3 is NULL:

,brand,model,fuel_types_primary,resold_flag,inrichting_std,seats_median,mass_empty_median,length_median,width_median,wheelbase_median,pw_ratio_median,datum_eerste_toelating_year,count_2023,count_2024,count_2025,avg_2023,avg_2024,avg_2025,image_url_2,image_url_3
1558,BURSTNER,BI 7003,Diesel,1,kampeerwagen,4.0,3015.0,699.0,232.0,404.0,0.000013,2019,1.0,0.0,0.0,44153.0,NaN,NaN,None,None
1583,BURSTNER,Burstner Gmbh Bit670,Diesel,0,kampeerwagen,4.0,2913.0,674.0,230.0,380.0,0.000010,2012,1.0,0.0,0.0,36000.0,NaN,NaN,x-raw-image:///d5c39aaa2edbba2590e815cbd2e400d...,None
2732,KABE,TM CRL 760LGB,Diesel,1,kampeerwagen,4.0,4050.0,782.0,233.0,450.0,0.000007,2020,0.0,1.0,0.0,NaN,65847.0,NaN,None,None

In [303]:
# ‚úÖ Manually fill in missing image_url_2 links
df_cleaned.loc[
    (df_cleaned["brand"] == "BURSTNER") & (df_cleaned["model"] == "BI 7003"),
    "image_url_3"
] = "https://images.campersite.nl/4d26f395a80f01c713025d387c0328307e7337ecc884a2a280a27d62ff00ed95.jpg/640x480/normalfitcanvas/blank/webp"

df_cleaned.loc[
    (df_cleaned["brand"] == "BURSTNER") & (df_cleaned["model"] == "Burstner Gmbh Bit670"),
    "image_url_3"
]="https://www.buerstner.com/buerstner/produktbilder/press-material/de/skyline-edition/image-thumb__105929__og-image/buerstner-skyline-edition-690-g-mj25-fahrzeug-timheuberger-web-1-.webp"
df_cleaned.loc[
    (df_cleaned["brand"] == "KABE") & (df_cleaned["model"] == "TM CRL 760LGB"),
    "image_url_3"
] = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj-LwcMqViupE-SOCFhrJR2Hm-mQk4jD_wvQ&s"

In [304]:
# ‚úÖ Rows where image_url_2 is null
null_img2 = df_cleaned[df_cleaned["image_url_2"].isna()]
print("Rows where image_url_2 is NULL:")
display(null_img2[['brand', 'model']])

null_img3 = df_cleaned[df_cleaned["image_url_3"].isna()]
print("Rows where image_url_3 is NULL:")
display(null_img3[['brand', 'model']])

Rows where image_url_2 is NULL:

Empty DataFrame
Columns: [brand, model]
Index: []

Rows where image_url_3 is NULL:

Empty DataFrame
Columns: [brand, model, fuel_types_primary, resold_flag, inrichting_std, seats_median, mass_empty_median, length_median, width_median, wheelbase_median, pw_ratio_median, datum_eerste_toelating_year, count_2023, count_2024, count_2025, avg_2023, avg_2024, avg_2025, image_url_2, image_url_3]
Index: []

In [305]:
out_csv = "df_cleaned_FINAL.csv"
df_cleaned.to_csv(out_csv, index=False)
print(f"[IMG] Wrote {out_csv} (rows={len(df_cleaned)})")
files.download("df_cleaned_FINAL.csv")

[IMG] Wrote df_cleaned_FINAL.csv (rows=3843)